Repository paperless-ngx/paperless-ngx, pull requests merged in 2022-08, with the labels that each got.

#1316 Feature: Remove requirements.txt and use pipenv everywhere
  .github/workflows/ci.yml
  CODEOWNERS
  Dockerfile
  requirements.txt
Labels: non-trivial, backend, ci-cd

#1305 Fix: missing tooltip translation & filter editor wrapping
  src-ui/messages.xlf
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.scss
Labels: bug, frontend, small-change

#1349 Revert: "Bump watchfiles from 0.15.0 to 0.16.1"
  Pipfile.lock
Labels: small-change

#1352 docs: fix small typo
  docs/index.rst
Labels: documentation, small-change

#1354 Bugfix: Chain exceptions during exception handling
  src/documents/classifier.py
  src/documents/consumer.py
  src/paperless_mail/mail.py
  src/paperless_tesseract/parsers.py
  src/paperless_tika/parsers.py
Labels: non-trivial, backend

#1358 Bugfix: Allow webserver bind address to be configured
  docs/configuration.rst
  gunicorn.conf.py
Labels: documentation, small-change

#1362 Chore: use pre-commit in the Ci workflow
  .github/workflows/ci.yml
  .github/workflows/reusable-ci-backend.yml
  .github/workflows/reusable-ci-frontend.yml
  docker/docker-entrypoint.sh
  docker/paperless_cmd.sh
  src-ui/src/manifest.webmanifest
Labels: non-trivial, frontend, ci-cd

#1370 Fix: correct date pasting with other formats
  src-ui/src/app/components/common/input/date/date.component.ts
Labels: bug, frontend, small-change

#1369 Fix: Correct browser unsaved changes warning
  src-ui/messages.xlf
  src-ui/src/app/app-routing.module.ts
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/guards/dirty-doc.guard.ts
  src-ui/src/app/services/open-documents.service.ts
Labels: bug, non-trivial, frontend

#1376 Fix: saved view page parameter
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/document-list.component.ts
  src-ui/src/app/services/document-list-view.service.ts
  src-ui/src/app/utils/query-params.ts
Labels: bug, non-trivial, frontend

#1387 Bugfix: Catch all exceptions during the task signals
  src/documents/signals/handlers.py
Labels: backend, small-change

#1391 Chore: Update Python deps
  .editorconfig
  Pipfile
  Pipfile.lock
Labels: small-change, dependencies

#1396 Chore: Add `autolabeler` to label PRs based on `ref` and title
  .github/release-drafter.yml
  .github/workflows/project-actions.yml
Labels: non-trivial, ci-cd

#1397 Chore: Exclude dependabot PRs from Project, set status to "Needs Review"
  .github/workflows/project-actions.yml
Labels: small-change, ci-cd

#1420 Fix: dev backend testing
  .github/workflows/ci.yml
Labels: ci-cd

#1412 Fix: `created_date` should not be required
  src/documents/serialisers.py
Labels: backend, small-change

#1415 Update scanners.rst
  docs/scanners.rst
Labels: documentation, small-change

#1441 Changes to Redis documentation
  docs/configuration.rst
Labels: documentation, non-trivial

#1445 Chore: Bump Python dependencies
  .pre-commit-config.yaml
  Pipfile.lock
Labels: small-change, dependencies

#1440 Feature: Preserve original filename in metadata
  docs/advanced_usage.rst
  src-ui/messages.xlf
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/data/paperless-document-metadata.ts
  src/documents/admin.py
  src/documents/consumer.py
  src/documents/migrations/1023_document_original_filename.py
  src/documents/models.py
  src/documents/views.py
Labels: enhancement, non-trivial, backend, frontend

#1446 Feature: Adds storage paths to re-tagger command
  docs/administration.rst
  src/documents/management/commands/document_retagger.py
  src/documents/signals/handlers.py
  src/documents/tests/test_management_retagger.py
Labels: documentation, enhancement, non-trivial, backend

#1450 docs: scanners: add Brother ads4700w
  docs/scanners.rst
Labels: documentation, small-change

#1442 Bugfix: Fixes the creation of an archive file, even if noarchive was specified
  src/paperless_tesseract/parsers.py
  src/paperless_tesseract/tests/test_parser.py
Labels: bug, backend

#1421 Feature: Event driven consumer
  docker/supervisord.conf
  src/documents/management/commands/document_consumer.py
  src/documents/tests/test_management_consumer.py
Labels: enhancement, non-trivial, backend

#1460 Fix paperless.conf.example typo
  paperless.conf.example
Labels: bug, small-change

#1461 Revert "Bump sphinx from 5.0.2 to 5.1.1"
  Pipfile
  Pipfile.lock
Labels: small-change

#1367 Adding date suggestions to the documents details view
  docs/configuration.rst
  paperless.conf.example
  src-ui/src/app/components/common/input/date/date.component.html
  src-ui/src/app/components/common/input/date/date.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/data/paperless-document-suggestions.ts
  src/documents/parsers.py
  src/documents/tests/test_api.py
  src/documents/tests/test_date_parsing.py
  src/documents/views.py
  src/paperless/settings.py
Labels: documentation, enhancement, non-trivial, backend, frontend

#1375 Feature: document comments
  docs/index.rst
  src-ui/cypress/e2e/documents/document-detail.cy.ts
  src-ui/cypress/fixtures/documents/1/comments.json
  src-ui/messages.xlf
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/document-comments/document-comments.component.html
  src-ui/src/app/components/document-comments/document-comments.component.scss
  src-ui/src/app/components/document-comments/document-comments.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/manage/settings/settings.component.html
  src-ui/src/app/components/manage/settings/settings.component.ts
  src-ui/src/app/data/paperless-document-comment.ts
  src-ui/src/app/data/paperless-uisettings.ts
  src-ui/src/app/data/user.ts
  src-ui/src/app/services/rest/document-comments.service.ts
  src/documents/management/commands/document_exporter.py
  src/documents/migrations/1023_add_comments.py
  src/documents/migrations/1024_merge_20220824_1341.py
  src/documents/models.py
  src/documents/tests/test_api.py
  src/documents/tests/test_management_exporter.py
  src/documents/views.py
Labels: non-trivial, backend, frontend

#1451 Feature: Even better re-do of OCR
  src/documents/bulk_edit.py
  src/documents/management/commands/document_archiver.py
  src/documents/management/commands/document_redo_ocr.py
  src/documents/tasks.py
  src/documents/tests/test_management.py
Labels: enhancement, non-trivial, backend

#1463 Fix: Add missing filter rule types to SavedViewFilterRule model & fix migrations
  src-ui/src/app/data/filter-rule-type.ts
  src/documents/migrations/1023_add_comments.py
  src/documents/migrations/1024_document_original_filename.py
  src/documents/migrations/1024_merge_20220824_1341.py
  src/documents/migrations/1025_alter_savedviewfilterrule_rule_type.py
  src/documents/models.py
Labels: bug, backend, small-change

#1488 Fix actions button in tasks table
  src-ui/src/app/components/manage/tasks/tasks.component.html
Labels: bug, frontend, small-change

#1350 Info about installing on subpath
  docker/compose/docker-compose.env
  docs/configuration.rst
Labels: documentation, non-trivial
