Repository paperless-ngx/paperless-ngx, pull requests merged in 2022-11, with the labels that each got.

#1922 Chore: Reduce nuisance CI test failures
  src/paperless_tika/tests/test_live_tika.py
Labels: bug, backend

#1905 Bugfix: Prevent file handling from running with stale data
  src/documents/consumer.py
  src/documents/signals/handlers.py
  src/documents/tests/test_consumer.py
Labels: bug, non-trivial, backend

#1934 Fix mail consumption broken in `dev` after move to celery
  src/paperless_mail/mail.py
Labels: bug, backend, small-change

#1942 Fix: using `CONSUMER_SUBDIRS_AS_TAGS` causes failure with Celery in `dev`
  src/documents/management/commands/document_consumer.py
Labels: bug, backend, small-change

#1949 Chore: Bulk library updates + loosen restrictions
  Pipfile
  Pipfile.lock
Labels: small-change

#1954 Bugfix: Downgrade cryptography for armv7 compatibility
  Pipfile.lock
Labels: small-change, dependencies

#1953 Bugfix: Always re-try barcodes with pdf2image
  docs/configuration.rst
  src/documents/barcodes.py
  src/documents/tests/test_barcodes.py
  src/paperless/settings.py
Labels: bug, backend

#1967 Feature: Capture stdout & stderr of the pre/post consume scripts
  docs/advanced_usage.rst
  src/documents/consumer.py
  src/documents/tests/test_consumer.py
Labels: enhancement, non-trivial, backend

#1998 Bugfix: Don't allow exceptions during date parsing to fail consume
  src/documents/consumer.py
  src/documents/parsers.py
Labels: backend, small-change

#2016 Documentation: Update MariaDB docs to note some potential issues
  docs/advanced_usage.rst
  docs/configuration.rst
  docs/setup.rst
Labels: documentation, non-trivial

#2023 Bugfix: Fix created_date being a string
  src/documents/tasks.py
Labels: bug, backend, small-change

#2025 Add info that re-do OCR doesnt automatically refresh content
  src-ui/messages.xlf
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: frontend, small-change

#1984 Feature: Allows documents in WebP format
  src/paperless_tesseract/parsers.py
  src/paperless_tesseract/signals.py
  src/paperless_tesseract/tests/samples/document.webp
  src/paperless_tesseract/tests/test_parser.py
Labels: enhancement

#2055 Chore: Use a maintained upload-release-asset
  .github/workflows/ci.yml
Labels: small-change, ci-cd

#2057 Bugfix: Some tesseract languages aren't detected as installed.
  src/paperless_tesseract/checks.py
Labels: bug, backend, small-change

#2062 Bugfix: Don't silence an exception when trying to handle file naming
  src/documents/signals/handlers.py
Labels: bug, backend, small-change

#2066 Bugfix: Add libatomic for armv7 compatibility
  Dockerfile
Labels: bug
