Repository paperless-ngx/paperless-ngx, pull requests merged in 2022-07, with the labels that each got.

#1122 Feature / fix quick toggleable filters
  src-ui/messages.xlf
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
  src-ui/src/app/components/document-list/document-list.component.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
Labels: bug, non-trivial, frontend

#1139 Feature: Management command to redo OCR
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.html
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src/documents/bulk_edit.py
  src/documents/management/commands/document_redo_ocr.py
  src/documents/serialisers.py
  src/documents/tasks.py
Labels: non-trivial, backend

#957 Feature: make frontend timezone un-aware
  docs/api.rst
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.html
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/data/paperless-document.ts
  src-ui/src/app/pipes/custom-date.pipe.ts
  src-ui/src/app/services/rest/document.service.ts
  src-ui/src/app/utils/date.ts
  src-ui/src/app/utils/ngb-iso-date-adapter.ts
  src-ui/src/app/utils/ngb-iso-date-time-adapter.ts
  src/documents/models.py
  src/documents/serialisers.py
Labels: bug, enhancement, non-trivial, backend, frontend

#1034 Feature: Adds support for Docker secrets
  docker/docker-entrypoint.sh
  docs/setup.rst
Labels: enhancement, non-trivial, deployment

#1110 Chore: Add lsio question to issue form
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: small-change, ci-cd

#1140 Chore: Adds a new workflow to cleanup image tags
  .github/scripts/cleanup-tags.py
  .github/scripts/common.py
  .github/workflows/cleanup-tags.yml
Labels: non-trivial, ci-cd

#1133 Fix: Prevent duplicate api calls on text filtering
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
  src-ui/src/app/data/filter-rule.ts
  src-ui/src/app/services/document-list-view.service.ts
Labels: bug, non-trivial, frontend

#1020 Feature: frontend task queue
  src-ui/cypress/e2e/tasks/tasks.cy.ts
  src-ui/cypress/fixtures/tasks/tasks.json
  src-ui/src/app/app-routing.module.ts
  src-ui/src/app/app.component.ts
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/components/manage/tasks/tasks.component.html
  src-ui/src/app/components/manage/tasks/tasks.component.scss
  src-ui/src/app/components/manage/tasks/tasks.component.ts
  src-ui/src/app/data/paperless-task.ts
  src-ui/src/app/services/tasks.service.ts
  src/documents/migrations/1022_paperlesstask.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/signals/handlers.py
  src/documents/tests/test_api.py
  src/documents/views.py
  src/paperless/urls.py
Labels: enhancement, help wanted, non-trivial, backend, frontend

#1219 Feature: Don't push feature development branches to DockerHub
  .github/scripts/cleanup-tags.py
  .github/workflows/ci.yml
  .github/workflows/cleanup-tags.yml
  .gitignore
Labels: ci-cd

#1220 Bugfix: Include the actual OSError string when a file can't be opened for consumption
  src/documents/management/commands/document_consumer.py
Labels: non-trivial, backend

#1228 Chore: Update all dependencies and associated lock files
  .pre-commit-config.yaml
  Pipfile.lock
  requirements.txt
Labels: non-trivial, backend

#1154 Feature use env vars in pre post scripts
  docs/advanced_usage.rst
  scripts/post-consumption-example.sh
  src/documents/consumer.py
Labels: documentation, enhancement, non-trivial, backend

#1237 chore: Run stale bot only on certain labels
  .github/stale.yml
Labels: non-trivial, ci-cd

#1259 Chore: Add Hadolint job to CI
  .github/workflows/reusable-ci-backend.yml
  .hadolint.yml
  .pre-commit-config.yaml
  Dockerfile
  docs/Dockerfile
Labels: non-trivial, ci-cd

#1260 Chore: Normalize and make settings paths absolute
  src/paperless/settings.py
Labels: non-trivial, backend

#1269 Chore: Locks dependencies to the final versions for the beta
  Pipfile.lock
  requirements.txt
Labels: backend, small-change

#1276 Bugfix: Document import doesn't convert thumbnails to WebP
  src/documents/management/commands/document_importer.py
Labels: non-trivial, backend

#1272 Documentation: fix occasional code block color legibility
  docs/_static/css/custom.css
Labels: documentation, small-change

#1261 Fix: dropdown selected items not visible again
  src-ui/src/styles.scss
Labels: bug, frontend, small-change

#1268 Bugfix: Adds configuration for database timeout, fixing database locked error
  docs/configuration.rst
  docs/troubleshooting.rst
  src/documents/signals/handlers.py
  src/paperless/settings.py
Labels: documentation, non-trivial, backend

#1277 Fix/feature: add redo ocr button to document edit view
  src-ui/messages.xlf
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: non-trivial, frontend

#1303 Bugfix: Interaction between barcode and directories as tags
  src/documents/tasks.py
Labels: bug, backend, small-change
