Repository paperless-ngx/paperless-ngx, pull requests merged in 2022-12, with the labels that each got.

#2073 Fix: frontend tasks display in 1.10.0
  src-ui/cypress/e2e/tasks/tasks.cy.ts
  src-ui/cypress/fixtures/tasks/tasks.json
  src-ui/src/app/components/manage/tasks/tasks.component.html
  src-ui/src/app/data/paperless-task.ts
Labels: bug, non-trivial, frontend

#2082 Chore: Add v1.10.1 changelong
  docs/changelog.md
Labels: documentation, small-change

#2067 [WIP] Feature: Move docs to material-mkdocs
  .github/workflows/ci.yml
  .readthedocs.yml
  Pipfile
  Pipfile.lock
  docs/Makefile
  docs/_static/css/custom.css
  docs/_static/js/darkmode.js
  docs/_static/screenshots/mail-rules-edited.png
  docs/_templates/layout.html
  docs/administration.md
  docs/administration.rst
  docs/advanced_usage.md
  docs/advanced_usage.rst
  docs/api.md
  docs/api.rst
  docs/assets/.keep
  docs/assets/extra.css
  docs/assets/logo.svg
  docs/assets/logo_full_black.svg
  docs/assets/logo_full_white.svg
  docs/assets/recommended_workflow.png
  docs/assets/screenshots/bulk-edit.png
  docs/assets/screenshots/correspondents.png
  docs/assets/screenshots/dashboard.png
  docs/assets/screenshots/documents-filter.png
  docs/assets/screenshots/documents-largecards.png
  docs/assets/screenshots/documents-smallcards-dark.png
  docs/assets/screenshots/documents-smallcards.png
  docs/assets/screenshots/documents-table.png
  docs/assets/screenshots/documents-wchrome-dark.png
  docs/assets/screenshots/documents-wchrome.png
  docs/assets/screenshots/editing.png
  docs/assets/screenshots/logs.png
  docs/assets/screenshots/mail-rules-edited.png
  docs/assets/screenshots/mobile.png
  docs/assets/screenshots/new-tag.png
  docs/assets/screenshots/search-preview.png
  docs/assets/screenshots/search-results.png
  docs/changelog.md
  docs/conf.py
  docs/configuration.md
  docs/configuration.rst
  docs/development.md
  docs/extending.rst
  docs/faq.md
  docs/faq.rst
  docs/index.md
  docs/index.rst
  docs/requirements.txt
  docs/scanners.rst
  docs/screenshots.rst
  docs/setup.md
  docs/setup.rst
  docs/troubleshooting.md
  docs/troubleshooting.rst
  docs/usage.md
  docs/usage_overview.rst
  mkdocs.yml
Labels: documentation, help wanted, work-in-progress

#2095 Documentation: Update docs links and screenshot in readme, add favicon
  README.md
  docs/assets/favicon.png
  mkdocs.yml
Labels: small-change

#2102 Fix doc links in contributing
  CONTRIBUTING.md
Labels: bug, small-change

#2092 Bugfix: Incompatible URL schemes for socket based Redis
  src/paperless/settings.py
  src/paperless/tests/test_settings.py
Labels: bug, backend

#2106 Docs: Some more small MkDocs updates
  .gitignore
  docs/index.md
  mkdocs.yml
Labels: documentation, small-change

#2109 Bugfix: Redis socket compatibility didn't handle URLs with ports
  src/paperless/settings.py
  src/paperless/tests/test_settings.py
Labels: bug, backend, small-change

#1947 WIP: Take ownership of k8s-at-home Helm chart,
  .github/workflows/release-chart.yml
  .pre-commit-config.yaml
  charts/paperless-ngx/.helmignore
  charts/paperless-ngx/Chart.yaml
  charts/paperless-ngx/LICENSE
  charts/paperless-ngx/README.md
  charts/paperless-ngx/README_CONFIG.md.gotmpl
  charts/paperless-ngx/ci/ct-values.yaml
  charts/paperless-ngx/templates/NOTES.txt
  charts/paperless-ngx/templates/common.yaml
  charts/paperless-ngx/values.yaml
Labels: enhancement, help wanted, non-trivial, ci-cd, work-in-progress

#2112 Bugfix: Language code checks around two part languages
  src/paperless_tesseract/checks.py
  src/paperless_tesseract/tests/test_checks.py
Labels: bug, backend

#848 Feature: Ability to consume mails and eml files
  .github/workflows/ci.yml
  Pipfile
  Pipfile.lock
  docker/compose/docker-compose.ci-test.yml
  docker/compose/docker-compose.mariadb-tika.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.sqlite-tika.yml
  docs/configuration.md
  docs/troubleshooting.md
  scripts/start_services.sh
  src/paperless_mail/admin.py
  src/paperless_mail/apps.py
  src/paperless_mail/mail.py
  src/paperless_mail/migrations/0016_mailrule_consumption_scope.py
  src/paperless_mail/models.py
  src/paperless_mail/parsers.py
  src/paperless_mail/signals.py
  src/paperless_mail/templates/email_msg_template.html
  src/paperless_mail/templates/input.css
  src/paperless_mail/templates/output.css
  src/paperless_mail/templates/package-lock.json
  src/paperless_mail/templates/package.json
  src/paperless_mail/templates/tailwind.config.js
  src/paperless_mail/tests/samples/broken.eml
  src/paperless_mail/tests/samples/first.pdf
  src/paperless_mail/tests/samples/html.eml
  src/paperless_mail/tests/samples/html.eml.html
  src/paperless_mail/tests/samples/html.eml.pdf
  src/paperless_mail/tests/samples/html.eml.pdf.webp
  src/paperless_mail/tests/samples/sample.html
  src/paperless_mail/tests/samples/sample.html.pdf
  src/paperless_mail/tests/samples/sample.html.pdf.webp
  src/paperless_mail/tests/samples/sample.png
  src/paperless_mail/tests/samples/second.pdf
  src/paperless_mail/tests/samples/simple_text.eml
  src/paperless_mail/tests/samples/simple_text.eml.pdf
  src/paperless_mail/tests/samples/simple_text.eml.pdf.webp
  src/paperless_mail/tests/test_parsers.py
  src/paperless_mail/tests/test_parsers_live.py
Labels: enhancement, backend

#2000 Feature: frontend paperless mail
  src-ui/cypress/e2e/settings/settings.cy.ts
  src-ui/cypress/fixtures/mail_accounts/mail_accounts.json
  src-ui/cypress/fixtures/mail_rules/mail_rules.json
  src-ui/cypress/fixtures/saved_views/savedviews.json
  src-ui/messages.xlf
  src-ui/src/app/app-routing.module.ts
  src-ui/src/app/app.component.ts
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/common/edit-dialog/correspondent-edit-dialog/correspondent-edit-dialog.component.ts
  src-ui/src/app/components/common/edit-dialog/document-type-edit-dialog/document-type-edit-dialog.component.ts
  src-ui/src/app/components/common/edit-dialog/edit-dialog.component.ts
  src-ui/src/app/components/common/edit-dialog/mail-account-edit-dialog/mail-account-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/mail-account-edit-dialog/mail-account-edit-dialog.component.scss
  src-ui/src/app/components/common/edit-dialog/mail-account-edit-dialog/mail-account-edit-dialog.component.ts
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.scss
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.ts
  src-ui/src/app/components/common/edit-dialog/storage-path-edit-dialog/storage-path-edit-dialog.component.ts
  src-ui/src/app/components/common/edit-dialog/tag-edit-dialog/tag-edit-dialog.component.ts
  src-ui/src/app/components/common/input/number/number.component.html
  src-ui/src/app/components/common/input/number/number.component.ts
  src-ui/src/app/components/common/input/password/password.component.html
  src-ui/src/app/components/common/input/password/password.component.scss
  src-ui/src/app/components/common/input/password/password.component.ts
  src-ui/src/app/components/common/input/tags/tags.component.html
  src-ui/src/app/components/common/input/tags/tags.component.ts
  src-ui/src/app/components/manage/management-list/management-list.component.ts
  src-ui/src/app/components/manage/settings/settings.component.html
  src-ui/src/app/components/manage/settings/settings.component.ts
  src-ui/src/app/data/paperless-mail-account.ts
  src-ui/src/app/data/paperless-mail-rule.ts
  src-ui/src/app/guards/dirty-form.guard.ts
  src-ui/src/app/services/rest/mail-account.service.ts
  src-ui/src/app/services/rest/mail-rule.service.ts
  src-ui/src/styles.scss
  src/paperless/urls.py
  src/paperless_mail/serialisers.py
  src/paperless_mail/tests/test_api.py
  src/paperless_mail/views.py
Labels: enhancement, non-trivial, backend, frontend

#2118 Bump Helm Chart version to trigger release
  charts/paperless-ngx/Chart.yaml
Labels: small-change

#2137 Chore: Cleanup of new documentation
  docs/administration.md
  docs/advanced_usage.md
  docs/api.md
  docs/configuration.md
  docs/development.md
  docs/faq.md
  docs/index.md
  docs/setup.md
  docs/usage.md
  mkdocs.yml
Labels: documentation, small-change

#2134 Chore: Apply live testing backoff logic to new mail tests
  src/paperless_mail/tests/test_parsers_live.py
Labels: non-trivial, backend

#2157 Update setup.md
  docs/setup.md
Labels: documentation, small-change

#2172 Docs: Fix leftover issues from conversion
  docs/advanced_usage.md
  docs/changelog.md
  docs/setup.md
  docs/troubleshooting.md
  docs/usage.md
Labels: documentation, small-change

#2178 Chore: Decrease time to build pikepdf
  docker-builders/Dockerfile.pikepdf
Labels: small-change, ci-cd

#2181 Chore: Changes qpdf to be cross compiled for large speed up
  .github/workflows/installer-library.yml
  .github/workflows/reusable-workflow-builder.yml
  Dockerfile
  docker-builders/Dockerfile.pikepdf
  docker-builders/Dockerfile.psycopg2
  docker-builders/Dockerfile.qpdf
Labels: non-trivial, ci-cd

#2183 Bugfix: Don't run system checks on migrate
  docker/docker-prepare.sh
Labels: bug, small-change

#2156 Chore: Improves manual Docker building
  build-docker-image.sh
Labels: non-trivial

#2184 Feature: Adds PaperlessTask admin page interface
  src/documents/admin.py
Labels: enhancement, non-trivial, backend, ci-cd

#2004 Feature: Adds option to allow a user to export directly to a zipfile
  docs/administration.md
  src/documents/management/commands/document_exporter.py
  src/documents/tests/test_management_exporter.py
Labels: enhancement, non-trivial, backend

#2199 Chore: migrate to eslint
  .github/workflows/ci.yml
  src-ui/.eslintrc.json
  src-ui/angular.json
  src-ui/package-lock.json
  src-ui/package.json
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/common/clearable-badge/clearable-badge.component.ts
  src-ui/src/app/components/common/edit-dialog/edit-dialog.component.ts
  src-ui/src/app/components/common/edit-dialog/storage-path-edit-dialog/storage-path-edit-dialog.component.html
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
  src-ui/src/app/components/common/select-dialog/select-dialog.component.ts
  src-ui/src/app/components/common/tag/tag.component.ts
  src-ui/src/app/components/dashboard/widgets/statistics-widget/statistics-widget.component.html
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.ts
  src-ui/src/app/components/dashboard/widgets/welcome-widget/welcome-widget.component.ts
  src-ui/src/app/components/dashboard/widgets/widget-frame/widget-frame.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/metadata-collapse/metadata-collapse.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.ts
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.ts
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.html
  src-ui/src/app/components/manage/management-list/management-list.component.html
  src-ui/src/app/components/manage/settings/settings.component.html
  src-ui/src/app/components/manage/tasks/tasks.component.html
  src-ui/src/app/components/not-found/not-found.component.ts
  src-ui/src/app/directives/sortable.directive.ts
  src-ui/tslint.json
Labels: non-trivial, frontend, ci-cd

#2203 Docs: More fixes and improvements
  docs/setup.md
  docs/usage.md
Labels: documentation, small-change

#2227 Removing Mariadb default open port
  docker/compose/docker-compose.mariadb-tika.yml
  docker/compose/docker-compose.mariadb.yml
Labels: small-change

#2205 Fix: support `tags__id__none` in advanced search, fix tags filter badge count for excluded
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.html
  src/documents/index.py
Labels: bug, backend, frontend, small-change

#2166 Chore: Prevent forks from having failing CI runs by default
  .github/workflows/cleanup-tags.yml
Labels: small-change, ci-cd

#2255 Chore: Python library updates
  .pre-commit-config.yaml
  Pipfile.lock
  docker/docker-prepare.sh
Labels: small-change

#2241 Add ability to provide the configuration file path using an env variable
  docs/configuration.md
  src/paperless/settings.py
Labels: enhancement, backend, small-change

#2256 Fixed typo in docs
  docs/usage.md
Labels: bug, documentation, small-change

#2200 Chore: Adds "notable" label for release drafter
  .github/release-drafter.yml
Labels: non-trivial, ci-cd

#1665 Bugfix: Handle RTL languages better
  src/paperless_tesseract/parsers.py
  src/paperless_tesseract/tests/samples/rtl-test.pdf
  src/paperless_tesseract/tests/test_parser.py
Labels: bug

#2262 Chore: Downgrade hiredis to 2.0.0
  Pipfile.lock
Labels: enhancement, small-change

#2273 Fix: edit dialog creation in v1.11.0
  src-ui/src/app/components/common/input/tags/tags.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/manage/management-list/management-list.component.ts
  src-ui/src/app/components/manage/settings/settings.component.ts
Labels: bug, frontend, small-change

#2272 Fix: missing frontend email attachment options
  src-ui/messages.xlf
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.ts
  src-ui/src/app/data/paperless-mail-rule.ts
Labels: bug, non-trivial, frontend

#2280 Fix frontend mailrule missing consumption scope parameter
  src-ui/messages.xlf
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.ts
  src-ui/src/app/data/paperless-mail-rule.ts
  src/paperless_mail/serialisers.py
Labels: bug, non-trivial, backend, frontend

#2279 Bugfix: Return created task ID when posting document to API
  src/documents/tests/test_api.py
  src/documents/views.py
Labels: bug, non-trivial, backend

#2261 Bugfix: Reading environment from files didn't work for management commands
  Dockerfile
  docker/docker-entrypoint.sh
  docker/env-from-file.sh
  docker/management_script.sh
Labels: bug, non-trivial

#2292 Fix: live filterable dropdowns broken in 1.11.x
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.html
Labels: bug, frontend, small-change

#2293 Bugfix: Handle email dates maybe being naive
  src/paperless_mail/parsers.py
Labels: bug, non-trivial, backend, frontend
