Repository paperless-ngx/paperless-ngx, pull requests merged in 2022-02, with the labels that each got.

#2 Pdf viewer mobile improvements
  README.md
  ansible/tasks/main.yml
  docs/configuration.rst
  docs/setup.rst
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src/paperless/settings.py
Labels: imported

#9 Add white background to plaintext documents
  src-ui/src/app/components/document-detail/document-detail.component.html
Labels: imported

#29 Fixing broken link to docker CLI basics
  docs/setup.rst
Labels: imported

#45 Update usage_overview.rst
  docs/usage_overview.rst
Labels: imported

#32 #1382 Fix: Search box overlays menu on mobile
  src-ui/src/app/components/app-frame/app-frame.component.scss
Labels: imported

#49 Bump karma from 6.3.3 to 6.3.14 in /src-ui
  src-ui/package-lock.json
  src-ui/package.json
Labels: imported

#30 Tell users about multiple OCR languages in the install script
  install-paperless-ng.sh
Labels: imported

#38 Add two more scanner recommendations
  docs/scanners.rst
Labels: imported

#33 fixed command for setup script
  docs/setup.rst
Labels: imported

#31 Clarifying documentation on filename placeholders
  docs/advanced_usage.rst
Labels: imported

#42 add ansible role_name to fix ci
  ansible/meta/main.yml
Labels: imported

#46 Update setup.rst
  docs/setup.rst
Labels: imported

#28 Added hint to use Management Utilities
  docs/administration.rst
Labels: imported

#44 Increase visibility of PAPERLESS_PRE_CONSUME_SCRIPT
  ansible/defaults/main.yml
  ansible/tasks/main.yml
  paperless.conf.example
Labels: imported

#36 Update login.html to not autocapitalize username
  src/documents/templates/registration/login.html
Labels: imported

#53 Merging Non-Trivial PRs
  CONTRIBUTING.md
Labels: help wanted, non-trivial

#78 Sort languages
  src-ui/angular.json
  src-ui/src/app/services/settings.service.ts
  src/paperless/settings.py
Labels: non-trivial, frontend

#84 Enabled the Danish (da-dk) translations
  src-ui/angular.json
  src-ui/src/app/services/settings.service.ts
  src/paperless/settings.py
Labels: small-change

#83 Enabled the Czech (cs-cz) translations
  src-ui/angular.json
  src-ui/src/app/services/settings.service.ts
  src/paperless/settings.py
Labels: small-change

#80 Update name in docs
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/other.md
  docs/administration.rst
  docs/contributing.rst
  docs/extending.rst
  docs/faq.rst
  docs/index.rst
  docs/screenshots.rst
  docs/setup.rst
  docs/usage_overview.rst
  resources/logo.txt
Labels: documentation, small-change

#13 Warnings for unsaved changes, 'intelligent' buttons when editing
  src-ui/package-lock.json
  src-ui/package.json
  src-ui/src/app/app-routing.module.ts
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/components/common/confirm-dialog/confirm-dialog.component.html
  src-ui/src/app/components/common/confirm-dialog/confirm-dialog.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/manage/settings/settings.component.html
  src-ui/src/app/components/manage/settings/settings.component.ts
  src-ui/src/app/guards/dirty-form.guard.ts
  src-ui/src/app/services/open-documents.service.ts
Labels: imported, non-trivial, frontend

#105 Update frontend strings to Paperless-ngx
  src-ui/messages.xlf
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/dashboard/dashboard.component.ts
  src-ui/src/environments/environment.prod.ts
  src-ui/src/environments/environment.ts
  src-ui/src/index.html
  src-ui/src/locale/messages.ar_BH.xlf
  src-ui/src/locale/messages.ar_EG.xlf
  src-ui/src/locale/messages.ar_SA.xlf
  src-ui/src/locale/messages.ar_YE.xlf
  src-ui/src/locale/messages.cs_CZ.xlf
  src-ui/src/locale/messages.da_DK.xlf
  src-ui/src/locale/messages.de_DE.xlf
  src-ui/src/locale/messages.el_GR.xlf
  src-ui/src/locale/messages.en_GB.xlf
  src-ui/src/locale/messages.en_US.xlf
  src-ui/src/locale/messages.es_ES.xlf
  src-ui/src/locale/messages.fr_FR.xlf
  src-ui/src/locale/messages.he_IL.xlf
  src-ui/src/locale/messages.hu_HU.xlf
  src-ui/src/locale/messages.it_IT.xlf
  src-ui/src/locale/messages.km_KH.xlf
  src-ui/src/locale/messages.ko_KR.xlf
  src-ui/src/locale/messages.la_LA.xlf
  src-ui/src/locale/messages.lb_LU.xlf
  src-ui/src/locale/messages.nb_NO.xlf
  src-ui/src/locale/messages.nl_NL.xlf
  src-ui/src/locale/messages.no_NO.xlf
  src-ui/src/locale/messages.pl_PL.xlf
  src-ui/src/locale/messages.pt_BR.xlf
  src-ui/src/locale/messages.pt_PT.xlf
  src-ui/src/locale/messages.ro_RO.xlf
  src-ui/src/locale/messages.ru_RU.xlf
  src-ui/src/locale/messages.sl_SI.xlf
  src-ui/src/locale/messages.sv_SE.xlf
  src-ui/src/locale/messages.th_TH.xlf
  src-ui/src/locale/messages.xh_ZA.xlf
  src-ui/src/locale/messages.zh_CN.xlf
  src-ui/src/locale/messages.zh_TW.xlf
Labels: frontend, small-change

#103 Hide the password field
  src/paperless_mail/admin.py
Labels: non-trivial, backend

#10 Feature: any / all filtering with tags
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.html
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.scss
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
  src-ui/src/app/components/common/filterable-dropdown/toggleable-dropdown-button/toggleable-dropdown-button.component.html
  src-ui/src/app/components/common/filterable-dropdown/toggleable-dropdown-button/toggleable-dropdown-button.component.ts
  src-ui/src/app/components/document-list/document-list.component.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
  src-ui/src/app/components/manage/tag-list/tag-list.component.ts
  src-ui/src/app/data/filter-rule-type.ts
  src-ui/src/app/pipes/filter.pipe.ts
  src-ui/src/theme_dark.scss
  src/documents/filters.py
  src/documents/models.py
Labels: imported, non-trivial, backend, frontend

#104 Use the image on ghcr.io
  docker/compose/docker-compose.portainer.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.postgres.yml
  docker/compose/docker-compose.sqlite-tika.yml
  docker/compose/docker-compose.sqlite.yml
  docs/administration.rst
  docs/setup.rst
Labels: documentation, deployment

#110 Fix typo
  src/documents/signals/handlers.py
Labels: backend, small-change

#24 Add simple "delete to trash" functionality
  ansible/defaults/main.yml
  ansible/tasks/main.yml
  docs/configuration.rst
  paperless.conf.example
  src/documents/signals/handlers.py
  src/documents/tests/test_file_handling.py
  src/paperless/checks.py
  src/paperless/settings.py
Labels: imported, non-trivial, backend

#125 Add stale.yml
  .github/stale.yml
Labels: tools, small-change

#124 Allow specifying port through PAPERLESS_PORT environment variable
  docs/configuration.rst
  gunicorn.conf.py
Labels: backend, small-change

#132 Use a named volume for broker
  docker/compose/docker-compose.portainer.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.postgres.yml
  docker/compose/docker-compose.sqlite-tika.yml
  docker/compose/docker-compose.sqlite.yml
Labels: small-change, deployment

#133 Remove alpha layer from PNG files for img2pdf
  src/paperless_tesseract/parsers.py
  src/paperless_tesseract/tests/test_parser.py
Labels: backend, python

#138 Regenerate angular messages.xlf
  src-ui/messages.xlf
Labels: bug, frontend

#55 Update project name, copyright
  README.md
  docs/conf.py
Labels: documentation

#102 Update .env
  .env
Labels: small-change

#149 Misc frontend fixes
  src-ui/src/app/components/app-frame/app-frame.component.scss
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.scss
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.scss
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.scss
Labels: non-trivial, frontend

#160 Enable GitHub CodeQL
  .github/workflows/codeql-analysis.yml
Labels: non-trivial, ci-cd

#163 Fix whitespace issue in scanners.rst
  docs/scanners.rst
Labels: documentation, small-change

#156 Fix Armv7 Docker Build
  .github/workflows/ci.yml
  Dockerfile
Labels: non-trivial, ci-cd

#147 Restructure `README.md`
  CONTRIBUTING.md
  README.md
Labels: small-change

#170 Fix typo in `extending.rst`
  docs/extending.rst
Labels: documentation, small-change

#172 New Crowdin updates
  src-ui/src/locale/messages.zh_TW.xlf
Labels: non-trivial, frontend

#159 Update dependencies
  Pipfile
  Pipfile.lock
  requirements.txt
Labels: non-trivial, backend

#18 Enable non-root port 80 via systemd
  docs/setup.rst
  scripts/paperless-webserver.service
  scripts/paperless-webserver.socket
Labels: imported, deployment

#174 Fix dependency conflicts, broken frontend build
  src-ui/package-lock.json
  src-ui/package.json
Labels: bug, non-trivial, frontend, javascript

#185 Fix build --prod depreciated warning
  Dockerfile
  docs/extending.rst
Labels: documentation, small-change
