Repository paperless-ngx/paperless-ngx, pull requests merged in 2022-10, with the labels that each got.

#1696 Bugfix: Include document title when a duplicate is detected
  src/documents/consumer.py
Labels: bug, backend, small-change

#1726 Bugfix: csv recognition by consumer
  src/paperless_text/signals.py
Labels: bug, backend, small-change

#1733 Documentation: LinuxServer.io Migration
  docs/setup.rst
Labels: documentation, non-trivial

#1642 Feature: Upgrade to qpdf 11, pikepdf 6 & ocrmypdf 14
  .build-config.json
  Dockerfile
  Pipfile
  Pipfile.lock
  docker-builders/Dockerfile.pikepdf
  docker-builders/Dockerfile.qpdf
Labels: enhancement, small-change

#1692 Feature: frontend update checking settings
  docs/configuration.rst
  src-ui/cypress/e2e/settings/settings.cy.ts
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.scss
  src-ui/src/app/components/manage/settings/settings.component.html
  src-ui/src/app/components/manage/settings/settings.component.ts
  src-ui/src/app/data/paperless-uisettings.ts
  src-ui/src/app/services/rest/remote-version.service.ts
  src-ui/src/app/services/settings.service.ts
  src-ui/src/styles.scss
  src/documents/serialisers.py
  src/documents/tests/test_api.py
  src/documents/views.py
Labels: documentation, enhancement, non-trivial, backend, frontend

#1731 Documentation: Adds troubleshooting note about Kubernetes and ports
  docs/troubleshooting.rst
Labels: documentation, small-change

#1757 Feature: Enable end to end Tika testing in CI
  .github/workflows/ci.yml
  src/paperless_tika/tests/samples/sample.docx
  src/paperless_tika/tests/samples/sample.odt
  src/paperless_tika/tests/test_live_tika.py
Labels: enhancement

#1761 Documentation: Tweak LinuxServer
  docs/setup.rst
Labels: documentation, small-change

#1754 change default matching algo to auto and move to constant
  src-ui/src/app/components/common/edit-dialog/correspondent-edit-dialog/correspondent-edit-dialog.component.ts
  src-ui/src/app/components/common/edit-dialog/document-type-edit-dialog/document-type-edit-dialog.component.ts
  src-ui/src/app/components/common/edit-dialog/storage-path-edit-dialog/storage-path-edit-dialog.component.ts
  src-ui/src/app/components/common/edit-dialog/tag-edit-dialog/tag-edit-dialog.component.ts
  src-ui/src/app/data/matching-model.ts
Labels: enhancement, frontend, small-change

#1641 Feature: slim sidebar
  src-ui/cypress/e2e/settings/settings.cy.ts
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.scss
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/components/document-list/document-list.component.scss
  src-ui/src/app/components/manage/settings/settings.component.html
  src-ui/src/app/components/manage/settings/settings.component.ts
  src-ui/src/app/data/paperless-uisettings.ts
  src-ui/src/styles.scss
  src-ui/src/theme.scss
Labels: enhancement, non-trivial, frontend

#1644 Feature: UI Welcome Tour
  src-ui/messages.xlf
  src-ui/package-lock.json
  src-ui/package.json
  src-ui/src/app/app.component.html
  src-ui/src/app/app.component.ts
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/components/dashboard/dashboard.component.html
  src-ui/src/app/components/dashboard/dashboard.component.ts
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.html
  src-ui/src/app/components/dashboard/widgets/welcome-widget/welcome-widget.component.html
  src-ui/src/app/components/dashboard/widgets/welcome-widget/welcome-widget.component.ts
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.html
  src-ui/src/app/components/document-list/popover-preview/popover-preview.scss
  src-ui/src/app/components/manage/settings/settings.component.html
  src-ui/src/app/components/manage/settings/settings.component.ts
  src-ui/src/app/services/settings.service.ts
  src-ui/src/assets/save-filter.png
  src-ui/src/styles.scss
  src-ui/src/theme.scss
Labels: enhancement, help wanted, non-trivial, frontend

#1768 Chore: Updates Gotenberg versions
  .github/workflows/ci.yml
  docker/compose/docker-compose.mariadb-tika.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.sqlite-tika.yml
  docs/configuration.rst
  docs/troubleshooting.rst
  scripts/start_services.sh
Labels: documentation, non-trivial, ci-cd

#1773 Chore: Python library update + test fixes
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Pipfile
  Pipfile.lock
  src/documents/serialisers.py
  src/documents/tasks.py
  src/documents/tests/test_barcodes.py
Labels: non-trivial, backend, ci-cd

#1777 Fix: creating new storage path on document edit fails to update menu
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: bug, frontend, small-change

#1780 Documentation: Add note re MS exchange servers
  docs/administration.rst
Labels: bug, documentation, small-change

#1745 Bugfix: Fallback to pdf2image if pikepdf fails
  Pipfile
  Pipfile.lock
  src/documents/barcodes.py
  src/documents/tests/samples/barcodes/barcode-fax-image.pdf
  src/documents/tests/test_barcodes.py
Labels: bug, non-trivial, backend

#1802 Chore: downgrade channels-redis
  Pipfile
  Pipfile.lock
Labels: small-change, dependencies

#1792 Fix: missing loadViewConfig breaks loading saved view
  src-ui/src/app/components/document-list/document-list.component.ts
Labels: bug, frontend, small-change

#1829 Bugfix: Reverts the change around skip_noarchive
  src/paperless_tesseract/parsers.py
  src/paperless_tesseract/tests/test_parser.py
Labels: bug, non-trivial, backend

#1857 Fix: Allows configuring barcodes with pdf2image instead of pikepdf
  docs/configuration.rst
  src/documents/barcodes.py
  src/documents/tests/test_barcodes.py
  src/paperless/settings.py
Labels: bug, documentation, non-trivial, backend

#1858 Bugfix: Handle password protected PDFs during barcode detection
  src/documents/barcodes.py
  src/documents/tests/samples/password-is-test.pdf
  src/documents/tests/test_barcodes.py
Labels: bug

#1881 Django error W003 - MariaDB may not allow unique CharFields to have a max_length > 255.
  src/paperless/settings.py
Labels: backend, small-change

#1876 Added new application to list of affiliated projects
  README.md
Labels: small-change

#1865 Fix: frontend relative date searches
  src-ui/src/app/components/common/date-dropdown/date-dropdown.component.html
  src-ui/src/app/components/common/date-dropdown/date-dropdown.component.scss
  src-ui/src/app/components/common/date-dropdown/date-dropdown.component.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
  src-ui/src/styles.scss
Labels: bug, non-trivial, frontend

#1868 Fix: independent control of saved views
  src-ui/src/app/app-routing.module.ts
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/common/confirm-dialog/confirm-dialog.component.html
  src-ui/src/app/components/common/confirm-dialog/confirm-dialog.component.ts
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/document-list.component.ts
  src-ui/src/app/guards/dirty-saved-view.guard.ts
  src-ui/src/app/services/document-list-view.service.ts
  src-ui/src/styles.scss
Labels: bug, non-trivial, frontend

#1886 Feature: 1.9.2 UI tweaks
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.scss
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/components/common/clearable-badge/clearable-badge.component.html
  src-ui/src/app/components/common/clearable-badge/clearable-badge.component.scss
  src-ui/src/app/components/common/clearable-badge/clearable-badge.component.ts
  src-ui/src/app/components/common/date-dropdown/date-dropdown.component.html
  src-ui/src/app/components/common/date-dropdown/date-dropdown.component.ts
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.html
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.scss
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
  src-ui/src/styles.scss
Labels: enhancement, non-trivial, frontend

#1896 Bugfix: Unintentional deletion of feature tagged Docker images
  .github/scripts/cleanup-tags.py
  .github/scripts/github.py
  .github/workflows/cleanup-tags.yml
Labels: bug, ci-cd

#1899 directly use rapidfuzz
  Pipfile
  Pipfile.lock
  src/documents/matching.py
Labels: backend, small-change
