Repository paperless-ngx/paperless-ngx, pull requests merged in 2022-03, with the labels that each got.

#190 CI: Fix multi stage builds
  .github/workflows/ci.yml
  Dockerfile
Labels: non-trivial, ci-cd

#192 Angular 13 / Bootstrap 5 Fixes #1
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.scss
  src-ui/src/app/components/manage/settings/settings.component.html
  src-ui/src/theme_dark.scss
Labels: frontend, small-change

#196 Angular 13 Bootstrap 5 fixes #2
  src-ui/src/app/components/common/date-dropdown/date-dropdown.component.html
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.scss
Labels: frontend, small-change

#199 Switched to `flag()`
  src/paperless_mail/mail.py
  src/paperless_mail/tests/test_mail.py
Labels: backend, small-change

#193 fix document_export issue (#191)
  src/documents/management/commands/document_exporter.py
Labels: non-trivial, backend

#195 Update remaining references to -ngx
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/other.md
  CONTRIBUTING.md
  Dockerfile
  README.md
  docker/docker-entrypoint.sh
  docs/administration.rst
  docs/advanced_usage.rst
  docs/api.rst
  docs/faq.rst
  docs/index.rst
  docs/scanners.rst
  docs/setup.rst
  paperless.conf.example
  src-ui/messages.xlf
  src/documents/templates/index.html
  src/documents/templates/registration/logged_out.html
  src/documents/templates/registration/login.html
  src/locale/en_US/LC_MESSAGES/django.po
  src/paperless/urls.py
Labels: documentation, non-trivial

#201 New Crowdin updates
  src-ui/src/locale/messages.ar_SA.xlf
  src-ui/src/locale/messages.cs_CZ.xlf
  src-ui/src/locale/messages.da_DK.xlf
  src-ui/src/locale/messages.de_DE.xlf
  src-ui/src/locale/messages.el_GR.xlf
  src-ui/src/locale/messages.es_ES.xlf
  src-ui/src/locale/messages.fr_FR.xlf
  src-ui/src/locale/messages.he_IL.xlf
  src-ui/src/locale/messages.it_IT.xlf
  src-ui/src/locale/messages.km_KH.xlf
  src-ui/src/locale/messages.ko_KR.xlf
  src-ui/src/locale/messages.lb_LU.xlf
  src-ui/src/locale/messages.nl_NL.xlf
  src-ui/src/locale/messages.pl_PL.xlf
  src-ui/src/locale/messages.pt_BR.xlf
  src-ui/src/locale/messages.pt_PT.xlf
  src-ui/src/locale/messages.ro_RO.xlf
  src-ui/src/locale/messages.ru_RU.xlf
  src-ui/src/locale/messages.sl_SI.xlf
  src-ui/src/locale/messages.sv_SE.xlf
  src-ui/src/locale/messages.zh_TW.xlf
  src/locale/ar_SA/LC_MESSAGES/django.po
  src/locale/cs_CZ/LC_MESSAGES/django.po
  src/locale/da_DK/LC_MESSAGES/django.po
  src/locale/de_DE/LC_MESSAGES/django.po
  src/locale/el_GR/LC_MESSAGES/django.po
  src/locale/es_ES/LC_MESSAGES/django.po
  src/locale/fr_FR/LC_MESSAGES/django.po
  src/locale/he_IL/LC_MESSAGES/django.po
  src/locale/it_IT/LC_MESSAGES/django.po
  src/locale/km_KH/LC_MESSAGES/django.po
  src/locale/ko_KR/LC_MESSAGES/django.po
  src/locale/lb_LU/LC_MESSAGES/django.po
  src/locale/nl_NL/LC_MESSAGES/django.po
  src/locale/pl_PL/LC_MESSAGES/django.po
  src/locale/pt_BR/LC_MESSAGES/django.po
  src/locale/pt_PT/LC_MESSAGES/django.po
  src/locale/ro_RO/LC_MESSAGES/django.po
  src/locale/ru_RU/LC_MESSAGES/django.po
  src/locale/sl_SI/LC_MESSAGES/django.po
  src/locale/sv_SE/LC_MESSAGES/django.po
  src/locale/zh_TW/LC_MESSAGES/django.po
Labels: non-trivial, backend, frontend

#173 Install: Ask for database folder mount when using postgres
  install-paperless-ngx.sh
Labels: non-trivial, deployment

#202 New Crowdin updates
  src-ui/src/locale/messages.da_DK.xlf
  src-ui/src/locale/messages.fr_FR.xlf
  src/locale/da_DK/LC_MESSAGES/django.po
  src/locale/fr_FR/LC_MESSAGES/django.po
Labels: translation, automated

#206 Add information about switching from -ng to -ngx
  README.md
  docs/setup.rst
Labels: documentation, small-change

#212 New Crowdin updates
  src-ui/src/locale/messages.es_ES.xlf
  src/locale/de_DE/LC_MESSAGES/django.po
  src/locale/lb_LU/LC_MESSAGES/django.po
Labels: non-trivial, backend

#219 1.6.0 rc1 frontend fixes 1
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: non-trivial, frontend

#226 Fix issue 225 management page filtering, add esc clearing of filter field
  src-ui/src/app/components/manage/correspondent-list/correspondent-list.component.html
  src-ui/src/app/components/manage/document-type-list/document-type-list.component.html
  src-ui/src/app/components/manage/generic-list/generic-list.component.ts
  src-ui/src/app/components/manage/tag-list/tag-list.component.html
Labels: bug, frontend, small-change

#235 Update @angular/common, @angular/forms, @angular/platform-browser, ts-node, @angular/router
  src-ui/package-lock.json
  src-ui/package.json
Labels: non-trivial, frontend, javascript

#236 Remove non-direct dependencies from Pipfile
  Pipfile
  Pipfile.lock
  requirements.txt
Labels: non-trivial, backend

#244 New Crowdin updates
  src-ui/src/locale/messages.it_IT.xlf
  src-ui/src/locale/messages.sl_SI.xlf
  src-ui/src/locale/messages.zh_CN.xlf
  src/locale/it_IT/LC_MESSAGES/django.po
  src/locale/zh_CN/LC_MESSAGES/django.po
Labels: translation

#23 Added a sentence about python-dotenv format
  docs/configuration.rst
Labels: documentation, imported, small-change

#251 Make dependabot labels consistent
  .github/dependabot.yml
Labels: non-trivial, ci-cd

#250 Parse dates when entered without separators
  src-ui/src/app/utils/ngb-date-parser-formatter.ts
Labels: non-trivial, frontend

#243 Color theming
  src-ui/src/app/app.component.ts
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.scss
  src-ui/src/app/components/common/confirm-dialog/confirm-dialog.component.html
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.scss
  src-ui/src/app/components/common/input/color/color.component.html
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.html
  src-ui/src/app/components/dashboard/widgets/widget-frame/widget-frame.component.html
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.scss
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.scss
  src-ui/src/app/components/document-list/document-list.component.scss
  src-ui/src/app/components/manage/correspondent-list/correspondent-edit-dialog/correspondent-edit-dialog.component.html
  src-ui/src/app/components/manage/document-type-list/document-type-edit-dialog/document-type-edit-dialog.component.html
  src-ui/src/app/components/manage/settings/settings.component.html
  src-ui/src/app/components/manage/settings/settings.component.ts
  src-ui/src/app/components/manage/tag-list/tag-edit-dialog/tag-edit-dialog.component.html
  src-ui/src/app/services/settings.service.ts
  src-ui/src/app/utils/color.ts
  src-ui/src/styles.scss
  src-ui/src/theme.scss
  src-ui/src/theme_dark.scss
Labels: enhancement, non-trivial, frontend

#262 Fix install url in docs
  README.md
  docs/setup.rst
  install-paperless-ngx.sh
Labels: documentation, small-change

#242 Reduce warnings in test suite
  src/documents/management/commands/decrypt_documents.py
  src/documents/management/commands/document_exporter.py
  src/documents/tests/test_admin.py
  src/documents/tests/test_api.py
  src/documents/tests/test_matchables.py
  src/paperless_tesseract/parsers.py
Labels: backend, small-change

#263 Fix: Include excluded items in dropdown count
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.html
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
Labels: bug, frontend, small-change

#274 Add `CODE_OF_CONDUCT.md`
  CODE_OF_CONDUCT.md
Labels: documentation

#253 Improve date keyboard input
  src-ui/src/app/components/common/date-dropdown/date-dropdown.component.html
  src-ui/src/app/components/common/date-dropdown/date-dropdown.component.ts
  src-ui/src/app/components/common/input/date/date.component.html
  src-ui/src/app/components/common/input/date/date.component.ts
  src-ui/src/app/utils/ngb-date-parser-formatter.ts
Labels: non-trivial, frontend

#273 Added nav buttons in the document detail view
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/services/document-list-view.service.ts
Labels: non-trivial, frontend

#275 Add Organization Structure & Membership
  CONTRIBUTING.md
Labels: documentation, small-change

#221 add instructions to install pytest-xdist and pytest-cov
  CONTRIBUTING.md
Labels: small-change

#297 Enable dependabot GHA updates
  .github/dependabot.yml
Labels: non-trivial, ci-cd

#306 ignore vscode folder
  .gitignore
Labels: small-change

#296 Updates to use GHA Python caching
  .github/workflows/ci.yml
Labels: non-trivial, ci-cd

#315 Add Slovenian language for frontend
  src-ui/angular.json
  src-ui/src/app/app.module.ts
  src-ui/src/app/services/settings.service.ts
  src/paperless/settings.py
Labels: non-trivial, backend, frontend, translation

#314 Fix page links hidden
  src-ui/src/theme.scss
Labels: bug, frontend, small-change

#323 Revert "Bump sphinx from 3.4.3 to 4.4.0"
  Pipfile
  Pipfile.lock
  requirements.txt
Labels: backend, small-change

#322 Fix minor sphinx errors
  docs/administration.rst
  docs/advanced_usage.rst
  docs/extending.rst
Labels: bug, documentation, small-change

#247 Add Chinese localization
  src-ui/angular.json
  src-ui/src/app/app.module.ts
  src-ui/src/app/services/settings.service.ts
  src/paperless/settings.py
Labels: non-trivial, backend, frontend, translation

#348 Fix dependabot tests under Python 3.8
  Pipfile
Labels: backend, small-change, dependencies

#304 Create PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ci-cd

#366 Fix filterable dropdown buttons arent translated
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.html
Labels: frontend, small-change

#388 Update @ngneat/dirty-check-forms to 2.0.0
  src-ui/package-lock.json
  src-ui/package.json
Labels: non-trivial, frontend, dependencies, javascript

#401 Add minimum length for documents text filter
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
Labels: enhancement, frontend, small-change

#324 Align CI checks with pre-commit (mostly)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .prettierrc
  src/setup.cfg
Labels: non-trivial, backend, ci-cd

#415 Use progress bar for delayed buttons
  src-ui/src/app/components/common/confirm-dialog/confirm-dialog.component.html
  src-ui/src/app/components/common/confirm-dialog/confirm-dialog.component.ts
Labels: enhancement, non-trivial, frontend

#419 Add missing migration for savedviewfilterrule
  src/documents/migrations/1017_alter_savedviewfilterrule_rule_type.py
Labels: non-trivial, backend

#442 Allow shorter search strings with Enter key
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
Labels: non-trivial, frontend, small-change

#35 fix(gotenberg): use command flags
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.sqlite-tika.yml
  docs/configuration.rst
  docs/troubleshooting.rst
Labels: imported, backend, small-change

#440 Allow USERMAP_UID to re-use existing UIDs
  docker/docker-entrypoint.sh
Labels: small-change

#443 Update documentation on how to install paperless on Unraid
  docs/faq.rst
Labels: documentation, small-change

#298 Feature: App loading screen
  src/documents/templates/index.html
Labels: enhancement, non-trivial, backend, frontend

#449 Fix typo: paperles(s)
  install-paperless-ngx.sh
Labels: small-change

#446 master to main in paperless development docs and CONTRIBUTING.md
  CONTRIBUTING.md
  docs/extending.rst
Labels: documentation, small-change

#393 Fix imap tools bug
  src/paperless_mail/mail.py
  src/paperless_mail/tests/test_mail.py
Labels: non-trivial, backend

#379 Removes Coveralls from Dependabot
  .github/workflows/ci.yml
Labels: small-change, ci-cd

#462 Remove and integrate content from contributing.rst
  docs/contributing.rst
  docs/extending.rst
  docs/index.rst
  src/paperless/version.py
Labels: documentation, non-trivial

#477 Change dependabot to check npm monthly
  .github/dependabot.yml
Labels: frontend, small-change, ci-cd, dependencies, javascript

#313 Fix #311 unable to click checkboxes in document list
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/theme_dark.scss
Labels: bug, frontend, small-change

#372 Feature: Add bottom pagination
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/manage/correspondent-list/correspondent-list.component.html
  src-ui/src/app/components/manage/document-type-list/document-type-list.component.html
  src-ui/src/app/components/manage/tag-list/tag-list.component.html
Labels: non-trivial, frontend

#504 Add Serbian localization
  src-ui/angular.json
  src-ui/src/app/app.module.ts
  src-ui/src/app/services/settings.service.ts
  src/paperless/settings.py
Labels: non-trivial, backend, frontend, translation

#508 Add API Scanning Setup section to scanners.rst
  docs/scanners.rst
Labels: documentation, non-trivial

#520 Revert "Bump pdfminer-six from 20211012 to 20220319"
  requirements.txt
Labels: backend, small-change

#515 Clickable tags in dashboard widgets
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.html
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.ts
Labels: enhancement, non-trivial, frontend

#526 fix: exclude cypress from build in Dockerfile
  Dockerfile
  src-ui/package-lock.json
  src-ui/package.json
Labels: bug, non-trivial, frontend

#527 Realign frontend ci pipeline
  .github/workflows/ci.yml
Labels: small-change, ci-cd

#497 Bumps dependencies
  Pipfile
  Pipfile.lock
  requirements.txt
  src/documents/tests/test_api.py
  src/documents/tests/test_consumer.py
  src/documents/views.py
Labels: backend, small-change

#537 Fix typo in api documentation
  docs/api.rst
Labels: documentation, small-change

#536 Add Turkish localization
  src-ui/angular.json
  src-ui/src/app/app.module.ts
  src-ui/src/app/services/settings.service.ts
  src/paperless/settings.py
Labels: non-trivial, backend, frontend, translation

#540 Feature: Filtering query params aka browser navigation for filtering
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/components/common/tag/tag.component.html
  src-ui/src/app/components/common/tag/tag.component.scss
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.scss
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.scss
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/document-list.component.scss
  src-ui/src/app/components/document-list/document-list.component.ts
  src-ui/src/app/services/document-list-view.service.ts
  src-ui/src/app/services/rest/document.service.ts
Labels: enhancement, non-trivial, frontend

#552 Bump version of black in CI/pre-commit
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Labels: ci-cd

#561 Fix reference from Paperless-ngx to Paperless-ng
  README.md
Labels: small-change

#565 Add some more e2e tests
  src-ui/.gitignore
  src-ui/cypress/fixtures/correspondents/correspondents.json
  src-ui/cypress/fixtures/document_types/doctypes.json
  src-ui/cypress/fixtures/documents/1/metadata.json
  src-ui/cypress/fixtures/documents/1/suggestions.json
  src-ui/cypress/fixtures/documents/documents.json
  src-ui/cypress/fixtures/saved_views/savedviews.json
  src-ui/cypress/fixtures/tags/tags.json
  src-ui/cypress/integration/document-detail.spec.ts
  src-ui/cypress/integration/documents-list.spec.ts
  src-ui/cypress/integration/manage.spec.ts
  src-ui/cypress/integration/settings.spec.ts
Labels: non-trivial, frontend, testing

#577 Update troubleshooting.rst
  docs/troubleshooting.rst
Labels: documentation, non-trivial

#582 Merge pull request #552 from stumpylog/bugfix-black (attempt #2)
  .github/workflows/ci.yml
Labels: bug, small-change, ci-cd

#580 Add frontend tests to docs
  .github/PULL_REQUEST_TEMPLATE.md
  docs/api.rst
  docs/extending.rst
  docs/troubleshooting.rst
Labels: documentation, non-trivial, frontend
