Repository paperless-ngx/paperless-ngx, pull requests merged in 2022-04, with the labels that each got.

#588 Add Belarusian localization
  src-ui/angular.json
  src-ui/src/app/app.module.ts
  src-ui/src/app/services/settings.service.ts
  src/paperless/settings.py
Labels: non-trivial, backend, frontend, translation

#600 Fix npm dependencies 01.02.22
  src-ui/cypress/integration/settings.spec.ts
  src-ui/package-lock.json
  src-ui/package.json
Labels: bug, non-trivial, frontend, dependencies

#610 Fix npm deps 01.02.22 2
  src-ui/package-lock.json
  src-ui/package.json
  src-ui/src/app/app.module.ts
Labels: non-trivial, frontend

#617 uses shutil.move instead of rename
  src/documents/signals/handlers.py
Labels: backend, small-change

#238 Feature split dockerimage
  .dockerignore
  .editorconfig
  .github/workflows/ci.yml
  Dockerfile
  Pipfile
  Pipfile.lock
  docker/docker-entrypoint.sh
  docker/management_script.sh
  requirements.txt
Labels: non-trivial, ci-cd

#623 Fixes the Docker image tags
  .github/workflows/ci.yml
Labels: non-trivial, ci-cd

#611 Support docker-compose v2 in install
  install-paperless-ngx.sh
Labels: non-trivial

#622 fix 404 for post-consumption-example
  docs/advanced_usage.rst
Labels: documentation, small-change

#637 [feature] Make pytest quieter
  src/setup.cfg
Labels: backend, small-change

#594 FIX BUG: case-sensitive matching was not possible
  src/documents/matching.py
  src/documents/tests/test_matchables.py
Labels: non-trivial, backend

#564 Feature: Show prompt on password-protected pdfs
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.scss
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: non-trivial, frontend

#616 fix some api error displaying
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/document-list.component.ts
  src-ui/src/app/components/document-list/save-view-config-dialog/save-view-config-dialog.component.html
  src-ui/src/app/services/document-list-view.service.ts
Labels: non-trivial, frontend

#576 Update regex date match patterns
  docs/advanced_usage.rst
  src/documents/parsers.py
  src/documents/tests/test_date_parsing.py
Labels: backend, small-change

#599 Fixes downloaded filename, add more consumer ignore settings
  docs/configuration.rst
  paperless.conf.example
  src/documents/views.py
  src/paperless/settings.py
Labels: backend

#591 Feature: Update checker
  docs/configuration.rst
  paperless.conf.example
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.scss
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/services/rest/remote-version.service.ts
  src-ui/src/assets/bootstrap-icons.svg
  src-ui/src/theme.scss
  src/documents/views.py
  src/paperless/settings.py
  src/paperless/urls.py
Labels: enhancement, non-trivial, backend, frontend

#630 Fix: download buttons should disable while waiting
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.html
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
Labels: bug, enhancement, non-trivial, frontend

#283 Feature: global drag'n'drop
  src-ui/src/app/app.component.html
  src-ui/src/app/app.component.ts
  src-ui/src/app/components/common/toasts/toasts.component.html
  src-ui/src/app/components/common/toasts/toasts.component.scss
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.scss
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.ts
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/document-list.component.scss
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.html
  src-ui/src/app/services/upload-documents.service.ts
  src-ui/src/theme.scss
  src-ui/src/theme_dark.scss
Labels: enhancement, non-trivial, frontend

#652 Documentation style
  docs/_static/css/custom.css
  docs/_static/custom.css
  docs/conf.py
Labels: documentation, non-trivial

#501 Adds settings for worker retry time
  docs/configuration.rst
  src/paperless/settings.py
Labels: documentation, non-trivial, backend

#672 Chore: Updated screenshots
  docs/_static/css/custom.css
  docs/_static/screenshot.png
  docs/_static/screenshots/bulk-edit.png
  docs/_static/screenshots/correspondents.png
  docs/_static/screenshots/dashboard.png
  docs/_static/screenshots/documents-filter.png
  docs/_static/screenshots/documents-largecards.png
  docs/_static/screenshots/documents-smallcards-dark.png
  docs/_static/screenshots/documents-smallcards.png
  docs/_static/screenshots/documents-table.png
  docs/_static/screenshots/editing.png
  docs/_static/screenshots/logs.png
  docs/_static/screenshots/mobile.png
  docs/_static/screenshots/new-tag.png
  docs/_static/screenshots/search-preview.png
  docs/_static/screenshots/search-results.png
  docs/screenshots.rst
Labels: documentation

#669 Chore: Implement release-drafter action for Changelogs
  .github/release-drafter.yml
  .github/workflows/ci.yml
Labels: non-trivial, ci-cd, chore

#674 Add `PAPERLESS_URL` env variable & CSRF var
  docker/compose/docker-compose.env
  docs/configuration.rst
  install-paperless-ngx.sh
  paperless.conf.example
  src/paperless/settings.py
Labels: bug, documentation, non-trivial, backend, deployment

#680 [bug] - Fixes attachment filename matching during mail fetching
  src/paperless_mail/mail.py
  src/paperless_mail/tests/test_mail.py
Labels: bug, backend

#612 Increase length of SavedViewFilterRule
  src/documents/migrations/1018_alter_savedviewfilterrule_value.py
  src/documents/models.py
Labels: bug, non-trivial, backend

#550 Feature mail consume improve docs
  docs/usage_overview.rst
  src/paperless_mail/mail.py
  src/paperless_mail/migrations/0009_alter_mailrule_action_alter_mailrule_folder.py
  src/paperless_mail/models.py
  src/paperless_mail/tests/test_mail.py
Labels: documentation, non-trivial, backend

#654 Fix: frontend document editing erases time data
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: bug, help wanted, non-trivial, frontend

#483 Adds wait for file before consuming
  .pre-commit-config.yaml
  src/documents/management/commands/document_consumer.py
  src/documents/tests/test_management_consumer.py
Labels: bug, backend, small-change

#690 Fix: scanners table
  docs/scanners.rst
Labels: bug, documentation, small-change

#684 Documentation dark mode
  docs/_static/css/custom.css
  docs/_static/js/darkmode.js
  docs/_templates/layout.html
  docs/conf.py
Labels: documentation, non-trivial

#700 add "localhost" to ALLOWED_HOSTS
  docs/configuration.rst
  src/paperless/settings.py
Labels: documentation, non-trivial, backend

#704 Chore: Add Breaking Changes to release notes
  .github/release-drafter.yml
Labels: non-trivial, ci-cd

#713 Fix: v1.7.0-rc1 Tags input should use body color
  src-ui/src/styles.scss
Labels: bug, frontend, small-change

#715 Add required PAPERLESS_URL to nginx proxy docs
  docs/configuration.rst
  docs/setup.rst
Labels: documentation, small-change

#705 bugfix for imap using starttls
  src/paperless_mail/mail.py
Labels: bug, backend, small-change

#270 Allow setting more than one tag in mail rules
  src/paperless_mail/admin.py
  src/paperless_mail/mail.py
  src/paperless_mail/migrations/0009_mailrule_assign_tags.py
  src/paperless_mail/migrations/0010_auto_20220311_1602.py
  src/paperless_mail/migrations/0011_remove_mailrule_assign_tag.py
  src/paperless_mail/migrations/0012_alter_mailrule_assign_tags.py
  src/paperless_mail/migrations/0013_merge_20220412_1051.py
  src/paperless_mail/models.py
  src/paperless_mail/tests/test_mail.py
Labels: enhancement, non-trivial, backend

#720 Corrects some spelling mistakes in docs
  docs/administration.rst
  docs/advanced_usage.rst
  docs/configuration.rst
  docs/faq.rst
  docs/usage_overview.rst
Labels: documentation, non-trivial

#723 Fix docker/metadata-action creation of latest tag
  .github/workflows/ci.yml
Labels: bug, small-change, ci-cd

#717 Fix custom theme color contrast
  src-ui/src/app/components/app-frame/app-frame.component.scss
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.scss
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.scss
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.scss
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.scss
  src-ui/src/app/components/document-list/document-list.component.scss
  src-ui/src/app/services/settings.service.ts
  src-ui/src/app/utils/color.ts
  src-ui/src/styles.scss
  src-ui/src/theme.scss
  src-ui/src/theme_dark.scss
Labels: enhancement, non-trivial, frontend

#737 add barcode packages to setup.rst
  docs/setup.rst
Labels: documentation, non-trivial

#751 Adds workflow level concurrency group
  .github/workflows/ci.yml
Labels: enhancement, small-change, ci-cd

#745 Beta 1.7.0 rc1 CSS Fixes #1
  src-ui/src/app/components/manage/settings/settings.component.html
  src-ui/src/styles.scss
  src-ui/src/theme.scss
Labels: bug, non-trivial, frontend

#765 fix Mail actions mixup
  src/paperless_mail/mail.py
  src/paperless_mail/migrations/0014_alter_mailrule_action.py
  src/paperless_mail/models.py
  src/paperless_mail/tests/test_mail.py
Labels: non-trivial, backend

#767 List Email Account Folders In Event of Error Changing Folder
  docs/usage_overview.rst
  src/paperless_mail/mail.py
  src/paperless_mail/tests/test_mail.py
Labels: documentation, enhancement, non-trivial, backend

#769 Open preview link in new browser tab
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
Labels: frontend, small-change

#782 Adds Python 3.10 to the backend test matrix
  .github/workflows/ci.yml
Labels: enhancement, backend, small-change, ci-cd

#785 Fix docs dark mode toggle blocks menu button
  docs/_static/css/custom.css
Labels: documentation, small-change

#772 Fix dark mode delay button progress bar not visible
  src-ui/src/theme.scss
Labels: bug, frontend, small-change

#798 Fix Backend Mail Tests
  src/paperless_mail/tests/test_mail.py
Labels: backend, small-change

#799 Bump angular & tools to 13.3.4 or 13.3.3
  src-ui/package-lock.json
  src-ui/package.json
Labels: non-trivial, frontend, dependencies, javascript

#804 Updates the target branch for GHA updates to be dev
  .github/dependabot.yml
Labels: small-change, ci-cd

#761 Update GHA workflow to build all Docker images
  .build-config.json
  .editorconfig
  .github/workflows/ci.yml
  .github/workflows/reusable-ci-backend.yml
  .github/workflows/reusable-ci-frontend.yml
  .github/workflows/reusable-workflow-builder.yml
  .pre-commit-config.yaml
  Dockerfile
  build-docker-image.sh
  docker-builders/Dockerfile.frontend
  docker-builders/Dockerfile.jbig2enc
  docker-builders/Dockerfile.pikepdf
  docker-builders/Dockerfile.psycopg2
  docker-builders/Dockerfile.qpdf
  docker-builders/get-build-json.py
  docker/docker-prepare.sh
  docker/install_management_commands.sh
  docs/Dockerfile
Labels: enhancement, non-trivial, ci-cd

#788 Adds simple Python to wait for Redis broker to be ready
  Dockerfile
  docker/docker-prepare.sh
  docker/wait-for-redis.py
Labels: enhancement, non-trivial, deployment

#777 Fix install script extra OCR languages format
  install-paperless-ngx.sh
Labels: bug, non-trivial, deployment

#813 Remove expected behavior section
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: non-trivial, ci-cd

#814 Update frontend localization source file
  src-ui/messages.xlf
Labels: bug, non-trivial, frontend, translation

#820 Updates GHA workflow to rebuild intermediate images on changes
  .github/scripts/common.py
  .github/scripts/get-build-json.py
  .github/workflows/ci.yml
  .github/workflows/reusable-ci-backend.yml
  .github/workflows/reusable-workflow-builder.yml
Labels: enhancement, non-trivial, ci-cd

#821 docker: set default postgresql port back to 5432
  docker/docker-prepare.sh
Labels: backend, small-change, ci-cd

#766 Feature barcode tiff support
  docs/configuration.rst
  src/documents/tasks.py
  src/documents/tests/samples/barcodes/patch-code-t-middle.tiff
  src/documents/tests/samples/simple.tiff
  src/documents/tests/test_tasks.py
  src/paperless/settings.py
Labels: enhancement, backend

#815 Fixes Pillow build for armv7
  Dockerfile
  build-docker-image.sh
  docker-builders/Dockerfile.jbig2enc
  docker-builders/Dockerfile.pikepdf
  docker-builders/Dockerfile.psycopg2
  docker-builders/Dockerfile.qpdf
Labels: bug, non-trivial, deployment, ci-cd

#828 Enable Docker Hub push
  .github/workflows/ci.yml
Labels: enhancement, non-trivial, ci-cd

#829 Fix `dependabot.yml` config
  .github/dependabot.yml
Labels: non-trivial, ci-cd

#725 Fixes IMAP UTF8 Authenication
  src/paperless_mail/mail.py
  src/paperless_mail/tests/test_mail.py
Labels: bug, non-trivial, backend
