Repository paperless-ngx/paperless-ngx, pull requests merged in 2022-09, with the labels that each got.

#1492 Feature: Simplify IMAP login for UTF-8
  Pipfile.lock
  src/paperless_mail/mail.py
  src/paperless_mail/tests/test_mail.py
Labels: enhancement, backend

#1500 Bugfix: Better gunicorn settings for workers
  gunicorn.conf.py
Labels: bug, small-change, deployment

#1528 docs/configuration: Fix binary variable defaults
  docs/configuration.rst
Labels: documentation, small-change

#1546 Chore: Smaller library images
  docker-builders/Dockerfile.jbig2enc
  docker-builders/Dockerfile.pikepdf
  docker-builders/Dockerfile.psycopg2
  docker-builders/Dockerfile.qpdf
Labels: ci-cd

#1551 Chore: Cleanup and validate settings
  src/paperless/__init__.py
  src/paperless/checks.py
  src/paperless/settings.py
  src/paperless/tests/test_checks.py
  src/paperless_tika/apps.py
  src/paperless_tika/parsers.py
  src/setup.cfg
Labels: non-trivial, backend

#1557 Fix: Include storage paths in document exporter
  src/documents/management/commands/document_exporter.py
  src/documents/tests/test_management_exporter.py
Labels: non-trivial, backend

#543 Feature: Add MariaDB support
  Dockerfile
  Pipfile
  Pipfile.lock
  docker/compose/docker-compose.mariadb-tika.yml
  docker/compose/docker-compose.mariadb.yml
  docker/docker-prepare.sh
  docs/administration.rst
  docs/configuration.rst
  docs/extending.rst
  docs/setup.rst
  install-paperless-ngx.sh
  src/paperless/settings.py
Labels: documentation, non-trivial, backend

#1566 Fix document comments not updating on document navigation
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/document-comments/document-comments.component.html
  src-ui/src/app/components/document-comments/document-comments.component.ts
Labels: bug, non-trivial, frontend

#1567 Feature: Display django-q process names
  Pipfile
  Pipfile.lock
Labels: enhancement, backend, small-change

#1576 Fix: Resolve issue with slow classifier
  Pipfile
  Pipfile.lock
Labels: bug, backend, small-change

#1591 Fix: Parsing Tika documents fails with AttributeError
  src/paperless_tika/parsers.py
Labels: backend, small-change

#1596 Fix: Double barcode separation creates empty file
  src/documents/barcodes.py
  src/documents/tests/samples/barcodes/patch-code-t-double.pdf
  src/documents/tests/test_barcodes.py
Labels: bug, backend

#1602 bugfix: Increase delay in test_management_consumer
  src/documents/tests/test_management_consumer.py
Labels: backend, small-change

#1640 Chore: Python dependencies update
  .pre-commit-config.yaml
  Pipfile.lock
Labels: small-change, dependencies

#1625 Improve docs re `PAPERLESS_FILENAME_FORMAT`
  docs/advanced_usage.rst
Labels: documentation, small-change

#1645 Bugfix: Fixes missing OCR mode skip_noarchive
  src/paperless/checks.py
Labels: bug, backend, small-change

#1650 Chore: Ensure the generated changelog is formatted
  .github/workflows/ci.yml
Labels: bug, non-trivial, ci-cd

#1670 Bugfix: Allow PAPERLESS_OCR_CLEAN=none
  src/paperless/checks.py
Labels: bug, backend, small-change

#1666 Chore: Bumps version numbers to 1.9.2
  src-ui/src/environments/environment.prod.ts
  src/paperless/version.py
Labels: backend, frontend, small-change

#1683 Mariadb compose files should use `PAPERLESS_DBPASS`
  docker/compose/docker-compose.mariadb-tika.yml
  docker/compose/docker-compose.mariadb.yml
Labels: bug, small-change

#1687 Bugfix: Set MySql charset
  src/paperless/settings.py
Labels: bug, backend, small-change
