Repository paperless-ngx/paperless-ngx, pull requests merged in 2022-05, with the labels that each got.

#852 Fix: Older dates do not display on frontend
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/pipes/custom-date.pipe.ts
  src-ui/src/app/utils/date.ts
Labels: bug, non-trivial, frontend

#862 Fix: show errors on invalid date input
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: bug, non-trivial, frontend

#849 Fix local Docker image building
  .github/scripts/get-build-json.py
  .github/workflows/ci.yml
  Dockerfile
  build-docker-image.sh
  docs/extending.rst
Labels: bug, documentation, non-trivial, ci-cd

#864 Always accept yyyy-mm-dd date inputs
  src-ui/src/app/utils/ngb-date-parser-formatter.ts
Labels: bug, non-trivial, frontend

#859 Chore: Improve Bug Report template
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: ci-cd

#869 Chore: Update dependency lock file
  Pipfile.lock
  requirements.txt
Labels: backend, small-change

#727 Add log messages for mail errors
  Pipfile
  src/paperless_mail/mail.py
Labels: non-trivial, backend

#866 Deployment: Consolidate tika compose files
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.sqlite-tika.arm.yml
  docker/compose/docker-compose.sqlite-tika.yml
  docs/configuration.rst
  docs/setup.rst
  docs/troubleshooting.rst
  scripts/start_services.sh
Labels: documentation, non-trivial, deployment

#851 Feature: Use semver for release process
  .github/release-drafter.yml
  .github/workflows/ci.yml
  docs/administration.rst
  docs/conf.py
  src/documents/views.py
  src/paperless/middleware.py
  src/paperless/version.py
Labels: documentation, enhancement, non-trivial, backend, deployment, ci-cd

#880 Add timeout to healthcheck
  docker/compose/docker-compose.portainer.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.postgres.yml
  docker/compose/docker-compose.sqlite-tika.yml
  docker/compose/docker-compose.sqlite.yml
Labels: bug, non-trivial, deployment

#873 Feature: mobile friendlier manage pages
  src-ui/cypress/integration/manage.spec.ts
  src-ui/messages.xlf
  src-ui/src/app/components/manage/correspondent-list/correspondent-list.component.ts
  src-ui/src/app/components/manage/management-list/management-list.component.html
  src-ui/src/app/components/manage/management-list/management-list.component.scss
Labels: bug, enhancement, non-trivial, frontend

#882 Fix: Minor update to Q Cluster Configuration
  docker/supervisord.conf
Labels: small-change

#853 Bugfix document exporter document dates are off by one day #267
  src/documents/models.py
  src/documents/tests/test_document_model.py
Labels: non-trivial, backend

#881 Feature / fix saved view & sort field query params
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/document-list.component.ts
  src-ui/src/app/components/manage/correspondent-list/correspondent-list.component.ts
  src-ui/src/app/components/manage/document-type-list/document-type-list.component.ts
  src-ui/src/app/components/manage/management-list/management-list.component.ts
  src-ui/src/app/components/manage/tag-list/tag-list.component.ts
  src-ui/src/app/services/document-list-view.service.ts
  src-ui/src/app/services/query-params.service.ts
  src-ui/src/app/services/rest/document.service.ts
Labels: bug, frontend

#888 Feature: Dockerfile Organization & Enhancements
  Dockerfile
Labels: enhancement, non-trivial, deployment, ci-cd

#918 Chore: Manually update Python dependencies
  Pipfile
  Pipfile.lock
  requirements.txt
Labels: backend, small-change

#721 Fix Ignore Date Parsing
  docs/configuration.rst
  src/documents/consumer.py
  src/documents/models.py
  src/documents/parsers.py
  src/documents/tests/samples/documents/originals/0000005.pdf
  src/documents/tests/samples/documents/originals/0000006.pdf
  src/documents/tests/test_consumer.py
  src/documents/tests/test_date_parsing.py
  src/paperless/settings.py
  src/paperless/tests/test_settings.py
Labels: bug, non-trivial, backend

#903 Bugfix: Superuser Management Won't Reset Password
  src/documents/management/commands/manage_superuser.py
  src/documents/tests/test_management_superuser.py
Labels: non-trivial, backend

#905 Chore: Minor improvements for quality of life
  docker/docker-prepare.sh
  src/documents/management/commands/document_consumer.py
Labels: non-trivial, backend

#899 Feature: initial app loading indicators
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.scss
  src-ui/src/app/components/dashboard/dashboard.component.html
  src-ui/src/app/components/dashboard/dashboard.component.ts
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.html
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.ts
  src-ui/src/app/components/dashboard/widgets/statistics-widget/statistics-widget.component.html
  src-ui/src/app/components/dashboard/widgets/statistics-widget/statistics-widget.component.ts
  src-ui/src/app/components/dashboard/widgets/widget-frame/widget-frame.component.html
  src-ui/src/app/components/dashboard/widgets/widget-frame/widget-frame.component.ts
  src-ui/src/app/services/rest/saved-view.service.ts
Labels: enhancement, non-trivial, frontend

#921 fix typo in update notification popup
  src-ui/src/app/components/app-frame/app-frame.component.html
Labels: frontend, small-change

#923 Fix: allow commas in non-multi rules query params
  src-ui/src/app/services/query-params.service.ts
Labels: bug, non-trivial, frontend

#925 Chore: Add testing for remote version checking
  src/documents/tests/test_api.py
  src/documents/views.py
Labels: non-trivial, backend

#924 gunicorn: Allow IPv6 sockets
  gunicorn.conf.py
Labels: backend, small-change, deployment

#920 Feature: allow all ASN filtering functions
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
  src-ui/src/app/data/filter-rule-type.ts
  src-ui/src/styles.scss
Labels: enhancement, non-trivial, frontend

#933 Fix: v1.7.1 frontend visual fixes
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.scss
  src-ui/src/styles.scss
Labels: bug, non-trivial, frontend

#939 Fix: management pages plurals incorrect in other languages
  src-ui/messages.xlf
  src-ui/src/app/components/manage/correspondent-list/correspondent-list.component.ts
  src-ui/src/app/components/manage/document-type-list/document-type-list.component.ts
  src-ui/src/app/components/manage/management-list/management-list.component.html
  src-ui/src/app/components/manage/management-list/management-list.component.ts
  src-ui/src/app/components/manage/tag-list/tag-list.component.ts
Labels: bug, non-trivial, frontend

#941 [Readme] Fix typo
  README.md
Labels: small-change

#935 Convert Changelog to markdown, auto-commit future changelogs
  .github/release-drafter.yml
  .github/workflows/ci.yml
  Pipfile
  Pipfile.lock
  docs/changelog.md
  docs/changelog.rst
  docs/conf.py
  docs/index.rst
  docs/setup.rst
Labels: documentation, enhancement, non-trivial, ci-cd

#946 [Docs] Fix 2 small typos
  docs/administration.rst
Labels: documentation, small-change

#948 docs: fix some typos
  docs/administration.rst
Labels: documentation, small-change

#962 fixes #949: change to MIME detection for files
  src/documents/tasks.py
  src/documents/tests/test_tasks.py
Labels: bug, non-trivial, backend

#973 Chore: Manually update all Python dependencies
  Pipfile.lock
  requirements.txt
Labels: backend, small-change, dependencies

#943 Feature: Move installer library images to new workflow
  .github/workflows/ci.yml
  .github/workflows/installer-library.yml
Labels: non-trivial, ci-cd

#942 Bugfix: Fixes document filename date off by 1 issue
  src/documents/file_handling.py
  src/documents/models.py
  src/documents/tests/test_document_model.py
Labels: bug, non-trivial, backend

#953 Bugfix: Adds configurable intoify debounce time
  docs/configuration.rst
  docs/troubleshooting.rst
  src/documents/management/commands/document_consumer.py
  src/documents/tests/test_management_consumer.py
  src/paperless/settings.py
Labels: bug, documentation, non-trivial, backend

#956 Fix: warn when closing a document with unsaved changes due to max open docs
  src-ui/messages.xlf
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.html
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.ts
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.ts
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/document-list.component.ts
  src-ui/src/app/services/open-documents.service.ts
  src-ui/src/theme.scss
Labels: bug, non-trivial, frontend

#965 Add "Created" as additional (optional) parameter for post_documents
  docs/api.rst
  src/documents/consumer.py
  src/documents/serialisers.py
  src/documents/tasks.py
  src/documents/tests/test_api.py
  src/documents/views.py
Labels: documentation, non-trivial, backend

#982 Add `myst-parser` to fix readthedocs
  docs/requirements.txt
Labels: bug, documentation, small-change

#919 Feature: frontend settings saved to database
  docs/setup.rst
  src-ui/cypress/fixtures/ui_settings/settings.json
  src-ui/cypress/integration/document-detail.spec.ts
  src-ui/cypress/integration/documents-list.spec.ts
  src-ui/cypress/integration/manage.spec.ts
  src-ui/cypress/integration/settings.spec.ts
  src-ui/messages.xlf
  src-ui/src/app/app.component.ts
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/components/dashboard/dashboard.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.ts
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.ts
  src-ui/src/app/components/manage/settings/settings.component.ts
  src-ui/src/app/data/paperless-uisettings.ts
  src-ui/src/app/pipes/custom-date.pipe.ts
  src-ui/src/app/services/document-list-view.service.ts
  src-ui/src/app/services/settings.service.ts
  src/documents/management/commands/document_exporter.py
  src/documents/migrations/1019_uisettings.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/templates/index.html
  src/documents/tests/test_api.py
  src/documents/views.py
  src/paperless/urls.py
Labels: enhancement, help wanted, non-trivial, backend, frontend

#984 Added Maxify MB5350 Documentation
  docs/scanners.rst
Labels: documentation, non-trivial

#985 Fix links in changelog
  docs/changelog.md
Labels: documentation, small-change

#986 Change npm --no-optional to --omit=optional
  Dockerfile
  docker-builders/Dockerfile.frontend
Labels: bug, small-change, ci-cd

#987 Docs: Add link to new config option in scanners.rst
  docs/scanners.rst
  docs/troubleshooting.rst
Labels: documentation, non-trivial

#990 Docs: Fix headings and add links to PRs in changelog
  docs/changelog.md
Labels: documentation, small-change

#995 Fix: add translation for some un-translated tooltips
  src-ui/messages.xlf
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.html
Labels: bug, non-trivial, frontend, translation, fixed in next release

#1009 Allow line breaks in tags
  src-ui/src/app/components/common/tag/tag.component.scss
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.scss
Labels: frontend, small-change

#1016 Feature: Include error information when Redis connection fails
  docker/wait-for-redis.py
Labels: enhancement, non-trivial, deployment

#1013 Chore: Manually update dependencies
  Pipfile
  Pipfile.lock
  requirements.txt
Labels: backend, small-change, dependencies

#1025 Fix: use `force_authentication` instead of `force_login` for python api tests
  src/documents/tests/test_api.py
Labels: non-trivial, backend

#1030 Enhancement: show note on language change and offer reload
  src-ui/messages.xlf
  src-ui/src/app/components/common/toasts/toasts.component.html
  src-ui/src/app/components/manage/settings/settings.component.html
  src-ui/src/app/components/manage/settings/settings.component.ts
  src-ui/src/styles.scss
  src-ui/src/theme.scss
Labels: enhancement, non-trivial, frontend

#1017 Enhancement: Alphabetize tags by default
  src-ui/src/app/services/rest/document.service.ts
Labels: bug, non-trivial, frontend

#1007 Feature: better date pasting
  src-ui/src/app/components/common/input/date/date.component.html
  src-ui/src/app/components/common/input/date/date.component.ts
Labels: bug, non-trivial, frontend

#1008 Bugfix: Corrects the setting of max pixel size for OCR
  docs/configuration.rst
  src/paperless/settings.py
  src/paperless_tesseract/parsers.py
  src/paperless_text/parsers.py
Labels: bug, non-trivial, backend
