Repository paperless-ngx/paperless-ngx, pull requests merged in 2022-06, with the labels that each got.

#1057 Bugfix: Don't assume the document has a title set
  src/documents/models.py
Labels: bug, backend

#1032 Feature mail action custom tag
  docs/usage_overview.rst
  src/paperless_mail/mail.py
  src/paperless_mail/migrations/0015_alter_mailrule_action.py
  src/paperless_mail/models.py
  src/paperless_mail/tests/test_mail.py
Labels: documentation, non-trivial, backend

#1081 Fix vertical margins between pages of pdf viewer
  src-ui/src/app/components/document-detail/document-detail.component.scss
Labels: bug, frontend

#1088 Bugfix: Don't assume default Docker folders
  docker/docker-entrypoint.sh
  docker/docker-prepare.sh
Labels: bug, non-trivial, deployment

#1092 Fix app name and icons web manifest, optimize svg
  src-ui/src/assets/logo-dark-notext.svg
  src-ui/src/assets/logo-dark.svg
  src-ui/src/assets/logo-notext.svg
  src-ui/src/assets/logo-white-notext.svg
  src-ui/src/assets/logo.svg
  src-ui/src/manifest.webmanifest
Labels: non-trivial, frontend

#1091 Longer (5 vs 0.2s) guard_cycle for Django-Q
  src/paperless/settings.py
Labels: backend, small-change

#1118 Chore: Simplify building Python wheels
  .github/scripts/get-build-json.py
  .github/workflows/installer-library.yml
  Dockerfile
  build-docker-image.sh
  docker-builders/Dockerfile.pikepdf
  docker-builders/Dockerfile.psycopg2
Labels: ci-cd

#1014 Feature: Fork django-q to update dependencies
  Dockerfile
  Pipfile
  Pipfile.lock
  requirements.txt
Labels: enhancement, backend

#1127 Feature: Change document thumbnails to WebP
  .github/workflows/reusable-ci-backend.yml
  Dockerfile
  docker/install_management_commands.sh
  docs/configuration.rst
  docs/setup.rst
  paperless.conf.example
  src/documents/checks.py
  src/documents/consumer.py
  src/documents/management/commands/document_archiver.py
  src/documents/management/commands/document_exporter.py
  src/documents/management/commands/document_thumbnails.py
  src/documents/migrations/1021_webp_thumbnail_conversion.py
  src/documents/models.py
  src/documents/parsers.py
  src/documents/tests/samples/documents/thumbnails/0000001.png
  src/documents/tests/samples/documents/thumbnails/0000001.webp
  src/documents/tests/samples/documents/thumbnails/0000002.png
  src/documents/tests/samples/documents/thumbnails/0000002.webp
  src/documents/tests/samples/documents/thumbnails/0000003.png
  src/documents/tests/samples/documents/thumbnails/0000003.webp
  src/documents/tests/samples/documents/thumbnails/0000004.png.gpg
  src/documents/tests/samples/documents/thumbnails/0000004.webp.gpg
  src/documents/tests/test_api.py
  src/documents/tests/test_consumer.py
  src/documents/tests/test_management.py
  src/documents/tests/test_migration_webp_conversion.py
  src/documents/tests/test_parsers.py
  src/documents/tests/test_sanity_check.py
  src/documents/views.py
  src/paperless/checks.py
  src/paperless/settings.py
  src/paperless/tests/test_checks.py
  src/paperless_text/parsers.py
Labels: enhancement, non-trivial, backend
