Repository paperless-ngx/paperless-ngx, pull requests merged in 2023-12, with the labels that each got.

#4680 Enhancement: auto-refresh logs & tasks
  src-ui/messages.xlf
  src-ui/src/app/components/admin/logs/logs.component.html
  src-ui/src/app/components/admin/logs/logs.component.spec.ts
  src-ui/src/app/components/admin/logs/logs.component.ts
  src-ui/src/app/components/admin/tasks/tasks.component.html
  src-ui/src/app/components/admin/tasks/tasks.component.spec.ts
  src-ui/src/app/components/admin/tasks/tasks.component.ts
Labels: enhancement, non-trivial, frontend

#4737 Documentation: Fix typos
  docs/administration.md
  docs/advanced_usage.md
  docs/development.md
  docs/faq.md
Labels: documentation, small-change

#4706 Chore: migrate crowdin to GHA
  .github/workflows/crowdin.yml
  crowdin.yml
Labels: non-trivial, ci-cd, skip-changelog

#4767 Fix: only show global drag-drop when files included
  src-ui/src/app/components/file-drop/file-drop.component.spec.ts
  src-ui/src/app/components/file-drop/file-drop.component.ts
Labels: bug, enhancement, non-trivial, frontend

#4773 Fix: update checker broke in v2.0.0
  src/documents/views.py
Labels: bug, backend, small-change

#4691 Enhancement: Allow excluding mail attachments by name
  src-ui/messages.xlf
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.ts
  src-ui/src/app/data/paperless-mail-rule.ts
  src-ui/src/app/services/rest/mail-rule.service.spec.ts
  src/documents/tests/test_api.py
  src/documents/tests/test_consumption_templates.py
  src/paperless_mail/admin.py
  src/paperless_mail/mail.py
  src/paperless_mail/migrations/0023_remove_mailrule_filter_attachment_filename_and_more.py
  src/paperless_mail/models.py
  src/paperless_mail/serialisers.py
  src/paperless_mail/tests/test_api.py
  src/paperless_mail/tests/test_mail.py
Labels: enhancement

#4678 Feature: update user profile
  docs/api.md
  src-ui/messages.xlf
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/admin/users-groups/users-groups.component.ts
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.spec.ts
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/components/common/input/password/password.component.html
  src-ui/src/app/components/common/input/password/password.component.spec.ts
  src-ui/src/app/components/common/input/password/password.component.ts
  src-ui/src/app/components/common/input/text/text.component.html
  src-ui/src/app/components/common/input/text/text.component.ts
  src-ui/src/app/components/common/profile-edit-dialog/profile-edit-dialog.component.html
  src-ui/src/app/components/common/profile-edit-dialog/profile-edit-dialog.component.scss
  src-ui/src/app/components/common/profile-edit-dialog/profile-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/profile-edit-dialog/profile-edit-dialog.component.ts
  src-ui/src/app/data/user-profile.ts
  src-ui/src/app/services/profile.service.spec.ts
  src-ui/src/app/services/profile.service.ts
  src/documents/tests/test_api_profile.py
  src/paperless/serialisers.py
  src/paperless/urls.py
  src/paperless/views.py
Labels: enhancement, backend, frontend

#4778 Fix: use default permissions for objects created via dropdown
  src-ui/src/app/components/common/edit-dialog/edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/edit-dialog.component.ts
  src-ui/src/app/components/common/input/tags/tags.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
Labels: bug, non-trivial, frontend

#4762 Fix: empty string for consumption template field should be interpreted as `None`
  src/documents/serialisers.py
  src/documents/tests/test_api.py
Labels: bug, non-trivial, backend

#4679 Feature: pngx PDF viewer with updated pdfjs
  src-ui/.eslintrc.json
  src-ui/angular.json
  src-ui/e2e/document-detail/document-detail.spec.ts
  src-ui/jest.config.js
  src-ui/package-lock.json
  src-ui/package.json
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/common/pdf-viewer/pdf-viewer.component.html
  src-ui/src/app/components/common/pdf-viewer/pdf-viewer.component.scss
  src-ui/src/app/components/common/pdf-viewer/pdf-viewer.component.ts
  src-ui/src/app/components/common/pdf-viewer/typings.ts
  src-ui/src/app/components/common/pdf-viewer/utils/event-bus-utils.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.scss
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: enhancement, frontend

#4814 Feature: Adds additional warnings during an import if it might fail
  src/documents/management/commands/document_importer.py
  src/documents/tests/test_importer.py
  src/documents/tests/test_management_importer.py
Labels: enhancement, non-trivial, backend

#4825 Fix: export consumption templates & custom fields in exporter
  docs/changelog.md
  src/documents/management/commands/document_exporter.py
  src/documents/tests/test_management_exporter.py
Labels: bug, documentation, non-trivial, backend

#4829 Fix: welcome widget text color
  src-ui/src/app/components/dashboard/widgets/welcome-widget/welcome-widget.component.html
Labels: frontend, small-change

#4799 Enhancement: implement document link custom field
  docs/usage.md
  src-ui/messages.xlf
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/common/edit-dialog/custom-field-edit-dialog/custom-field-edit-dialog.component.html
  src-ui/src/app/components/common/input/document-link/document-link.component.html
  src-ui/src/app/components/common/input/document-link/document-link.component.scss
  src-ui/src/app/components/common/input/document-link/document-link.component.spec.ts
  src-ui/src/app/components/common/input/document-link/document-link.component.ts
  src-ui/src/app/components/common/input/tags/tags.component.html
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/data/paperless-custom-field.ts
  src/documents/migrations/1042_consumptiontemplate_assign_custom_fields.py
  src/documents/migrations/1042_consumptiontemplate_assign_custom_fields_and_more.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tests/test_api_custom_fields.py
Labels: documentation, enhancement, non-trivial, backend, frontend

#4860 Fix: dont show move icon for file tasks badge
  src-ui/src/app/components/app-frame/app-frame.component.scss
Labels: bug, frontend, small-change

#4867 Fix: Allow users to configure the "From" email for password reset
  docs/configuration.md
  src/paperless/settings.py
Labels: bug, backend, small-change

#4858 Chore: Simplifies how the documentation site is deployed
  .github/workflows/ci.yml
  docs/requirements.txt
Labels: non-trivial, ci-cd

#4865 Fix: respect baseURI for pdfjs worker URL
  src-ui/src/app/app.component.ts
  src-ui/src/app/components/common/pdf-viewer/pdf-viewer.component.ts
Labels: bug, enhancement, non-trivial, frontend

#4885 Fix: disable toggle for share link creation without archive version, fix auto-copy in Safari
  src-ui/messages.xlf
  src-ui/src/app/components/common/share-links-dropdown/share-links-dropdown.component.html
  src-ui/src/app/components/common/share-links-dropdown/share-links-dropdown.component.spec.ts
  src-ui/src/app/components/common/share-links-dropdown/share-links-dropdown.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/data/paperless-document.ts
Labels: bug, non-trivial, frontend

#4928 Fix: Correct spelling of 'initialization'
  install-paperless-ngx.sh
Labels: small-change

#4931 Fix: Use the attachment filename so downstream template matching works
  src/paperless_mail/mail.py
  src/paperless_mail/tests/test_mail.py
Labels: bug, non-trivial, backend

#4891 Fix: Convert search dates to UTC in advanced search
  src/documents/index.py
  src/documents/tests/test_api.py
Labels: bug, non-trivial, backend

#4934 Fix: Don't allow autocomplete searches to fail on schema field matches
  src/documents/index.py
  src/documents/tests/test_api.py
  src/documents/tests/test_api_search.py
Labels: bug, non-trivial, backend

#4938 Fix: allow text copy in pngx pdf viewer
  src-ui/src/app/components/document-detail/document-detail.component.html
Labels: bug, enhancement, frontend, small-change

#4935 Chore: reorganize api tests
  src/documents/tests/test_api.py
  src/documents/tests/test_api_bulk_download.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_api_consumption_templates.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_api_objects.py
  src/documents/tests/test_api_permissions.py
  src/documents/tests/test_api_remote_version.py
  src/documents/tests/test_api_tasks.py
  src/documents/tests/test_api_uisettings.py
Labels: non-trivial, backend

#4944 Fix: Updates gotenberg-client, including workaround for Gotenberg non-latin handling
  Pipfile.lock
Labels: bug, small-change

#4956 Fix: sort consumption templates by order by default
  src/documents/views.py
Labels: bug, backend, small-change

#4977 Fix: Don't attempt to parse none objects during date searching
  src/documents/index.py
  src/documents/tests/test_api_search.py
Labels: bug, non-trivial, backend

#4979 Fix: support show errors for select dropdowns
  src-ui/src/app/components/common/edit-dialog/consumption-template-edit-dialog/consumption-template-edit-dialog.component.html
  src-ui/src/app/components/common/input/select/select.component.html
  src-ui/src/app/components/common/input/select/select.component.scss
Labels: bug, frontend

#4981 Fix: Apply user arguments even in the case of the forcing OCR
  docs/configuration.md
  src/paperless_tesseract/parsers.py
Labels: bug, documentation, backend, small-change

#4984 Fix: Export of custom field instances during a split manifest export
  src/documents/management/commands/document_exporter.py
  src/documents/tests/test_management_exporter.py
Labels: bug, non-trivial, backend

#4982 Fix: Document metadata is lost during barcode splitting
  src/documents/barcodes.py
  src/documents/tasks.py
  src/documents/tests/test_barcodes.py
  src/documents/tests/utils.py
Labels: bug, non-trivial, backend

#4990 Refactor: Boost performance by reducing db queries
  src/documents/views.py
Labels: non-trivial, backend

#5028 Fix password change detection on profile edit
  src-ui/src/app/components/common/profile-edit-dialog/profile-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/profile-edit-dialog/profile-edit-dialog.component.ts
Labels: bug, frontend, small-change

#5008 Enhancement: above and below doc detail save buttons
  docs/assets/screenshots/custom_field2.png
  docs/assets/screenshots/editing.png
  docs/assets/screenshots/permissions_document.png
  src-ui/e2e/document-detail/document-detail.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.scss
Labels: enhancement

#5020 Enhancement: document link field fixes
  src-ui/src/app/components/common/input/document-link/document-link.component.scss
  src-ui/src/app/components/common/input/document-link/document-link.component.spec.ts
  src-ui/src/app/components/common/input/document-link/document-link.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/services/rest/abstract-paperless-service.spec.ts
  src-ui/src/app/services/rest/abstract-paperless-service.ts
Labels: bug, enhancement, non-trivial, frontend

#5009 Fix: allow system keyboard shortcuts in date fields
  src-ui/src/app/components/common/input/date/date.component.spec.ts
  src-ui/src/app/components/common/input/date/date.component.ts
Labels: bug, non-trivial, frontend

#4957 Feature: Allow deletion of documents via the fuzzy matching command
  docs/administration.md
  src/documents/management/commands/document_fuzzy_match.py
  src/documents/tests/test_management_fuzzy.py
Labels: enhancement, non-trivial, backend

#4972 Enhancement: Add {original_filename}, {added_time} to title placeholders
  docs/usage.md
  src/documents/consumer.py
Labels: backend, small-change

#5040 Fix: Updates Ghostscript to 10.02.1 for more bug fixes to it
  Dockerfile
Labels: bug, small-change

#4947 Enhancement: Improved popup preview, respect embedded viewer, error handling
  src-ui/messages.xlf
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/common/preview-popup/preview-popup.component.html
  src-ui/src/app/components/common/preview-popup/preview-popup.component.scss
  src-ui/src/app/components/common/preview-popup/preview-popup.component.spec.ts
  src-ui/src/app/components/common/preview-popup/preview-popup.component.ts
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.html
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.spec.ts
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.ts
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.spec.ts
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.ts
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.spec.ts
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.ts
  src-ui/src/app/components/document-list/popover-preview/popover-preview.scss
  src-ui/src/styles.scss
Labels: enhancement, non-trivial, frontend

#5041 Chore: Filters out the not really useful warning from Django
  Dockerfile
Labels: small-change

#5061 Chore: Bulk backend update
  .github/workflows/ci.yml
  Dockerfile
  Pipfile
  Pipfile.lock
Labels: small-change, ci-cd, dependencies

#4859 Enhancement: shared icon & shared by me filter
  docker/docker-prepare.sh
  src-ui/messages.xlf
  src-ui/src/app/components/common/permissions-filter-dropdown/permissions-filter-dropdown.component.html
  src-ui/src/app/components/common/permissions-filter-dropdown/permissions-filter-dropdown.component.spec.ts
  src-ui/src/app/components/common/permissions-filter-dropdown/permissions-filter-dropdown.component.ts
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
  src-ui/src/app/data/filter-rule-type.ts
  src-ui/src/app/data/object-with-permissions.ts
  src/documents/filters.py
  src/documents/index.py
  src/documents/migrations/1043_alter_savedviewfilterrule_rule_type.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_api_permissions.py
  src/documents/tests/test_api_search.py
  src/locale/en_US/LC_MESSAGES/django.po
Labels: enhancement, non-trivial, backend, frontend

#4907 Enhancement: symmetric document links
  docs/usage.md
  src/documents/serialisers.py
  src/documents/tests/test_api_custom_fields.py
Labels: documentation, enhancement, non-trivial, backend

#5063 Fix: dont allow null `custom_fields` property via API
  src/documents/serialisers.py
  src/documents/tests/test_api_custom_fields.py
Labels: bug, non-trivial, backend

#5052 Fix: Make the admin panel accessible when using a large number of documents
  src/documents/admin.py
  src/paperless_mail/admin.py
Labels: bug, non-trivial, backend

#5070 Enhancement: Add tooltip for select dropdown items
  src-ui/src/app/components/common/input/select/select.component.html
Labels: enhancement, frontend, small-change

#5077 Documentation: organize API endpoints
  docs/api.md
Labels: documentation, small-change

#5089 Fix: Stop auto-refresh logs / tasks after close
  src-ui/src/app/components/admin/logs/logs.component.ts
  src-ui/src/app/components/admin/tasks/tasks.component.ts
Labels: bug, frontend, small-change

#5082 Fix: ensure CSRF-Token on Index view
  src/paperless/urls.py
Labels: bug, backend, small-change

#5099 Fix: update ASN regex to support Unicode
  src/documents/barcodes.py
Labels: bug, backend, small-change

#5094 Fix: Disable auto-login for API token requests
  src/paperless/auth.py
  src/paperless/settings.py
Labels: bug, backend, small-change

#5117 Fix: Case where a mail attachment has no filename to use
  src/paperless_mail/mail.py
Labels: bug, non-trivial, backend

#5134 Fix: some dropdowns broken in 2.2.0
  src-ui/src/app/components/common/input/select/select.component.html
Labels: bug, frontend, small-change

#5142 Fix: allow multiple consumption templates to assign the same custom field
  src/documents/data_models.py
  src/documents/tests/test_consumption_templates.py
Labels: bug, non-trivial, backend

#5144 Fix: saving doc links with no value
  src/documents/serialisers.py
Labels: bug, backend, small-change

#5155 Fix: type casting of db values for 'shared by me' filter
  src/documents/filters.py
Labels: bug, backend, small-change

#5166 Enhancement: improve validation of custom field values
  src/documents/serialisers.py
  src/documents/tests/test_api_custom_fields.py
  src/documents/validators.py
Labels: bug, non-trivial, backend

#5126 Feature: Allow setting backend configuration settings via the UI
  docs/configuration.md
  src-ui/src/app/app-routing.module.ts
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/admin/config/config.component.html
  src-ui/src/app/components/admin/config/config.component.scss
  src-ui/src/app/components/admin/config/config.component.spec.ts
  src-ui/src/app/components/admin/config/config.component.ts
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/common/input/number/number.component.html
  src-ui/src/app/components/common/input/switch/switch.component.html
  src-ui/src/app/components/common/input/switch/switch.component.scss
  src-ui/src/app/components/common/input/switch/switch.component.spec.ts
  src-ui/src/app/components/common/input/switch/switch.component.ts
  src-ui/src/app/components/common/input/text/text.component.html
  src-ui/src/app/data/paperless-config.ts
  src-ui/src/app/services/config.service.spec.ts
  src-ui/src/app/services/config.service.ts
  src/documents/classifier.py
  src/documents/consumer.py
  src/documents/management/commands/document_consumer.py
  src/documents/management/commands/document_exporter.py
  src/documents/management/commands/loaddata_stdin.py
  src/documents/parsers.py
  src/documents/tests/test_consumer.py
  src/documents/tests/test_management_exporter.py
  src/paperless/config.py
  src/paperless/migrations/0001_initial.py
  src/paperless/migrations/__init__.py
  src/paperless/models.py
  src/paperless/serialisers.py
  src/paperless/settings.py
  src/paperless/urls.py
  src/paperless/views.py
  src/paperless_mail/mail.py
  src/paperless_mail/parsers.py
  src/paperless_tesseract/parsers.py
  src/paperless_tesseract/tests/test_parser.py
  src/paperless_tesseract/tests/test_parser_custom_settings.py
  src/paperless_text/parsers.py
  src/paperless_tika/parsers.py
  src/setup.cfg
Labels: enhancement, non-trivial, backend, frontend, notable

#5174 Fix: setting empty doc link with docs to be removed
  src/documents/serialisers.py
Labels: bug, backend, small-change

#5176 Create parent dirs of data/media/consume if necessary
  docker/docker-entrypoint.sh
Labels: small-change

#5187 Fix: symmetric doc links with target doc value None
  src/documents/serialisers.py
  src/documents/tests/test_api_custom_fields.py
Labels: bug, non-trivial, backend

#5193 Fix overlap of focus highlight on login
  src/documents/static/signin.css
Labels: bug, backend, small-change

#5194 Fix: Disable custom field remove button if user does not have permissions
  src-ui/src/app/components/document-detail/document-detail.component.html
Labels: bug, non-trivial, frontend

#5196 fix command for version check
  docs/setup.md
Labels: documentation, small-change
