Repository paperless-ngx/paperless-ngx, pull requests merged in 2023-07, with the labels that each got.

#3731 Fix: limit ng-select size for addition of filter button
  src-ui/src/app/components/document-detail/document-detail.component.scss
Labels: bug, frontend, small-change

#3749 Fix: translate file tasks types in footer
  src-ui/messages.xlf
  src-ui/src/app/components/manage/tasks/tasks.component.html
  src-ui/src/app/components/manage/tasks/tasks.component.ts
Labels: bug, non-trivial, frontend

#3783 Development: tolerate improved tesseract OCR results in tests
  src/paperless_tesseract/tests/test_parser.py
Labels: backend, small-change, skip-changelog

#3791 Fix: add UI tour step padding
  src-ui/messages.xlf
  src-ui/package-lock.json
  src-ui/package.json
  src-ui/src/app/app.component.ts
  src-ui/src/styles.scss
Labels: bug, non-trivial, frontend

#3794 Fix: Bumps playwright to 1.36.0
  src-ui/package-lock.json
  src-ui/package.json
Labels: bug, frontend, small-change, skip-changelog

#3750 Chore: group frontend angular dependabot updates
  .github/dependabot.yml
Labels: small-change, ci-cd

#3719 Enhancement / Fix: Migrate encrypted png thumbnails to webp
  src/documents/migrations/1037_webp_encrypted_thumbnail_conversion.py
  src/documents/tests/test_migration_encrypted_webp_conversion.py
Labels: bug, enhancement, non-trivial, backend

#3834 Fix interaction between API and barcode archive serial number
  src/documents/tasks.py
Labels: bug, backend, small-change

#3835 Fix: Add warning to install script need for permissions
  install-paperless-ngx.sh
Labels: bug, small-change

#3672 Feature: include global and object-level permissions in export / import
  src/documents/management/commands/document_exporter.py
  src/documents/management/commands/document_importer.py
  src/documents/tests/test_management_exporter.py
Labels: enhancement, non-trivial, backend

#3844 Documentation improvements
  CONTRIBUTING.md
  docs/administration.md
  docs/advanced_usage.md
  docs/configuration.md
  docs/development.md
  docs/faq.md
Labels: documentation, small-change

#3847 Fix: issues with copy2 or copystat and SELinux permissions
  src/documents/barcodes.py
  src/documents/consumer.py
  src/documents/management/commands/document_exporter.py
  src/documents/management/commands/document_importer.py
  src/documents/parsers.py
  src/documents/tests/test_management_exporter.py
  src/documents/utils.py
Labels: bug, non-trivial, backend

#3784 Feature: collate two single-sided multipage scans
  docs/advanced_usage.md
  docs/configuration.md
  paperless.conf.example
  src/documents/barcodes.py
  src/documents/converters.py
  src/documents/double_sided.py
  src/documents/tasks.py
  src/documents/tests/samples/double-sided-even.pdf
  src/documents/tests/samples/double-sided-odd.pdf
  src/documents/tests/test_double_sided.py
  src/paperless/settings.py
Labels: enhancement

#3869 Fix/enhancement: permissions for mail rules & accounts
  src-ui/messages.xlf
  src-ui/src/app/components/manage/settings/settings.component.html
  src-ui/src/app/components/manage/settings/settings.component.spec.ts
  src-ui/src/app/components/manage/settings/settings.component.ts
  src-ui/src/app/data/paperless-mail-account.ts
  src-ui/src/app/data/paperless-mail-rule.ts
  src/paperless_mail/admin.py
  src/paperless_mail/serialisers.py
  src/paperless_mail/tests/test_api.py
  src/paperless_mail/views.py
Labels: bug, non-trivial, backend, frontend

#3875 Feature: hover buttons for saved view widgets
  src-ui/messages.xlf
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.html
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.scss
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.spec.ts
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.ts
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
  src-ui/src/app/components/document-list/popover-preview/popover-preview.scss
  src-ui/src/styles.scss
  src-ui/src/theme.scss
Labels: enhancement, non-trivial, frontend

#3883 Chore: Update dependencies
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Dockerfile
  Pipfile
  Pipfile.lock
  src/paperless_tika/tests/test_tika_parser.py
Labels: small-change, dependencies

#3886 Fix: Provide SSL context to IMAP client
  src/paperless_mail/mail.py
Labels: bug, backend, small-change, security

#3861 Add 'doc_pk' to PAPERLESS_FILENAME_FORMAT handling
  docs/advanced_usage.md
  src/documents/file_handling.py
  src/documents/tests/test_file_handling.py
Labels: enhancement, backend, small-change
