Repository paperless-ngx/paperless-ngx, pull requests merged in 2023-09, with the labels that each got.

#4092 Fix: ghostscript rendering error doesnt trigger frontend failure message
  src/documents/consumer.py
  src/documents/tests/test_consumer.py
  src/paperless_tesseract/parsers.py
  src/paperless_tesseract/tests/test_parser.py
Labels: bug, backend, small-change

#4060 Enhancement: update bootstrap to v5.3.1 for backend static pages
  src/documents/static/bootstrap.min.css
  src/documents/static/signin.css
  src/documents/templates/index.html
  src/documents/templates/registration/logged_out.html
  src/documents/templates/registration/login.html
Labels: enhancement, non-trivial, backend

#4088 Enhancement: Add Afrikaans, Greek & Norwegian languages
  src-ui/angular.json
  src-ui/messages.xlf
  src-ui/setup-jest.ts
  src-ui/src/app/app.module.ts
  src-ui/src/app/services/settings.service.ts
  src/paperless/settings.py
Labels: enhancement, non-trivial, backend, frontend

#4080 Enhancement: add --id-range for document_retagger
  docs/administration.md
  src/documents/management/commands/document_retagger.py
  src/documents/tests/test_management_retagger.py
Labels: backend, small-change

#4129 Change: PWA Manifest to Standalone Display
  src-ui/src/manifest.webmanifest
Labels: frontend, small-change

#4142 Chore: Unlock dependencies & update them all
  .dockerignore
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .python-version
  Dockerfile
  Pipfile
  Pipfile.lock
  src/documents/management/commands/document_importer.py
  src/documents/serialisers.py
  src/paperless/views.py
  src/paperless_mail/mail.py
  src/paperless_mail/parsers.py
Labels: non-trivial, backend, dependencies

#4146 Feature: Official support for Python 3.11
  .github/workflows/ci.yml
  docs/setup.md
  src/documents/tests/test_migration_archive_files.py
  src/setup.cfg
Labels: enhancement, backend, small-change

#4062 Enhancement: Improved error notifications
  src-ui/messages.xlf
  src-ui/setup-jest.ts
  src-ui/src/app/components/common/toasts/toasts.component.html
  src-ui/src/app/components/common/toasts/toasts.component.scss
  src-ui/src/app/components/common/toasts/toasts.component.spec.ts
  src-ui/src/app/components/common/toasts/toasts.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/components/document-notes/document-notes.component.ts
  src-ui/src/app/components/manage/management-list/management-list.component.ts
  src-ui/src/app/components/manage/settings/settings.component.ts
  src-ui/src/app/services/toast.service.ts
  src-ui/src/theme.scss
Labels: enhancement, non-trivial, frontend

#4133 Fix: hide entire add user / group buttons if insufficient permissions
  src-ui/src/app/components/manage/settings/settings.component.html
Labels: bug, frontend, small-change

#4149 Chore: update docker image & ci testing node to v18
  .github/workflows/ci.yml
  Dockerfile
Labels: enhancement, frontend, small-change, dependencies

#4055 Enhancement: frontend better handle slow backend requests
  src-ui/src/app/components/common/date-dropdown/date-dropdown.component.html
  src-ui/src/app/components/common/date-dropdown/date-dropdown.component.ts
  src-ui/src/app/components/common/permissions-filter-dropdown/permissions-filter-dropdown.component.html
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.ts
  src-ui/src/app/components/document-list/document-list.component.ts
  src-ui/src/app/components/manage/logs/logs.component.html
  src-ui/src/app/components/manage/logs/logs.component.ts
  src-ui/src/app/components/manage/management-list/management-list.component.html
  src-ui/src/app/components/manage/management-list/management-list.component.ts
  src-ui/src/app/components/manage/tasks/tasks.component.ts
  src-ui/src/app/services/document-list-view.service.spec.ts
  src-ui/src/app/services/document-list-view.service.ts
  src-ui/src/app/services/tasks.service.ts
Labels: enhancement, non-trivial, frontend

#4150 Enhancement: Updates the underlying image to use Python 3.11
  Dockerfile
Labels: enhancement, notable

#4155 Fix: dashboard widget card borders hidden by bkgd color
  src-ui/src/app/components/dashboard/widgets/widget-frame/widget-frame.component.html
Labels: bug, frontend, small-change

#4156 Breaking: Drop support for Python 3.8
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .python-version
  .ruff.toml
  CONTRIBUTING.md
  Pipfile
  Pipfile.lock
  docs/setup.md
  src/documents/barcodes.py
  src/documents/classifier.py
  src/documents/consumer.py
  src/documents/data_models.py
  src/documents/double_sided.py
  src/documents/management/commands/document_consumer.py
  src/documents/management/commands/document_exporter.py
  src/documents/parsers.py
  src/documents/serialisers.py
  src/documents/tasks.py
  src/documents/tests/test_api.py
  src/documents/tests/test_consumer.py
  src/documents/tests/test_document_model.py
  src/documents/tests/test_matchables.py
  src/documents/tests/test_migration_encrypted_webp_conversion.py
  src/documents/tests/test_migration_webp_conversion.py
  src/documents/tests/utils.py
  src/documents/utils.py
  src/paperless/checks.py
  src/paperless/settings.py
  src/paperless/version.py
  src/paperless_mail/mail.py
  src/paperless_mail/parsers.py
  src/paperless_mail/tests/test_mail.py
  src/paperless_tesseract/tests/test_parser.py
  src/paperless_tika/tests/test_tika_parser.py
Labels: non-trivial, backend, breaking-change

#4171 Fix: Logs the errors during thumbnail generation
  src/documents/parsers.py
  src/documents/resources/document.png
  src/documents/resources/document.webp
  src/documents/tests/test_file_handling.py
Labels: bug, backend

#4179 Fix: support `doc_pk` storage path placeholder via API
  src/documents/serialisers.py
  src/documents/tests/test_api.py
Labels: bug, backend, small-change

#4174 Chore: change dark mode to use Bootstrap's color modes
  src-ui/e2e/settings/settings.spec.ts
  src-ui/src/app/services/settings.service.spec.ts
  src-ui/src/app/services/settings.service.ts
  src-ui/src/index.html
  src-ui/src/styles.scss
  src-ui/src/theme.scss
Labels: non-trivial, frontend

#4183 Fix: Trim unneeded libraries from Docker image
  Dockerfile
Labels: bug, enhancement, small-change

#4184 Chore: update docker image and ci to node 20
  .github/workflows/ci.yml
  Dockerfile
Labels: enhancement, small-change, ci-cd

#3996 Feature: Share links
  docs/usage.md
  src-ui/messages.xlf
  src-ui/package-lock.json
  src-ui/package.json
  src-ui/setup-jest.ts
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/common/edit-dialog/mail-account-edit-dialog/mail-account-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/share-links-dropdown/share-links-dropdown.component.html
  src-ui/src/app/components/common/share-links-dropdown/share-links-dropdown.component.scss
  src-ui/src/app/components/common/share-links-dropdown/share-links-dropdown.component.spec.ts
  src-ui/src/app/components/common/share-links-dropdown/share-links-dropdown.component.ts
  src-ui/src/app/components/common/toasts/toasts.component.spec.ts
  src-ui/src/app/components/common/toasts/toasts.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/data/paperless-share-link.ts
  src-ui/src/app/services/permissions.service.spec.ts
  src-ui/src/app/services/permissions.service.ts
  src-ui/src/app/services/rest/abstract-paperless-service.ts
  src-ui/src/app/services/rest/share-link.service.spec.ts
  src-ui/src/app/services/rest/share-link.service.ts
  src/documents/admin.py
  src/documents/filters.py
  src/documents/migrations/1038_sharelink.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/templates/registration/logged_out.html
  src/documents/templates/registration/login.html
  src/documents/tests/test_api.py
  src/documents/tests/test_management_exporter.py
  src/documents/tests/test_views.py
  src/documents/views.py
  src/locale/en_US/LC_MESSAGES/django.po
  src/paperless/urls.py
Labels: enhancement, non-trivial, backend, frontend, notable

#4189 Enhancement: Allow the user the specifiy the export zip file name
  docs/administration.md
  src/documents/management/commands/document_exporter.py
Labels: enhancement, non-trivial, backend

#4193 Fix: application of theme color vars at root
  src-ui/src/app/services/settings.service.spec.ts
  src-ui/src/app/services/settings.service.ts
Labels: non-trivial, frontend

#4198 Fix: completely hide upload widget if user does not have permissions
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.html
Labels: frontend, small-change

#4207 Documentation: Fix fuzzy matching details
  docs/advanced_usage.md
Labels: bug, documentation, small-change

#4176 Enhancement: bulk edit object permissions
  src-ui/src/app/components/common/toasts/toasts.component.ts
  src-ui/src/app/components/manage/management-list/management-list.component.html
  src-ui/src/app/components/manage/management-list/management-list.component.spec.ts
  src-ui/src/app/components/manage/management-list/management-list.component.ts
  src-ui/src/app/components/manage/tasks/tasks.component.html
  src-ui/src/app/data/object-with-permissions.ts
  src-ui/src/app/services/rest/abstract-name-filter-service.spec.ts
  src-ui/src/app/services/rest/abstract-name-filter-service.ts
  src/documents/serialisers.py
  src/documents/tests/test_api.py
  src/documents/views.py
  src/paperless/urls.py
Labels: enhancement, non-trivial, backend, frontend

#4225 Fix: Set permissions before declaring volumes for rootless
  Dockerfile
Labels: bug, enhancement, non-trivial

#4230 Fix: Set a non-zero polling internal when inotify cannot import
  src/documents/management/commands/document_consumer.py
Labels: bug, backend, small-change

#4233 Enhancement: support default permissions for object creation via frontend
  docs/usage.md
  src-ui/messages.xlf
  src-ui/src/app/components/common/edit-dialog/correspondent-edit-dialog/correspondent-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/document-type-edit-dialog/document-type-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/edit-dialog.component.ts
  src-ui/src/app/components/common/edit-dialog/group-edit-dialog/group-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/mail-account-edit-dialog/mail-account-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/storage-path-edit-dialog/storage-path-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/tag-edit-dialog/tag-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/user-edit-dialog/user-edit-dialog.component.spec.ts
  src-ui/src/app/components/manage/settings/settings.component.html
  src-ui/src/app/components/manage/settings/settings.component.spec.ts
  src-ui/src/app/components/manage/settings/settings.component.ts
  src-ui/src/app/data/paperless-uisettings.ts
  src-ui/src/app/services/settings.service.spec.ts
  src-ui/src/app/services/settings.service.ts
Labels: enhancement, non-trivial, frontend

#4239 CI: fix playwright browser version mismatch failures
  .github/workflows/ci.yml
Labels: bug, small-change, ci-cd

#4237 Documentation enhancement: add direct links for all config vars
  docs/administration.md
  docs/advanced_usage.md
  docs/assets/extra.css
  docs/configuration.md
  docs/setup.md
  docs/troubleshooting.md
  docs/usage.md
Labels: documentation

#4248 Chore: Standardizes the imports across all the files and modules
  src/documents/__init__.py
  src/documents/admin.py
  src/documents/apps.py
  src/documents/consumer.py
  src/documents/filters.py
  src/documents/serialisers.py
  src/documents/tests/test_checks.py
  src/documents/tests/test_consumer.py
  src/documents/tests/test_models.py
  src/documents/views.py
  src/paperless/__init__.py
  src/paperless_mail/signals.py
  src/paperless_tesseract/__init__.py
  src/paperless_tesseract/signals.py
  src/paperless_text/signals.py
  src/paperless_tika/signals.py
Labels: non-trivial, backend

#4251 Enhancement: settings reorganization & improvements, separate admin section
  src-ui/e2e/admin/requests/api-settings.har
  src-ui/e2e/admin/settings.spec.ts
  src-ui/messages.xlf
  src-ui/src/app/app-routing.module.ts
  src-ui/src/app/app.component.ts
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/admin/logs/logs.component.html
  src-ui/src/app/components/admin/logs/logs.component.scss
  src-ui/src/app/components/admin/logs/logs.component.spec.ts
  src-ui/src/app/components/admin/logs/logs.component.ts
  src-ui/src/app/components/admin/settings/settings.component.html
  src-ui/src/app/components/admin/settings/settings.component.scss
  src-ui/src/app/components/admin/settings/settings.component.spec.ts
  src-ui/src/app/components/admin/settings/settings.component.ts
  src-ui/src/app/components/admin/tasks/tasks.component.html
  src-ui/src/app/components/admin/tasks/tasks.component.scss
  src-ui/src/app/components/admin/tasks/tasks.component.spec.ts
  src-ui/src/app/components/admin/tasks/tasks.component.ts
  src-ui/src/app/components/admin/users-groups/users-groups.component.html
  src-ui/src/app/components/admin/users-groups/users-groups.component.scss
  src-ui/src/app/components/admin/users-groups/users-groups.component.spec.ts
  src-ui/src/app/components/admin/users-groups/users-groups.component.ts
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/manage/consumption-templates-list/consumption-templates-list.component.html
  src-ui/src/app/components/manage/consumption-templates/consumption-templates.component.html
  src-ui/src/app/components/manage/consumption-templates/consumption-templates.component.scss
  src-ui/src/app/components/manage/consumption-templates/consumption-templates.component.spec.ts
  src-ui/src/app/components/manage/consumption-templates/consumption-templates.component.ts
  src-ui/src/app/components/manage/mail/mail.component.html
  src-ui/src/app/components/manage/mail/mail.component.scss
  src-ui/src/app/components/manage/mail/mail.component.spec.ts
  src-ui/src/app/components/manage/mail/mail.component.ts
  src-ui/src/app/components/manage/management-list/management-list.component.html
  src-ui/src/app/components/manage/management-list/management-list.component.scss
  src-ui/src/app/components/manage/management-list/management-list.component.spec.ts
  src-ui/src/app/components/manage/settings/settings.component.spec.ts
  src-ui/src/app/components/manage/settings/settings.component.ts
  src-ui/src/app/services/rest/mail-account.service.ts
  src-ui/src/styles.scss
Labels: enhancement, non-trivial, frontend

#4263 Change: update translation string for tasks dialog
  src-ui/messages.xlf
  src-ui/src/app/components/admin/tasks/tasks.component.ts
Labels: frontend, translation

#4265 Fix: Ensures all old connections are closed in certain long lived places
  src/documents/management/commands/document_consumer.py
  src/documents/signals/handlers.py
Labels: bug, backend, small-change

#4280 Chore: Updates dependabot to group more dependencies
  .github/dependabot.yml
Labels: non-trivial, ci-cd

#4278 Feature: Updates Django to 4.2.5
  Pipfile
  Pipfile.lock
Labels: enhancement, small-change

#4287 Fix: long notes cause visual overflow
  src-ui/src/app/components/document-notes/document-notes.component.scss
Labels: bug, frontend, small-change

#4277 Fix: Generate secret key with C locale and increase allowed characters
  install-paperless-ngx.sh
Labels: bug, non-trivial, deployment

#4252 Enhancement: dashboard improvements, drag-n-drop reorder dashboard views
  src-ui/e2e/dashboard/dashboard.spec.ts
  src-ui/messages.xlf
  src-ui/package-lock.json
  src-ui/package.json
  src-ui/patches/ngx-file-drop+16.0.0.patch
  src-ui/src/app/app.component.html
  src-ui/src/app/app.component.spec.ts
  src-ui/src/app/app.component.ts
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.scss
  src-ui/src/app/components/common/page-header/page-header.component.html
  src-ui/src/app/components/common/page-header/page-header.component.spec.ts
  src-ui/src/app/components/dashboard/dashboard.component.html
  src-ui/src/app/components/dashboard/dashboard.component.spec.ts
  src-ui/src/app/components/dashboard/dashboard.component.ts
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.html
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.scss
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.spec.ts
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.ts
  src-ui/src/app/components/dashboard/widgets/statistics-widget/statistics-widget.component.html
  src-ui/src/app/components/dashboard/widgets/statistics-widget/statistics-widget.component.spec.ts
  src-ui/src/app/components/dashboard/widgets/statistics-widget/statistics-widget.component.ts
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.html
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.spec.ts
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.ts
  src-ui/src/app/components/dashboard/widgets/widget-frame/widget-frame.component.html
  src-ui/src/app/components/dashboard/widgets/widget-frame/widget-frame.component.scss
  src-ui/src/app/components/dashboard/widgets/widget-frame/widget-frame.component.spec.ts
  src-ui/src/app/components/dashboard/widgets/widget-frame/widget-frame.component.ts
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/file-drop/file-drop.component.html
  src-ui/src/app/components/file-drop/file-drop.component.scss
  src-ui/src/app/components/file-drop/file-drop.component.spec.ts
  src-ui/src/app/components/file-drop/file-drop.component.ts
  src-ui/src/app/data/paperless-uisettings.ts
  src-ui/src/app/services/consumer-status.service.ts
  src-ui/src/app/services/settings.service.spec.ts
  src-ui/src/app/services/settings.service.ts
  src-ui/src/app/services/upload-documents.service.spec.ts
  src-ui/src/app/services/upload-documents.service.ts
  src-ui/src/styles.scss
  src-ui/src/theme.scss
  src/documents/tests/test_api.py
  src/documents/views.py
Labels: enhancement, non-trivial, backend, frontend

#4292 Chore: remove ignore translation branches from ci
  .github/workflows/ci.yml
Labels: small-change, ci-cd, skip-changelog
