Repository paperless-ngx/paperless-ngx, pull requests merged in 2023-01, with the labels that each got.

#2295 Bugfix: Fix no content when processing some RTL files
  src/paperless_tesseract/parsers.py
Labels: bug, backend

#2313 Add Arabic language to frontend
  src-ui/angular.json
  src-ui/src/app/app.module.ts
  src-ui/src/app/services/settings.service.ts
  src/paperless/settings.py
Labels: backend, frontend, small-change

#2319 [Documentation] Add note that PAPERLESS_URL cant contain a path
  docs/configuration.md
Labels: documentation, small-change

#2334 Documentation: update build instructions to remove deprecated `--prod`
  docs/development.md
  src-ui/README.md
  src-ui/src/environments/environment.ts
Labels: bug, documentation, frontend, small-change

#2346 Fix: preview content remains hidden on mobile
  src-ui/src/app/components/document-detail/document-detail.component.html
Labels: bug, small-change

#2352 Chore: More frontend tests
  src-ui/cypress/e2e/documents/document-detail.cy.ts
  src-ui/cypress/e2e/documents/documents-list.cy.ts
  src-ui/cypress/e2e/settings/settings.cy.ts
  src-ui/cypress/fixtures/documents/selection_data.json
  src-ui/cypress/fixtures/mail_rules/mail_rules.json
  src-ui/cypress/support/e2e.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
Labels: non-trivial, frontend

#2351 Feature: include comments in advanced search
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src-ui/src/app/data/paperless-document.ts
  src/documents/index.py
  src/documents/views.py
Labels: enhancement, non-trivial, backend, frontend

#2363 Bugfix: Backend tests weren't using correct Python version
  .github/workflows/ci.yml
  .python-version
  Pipfile
  Pipfile.lock
  src/documents/parsers.py
Labels: bug, non-trivial, backend, ci-cd

#2369 Tiny spelling change
  docs/configuration.md
Labels: documentation, small-change

#2370 Simplify json parsing in build scripts
  .github/workflows/installer-library.yml
  build-docker-image.sh
Labels: enhancement, small-change, ci-cd

#2378 Add Paperless Mobile app to docs
  docs/usage.md
Labels: documentation, small-change

#2281 [ Docs] Update bare metal setup instructions
  docs/setup.md
Labels: documentation, small-change

#2386 Fixed endpoint count in Docs "The REST API"
  docs/api.md
Labels: bug, documentation, small-change

#2387 [Documentation] Add note re `PAPERLESS_DEBUG` for dev server
  docs/setup.md
Labels: bug, documentation, small-change

#2388 Chore: remove helm chart code
  .github/workflows/release-chart.yml
  .pre-commit-config.yaml
  charts/paperless-ngx/.helmignore
  charts/paperless-ngx/Chart.yaml
  charts/paperless-ngx/LICENSE
  charts/paperless-ngx/README.md
  charts/paperless-ngx/README_CONFIG.md.gotmpl
  charts/paperless-ngx/ci/ct-values.yaml
  charts/paperless-ngx/templates/NOTES.txt
  charts/paperless-ngx/templates/common.yaml
  charts/paperless-ngx/values.yaml
Labels: small-change, ci-cd

#2302 Fix: display rtl content in correct direction
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.scss
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/data/paperless-document-metadata.ts
  src/documents/views.py
  src/paperless_tesseract/parsers.py
  src/paperless_tesseract/tests/test_parser.py
Labels: bug, non-trivial, backend, frontend

#2401 Chore: Backend library updates
  Pipfile.lock
Labels: small-change, dependencies

#2409 Fix: Include optional socket file in release
  .github/workflows/ci.yml
Labels: bug, small-change, ci-cd

#2443 Update docs nginx reverse proxy example
  docs/setup.md
Labels: documentation, small-change

#2445 Fix formatting of config variable in docs
  docs/configuration.md
Labels: bug, documentation, small-change

#2429 Use correct canonical path for nltk_data
  Dockerfile
  docs/configuration.md
  src/paperless/settings.py
Labels: documentation, backend, small-change

#2441 Fix: Better Handle arbitrary ISO 8601 strings after celery serializing
  src/documents/tasks.py
Labels: bug, backend, small-change

#2420 Documentation: Fix comment re bare metal runserver command
  docs/setup.md
Labels: bug, documentation, small-change

#2456 Fix: tag color ordering
  src/documents/views.py
Labels: bug, backend, small-change

#2411 Chore: Update to Angular 15 & associated frontend deps
  src-ui/.browserslistrc
  src-ui/angular.json
  src-ui/package-lock.json
  src-ui/package.json
  src-ui/src/app/app-routing.module.ts
  src-ui/src/app/app.module.ts
  src-ui/src/styles.scss
  src-ui/tsconfig.json
Labels: non-trivial, frontend

#2458 Fix link
  docs/setup.md
Labels: bug, documentation, small-change

#2459 Fix: Allow setting mailrule order from frontend
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.ts
  src-ui/src/app/data/paperless-mail-rule.ts
  src/paperless_mail/views.py
Labels: bug, backend, frontend, small-change

#2464 Add optional sudo command to bare metal docs
  docs/administration.md
Labels: documentation, small-change

#2477 Docs: Fix typo - docker-compose.yml file name in setup doc
  docs/setup.md
Labels: documentation, small-change

#2494 Fix: fix downgrade migration
  src/documents/migrations/1022_paperlesstask.py
Labels: bug, backend, small-change

#2498 Fix: limit asn integer size
  src/documents/consumer.py
  src/documents/index.py
  src/documents/migrations/1029_alter_document_archive_serial_number.py
  src/documents/models.py
  src/documents/tests/samples/barcodes/barcode-128-asn-too-large.pdf
  src/documents/tests/test_barcodes.py
Labels: bug, non-trivial, backend

#2509 Fix: date range search broken in 1.12
  src/documents/views.py
Labels: bug, backend, small-change

#2503 Moves back to the main release-drafter now that it does what we wanted
  .github/workflows/ci.yml
Labels: small-change, ci-cd

#2513 Fix: comments not showing in search until after manual reindex in v1.12
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src/documents/views.py
Labels: bug, backend, frontend, small-change

#2474 Minor updates to development documentation
  docs/development.md
  docs/setup.md
  mkdocs.yml
Labels: documentation, small-change

#2542 Fix comment search highlight + multi-word search
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.ts
  src/documents/views.py
Labels: bug, non-trivial, backend, frontend

#2543 Fix: Try to prevent title debounce overwriting
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: bug, enhancement, frontend, small-change

#2563 Chore: Upgrades supervisor to 4.2.5
  Dockerfile
Labels: small-change

#2562 Chore: Remove Docker image extra Python installs
  Dockerfile
Labels: small-change, deployment

#2555 Fix importing files with non-ascii names
  src/paperless_tika/parsers.py
Labels: bug, backend, small-change
