Repository paperless-ngx/paperless-ngx, pull requests merged in 2023-08, with the labels that each got.

#3904 Fix: notes show persistent scrollbars
  src-ui/src/app/components/document-notes/document-notes.component.scss
Labels: bug, frontend, small-change

#3918 Chore: Bump the frontend-angular-dependencies group in /src-ui with 11 updates
  src-ui/package-lock.json
  src-ui/package.json
Labels: frontend, dependencies

#3903 Fix: note creation / deletion should respect doc permissions
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-notes/document-notes.component.html
  src-ui/src/app/components/document-notes/document-notes.component.ts
  src/documents/tests/test_api.py
  src/documents/views.py
Labels: bug, non-trivial, backend, frontend

#3760 [BUG] Set office document creation date with timezone, if it is naive
  src/paperless_tika/parsers.py
  src/paperless_tika/tests/test_tika_parser.py
Labels: non-trivial, backend

#3925 Fix: cancel possibly slow queries on doc details
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: bug, frontend, small-change

#3931 docs(bare-metal): add new dependency
  docs/setup.md
Labels: documentation, small-change

#3941 Feature: Add Ukranian translation
  src-ui/angular.json
  src-ui/messages.xlf
  src-ui/setup-jest.ts
  src-ui/src/app/app.module.ts
  src-ui/src/app/services/settings.service.ts
  src/paperless/settings.py
Labels: enhancement, non-trivial, backend, frontend

#3949 Chore: Reduces the 2 mail tests flakiness
  Pipfile
  Pipfile.lock
  src/paperless_mail/tests/test_mail.py
Labels: backend, small-change

#3953 Fix: handle very old date strings in correspondent list
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/manage/correspondent-list/correspondent-list.component.spec.ts
  src-ui/src/app/components/manage/correspondent-list/correspondent-list.component.ts
  src-ui/src/app/data/paperless-correspondent.ts
Labels: bug, non-trivial, frontend

#3959 Fix / Enhancement: restrict status messages by owner if set & improve 404 page
  src-ui/messages.xlf
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/common/logo/logo.component.html
  src-ui/src/app/components/common/logo/logo.component.scss
  src-ui/src/app/components/common/logo/logo.component.spec.ts
  src-ui/src/app/components/common/logo/logo.component.ts
  src-ui/src/app/components/dashboard/dashboard.component.html
  src-ui/src/app/components/dashboard/dashboard.component.spec.ts
  src-ui/src/app/components/document-asn/document-asn.component.spec.ts
  src-ui/src/app/components/document-asn/document-asn.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-list/document-list.component.spec.ts
  src-ui/src/app/components/document-list/document-list.component.ts
  src-ui/src/app/components/not-found/not-found.component.html
  src-ui/src/app/components/not-found/not-found.component.spec.ts
  src-ui/src/app/data/websocket-consumer-status-message.ts
  src-ui/src/app/services/consumer-status.service.spec.ts
  src-ui/src/app/services/consumer-status.service.ts
  src/documents/consumer.py
  src/paperless/consumers.py
Labels: bug, enhancement, non-trivial, backend, frontend

#3972 Chore: Loosen Pipfile restriction on some packages and update them
  Pipfile
  Pipfile.lock
Labels: small-change, dependencies

#3979 Fix: Correct spelling of Ukrainian
  src-ui/messages.xlf
  src-ui/src/app/services/settings.service.ts
  src/paperless/settings.py
Labels: bug, backend, frontend, small-change

#3980 Fix: improve light color filled primary button text legibility
  src-ui/src/theme.scss
Labels: bug, frontend, small-change

#3988 Fix: handle ASN = 0 on frontend cards
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.spec.ts
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.spec.ts
  src-ui/src/app/components/document-list/document-list.component.spec.ts
  src-ui/src/app/pipes/is-number.pipe.spec.ts
  src-ui/src/app/pipes/is-number.pipe.ts
Labels: bug, non-trivial, frontend

#3993 Enhancement: Allow to set a prefix for keys and channels in redis
  docs/configuration.md
  src/paperless/settings.py
Labels: enhancement, backend, small-change

#4007 Fix: enforce permissions on bulk_edit operations
  src/documents/tests/test_api.py
  src/documents/views.py
Labels: bug, non-trivial, backend

#4035 docs: add note about polling when using double-sided collation
  docs/advanced_usage.md
Labels: documentation, small-change, skip-changelog

#4038 Fix: tag creation sometimes retained search text
  src-ui/src/app/components/common/input/tags/tags.component.html
  src-ui/src/app/components/common/input/tags/tags.component.spec.ts
  src-ui/src/app/components/common/input/tags/tags.component.ts
Labels: bug, non-trivial, frontend

#4014 Enhancement: disable / hide some UI buttons / elements if insufficient permissions, show errors
  src-ui/messages.xlf
  src-ui/src/app/components/manage/settings/settings.component.html
  src-ui/src/app/components/manage/settings/settings.component.spec.ts
  src-ui/src/app/components/manage/settings/settings.component.ts
  src-ui/src/app/services/toast.service.ts
  src-ui/src/theme.scss
Labels: non-trivial, frontend

#4061 Fix: Increase the HTTP timeouts for Tika/Gotenberg to maximum task time
  src/paperless_mail/parsers.py
  src/paperless_tika/parsers.py
Labels: bug, non-trivial, backend

#4066 Chore: Prepare for Python 3.11 support
  src/documents/tests/test_migration_encrypted_webp_conversion.py
  src/documents/tests/test_migration_webp_conversion.py
Labels: non-trivial, backend

#4065 Chore: update frontend PDF viewer (including pdf-js)
  src-ui/package-lock.json
  src-ui/package.json
Labels: enhancement, non-trivial, frontend

#4084 Dev: Upload code coverage in the same job
  .github/workflows/ci.yml
Labels: non-trivial, ci-cd
