Repository paperless-ngx/paperless-ngx, pull requests merged in 2023-02, with the labels that each got.

#2554 Feature: split documents on ASN barcode
  src/documents/barcodes.py
  src/documents/tests/samples/barcodes/split-by-asn-1.pdf
  src/documents/tests/samples/barcodes/split-by-asn-2.pdf
  src/documents/tests/test_barcodes.py
Labels: enhancement, non-trivial, backend

#2570 Chore: Run tests which require `convert` in the CI
  .github/workflows/ci.yml
  src/paperless_mail/tests/test_parsers_live.py
Labels: backend, small-change, ci-cd

#2582 Chore: Switch test coverage to Codecov
  .codecov.yml
  .github/workflows/ci.yml
  README.md
  src/setup.cfg
Labels: non-trivial, backend, ci-cd

#2574 Fix: Prevent mktime OverflowError except in even more rare caes
  src/documents/management/commands/document_exporter.py
Labels: bug

#2594 Chore: Improve test coverage
  src/documents/tests/test_api.py
  src/documents/tests/test_importer.py
  src/documents/tests/test_parsers.py
  src/paperless/tests/test_websockets.py
  src/paperless/views.py
  src/paperless_tesseract/parsers.py
  src/paperless_tesseract/tests/test_parser.py
  src/paperless_tika/tests/test_tika_parser.py
Labels: non-trivial, backend

#2608 Chore: update Gotenberg to 7.8, note possible `utf8mb4` incompatibility
  docker/compose/docker-compose.ci-test.yml
  docker/compose/docker-compose.mariadb-tika.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.sqlite-tika.yml
  docs/advanced_usage.md
  docs/configuration.md
  docs/setup.md
  scripts/start_services.sh
  src/paperless_mail/tests/samples/html.eml.pdf
Labels: documentation, small-change

#2618 Bugfix: Limit management list pagination maxSize to 5
  src-ui/src/app/components/manage/management-list/management-list.component.html
Labels: bug, frontend, small-change

#2638 Fix long dropdown contents break document detail column view
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.scss
Labels: bug, frontend, small-change

#2645 Chore: Fixing minor warnings in testing
  src/documents/consumer.py
  src/documents/tests/test_api.py
  src/documents/tests/test_consumer.py
  src/paperless_mail/tests/test_api.py
Labels: non-trivial, backend

#2651 Fix: add missing storage path placeholders
  src/documents/serialisers.py
  src/documents/tests/test_api.py
Labels: bug, non-trivial, backend

#2648 Fix: Remove files produced by barcode splitting when completed
  src/documents/barcodes.py
  src/documents/tasks.py
Labels: bug, non-trivial, backend

#2657 Bugfix: Generation of secret key hangs during install script
  install-paperless-ngx.sh
Labels: bug, small-change

#2674 Fix: Ignore path filtering didn't handle sub directories
  docs/configuration.md
  src/documents/management/commands/document_consumer.py
  src/documents/tests/test_management_consumer.py
  src/paperless/settings.py
Labels: bug, non-trivial, backend

#2681 Feature: allow disable warn on close saved view with changes
  src-ui/messages.xlf
  src-ui/src/app/components/manage/settings/settings.component.html
  src-ui/src/app/components/manage/settings/settings.component.ts
  src-ui/src/app/data/paperless-uisettings.ts
  src-ui/src/app/guards/dirty-saved-view.guard.ts
Labels: enhancement, non-trivial, frontend

#2687 Chore: Faster Docker image cleanup
  .github/scripts/cleanup-tags.py
Labels: non-trivial, ci-cd

#2692 Fix: add missing i18n for mobile preview tab title
  docs/development.md
  src-ui/messages.xlf
  src-ui/src/app/components/document-detail/document-detail.component.html
Labels: bug, documentation, non-trivial, frontend

#2694 Docs: Remove outdated PAPERLESS_WORKER_RETRY
  docs/configuration.md
Labels: bug, documentation, small-change

#2689 Feature: update error message colors & show on document failures
  src-ui/messages.xlf
  src-ui/src/app/components/common/toasts/toasts.component.scss
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/services/toast.service.ts
Labels: enhancement, non-trivial, frontend

#2359 Feature: Log failed login attempts
  Pipfile
  Pipfile.lock
  docs/configuration.md
  src/paperless/apps.py
  src/paperless/settings.py
  src/paperless/signals.py
  src/paperless/tests/test_signals.py
Labels: enhancement, non-trivial, backend

#2701 Fix: bulk edit reset apply button state
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
Labels: bug, frontend, small-change

#2712 Chore: Python dependencies update
  Dockerfile
  Pipfile.lock
Labels: small-change

#2713 Allow setting the ASN on document upload
  docs/api.md
  src/documents/serialisers.py
  src/documents/tasks.py
  src/documents/tests/test_api.py
  src/documents/views.py
Labels: enhancement, non-trivial, backend

#2727 Feature: Add an option to disable matching
  docs/advanced_usage.md
  src-ui/messages.xlf
  src-ui/src/app/components/common/edit-dialog/edit-dialog.component.ts
  src-ui/src/app/components/manage/management-list/management-list.component.ts
  src-ui/src/app/data/matching-model.ts
  src/documents/matching.py
  src/documents/migrations/1032_alter_correspondent_matching_algorithm_and_more.py
  src/documents/models.py
  src/documents/tests/test_matchables.py
Labels: documentation, non-trivial, backend, frontend

#2703 Fix: reset saved view ID on quickFilter
  src-ui/src/app/services/document-list-view.service.ts
Labels: bug, frontend, small-change

#2717 Fix: permissions editing and initial view issues
  src-ui/cypress/e2e/settings/settings.cy.ts
  src-ui/src/app/components/common/permissions-select/permissions-select.component.html
  src-ui/src/app/components/common/permissions-select/permissions-select.component.ts
  src-ui/src/app/components/dashboard/dashboard.component.ts
  src-ui/src/app/services/rest/saved-view.service.ts
Labels: bug, non-trivial, frontend

#2732 Feature: Add a setting to disable creating archive files
  docs/configuration.md
  src/paperless/checks.py
  src/paperless_tesseract/parsers.py
  src/paperless_tesseract/tests/test_parser.py
Labels: enhancement, non-trivial, backend

#2704 Feature: dynamic document counts in dropdowns
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.html
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
  src-ui/src/app/components/common/filterable-dropdown/toggleable-dropdown-button/toggleable-dropdown-button.component.html
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.html
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
  src-ui/src/app/services/document-list-view.service.ts
Labels: enhancement, non-trivial, frontend

#2739 Fix: only offer log files that exist
  src-ui/src/app/components/manage/logs/logs.component.ts
  src/documents/tests/test_api.py
  src/documents/views.py
Labels: bug, backend, frontend

#2743 Feature: Add PAPERLESS_OCR_SKIP_ARCHIVE_FILE config setting
  docs/configuration.md
  docs/setup.md
  docs/usage.md
  paperless.conf.example
  src/paperless/checks.py
  src/paperless/settings.py
  src/paperless/tests/test_checks.py
  src/paperless_tesseract/parsers.py
  src/paperless_tesseract/tests/test_parser.py
Labels: enhancement, non-trivial, backend

#2742 Chore: Setup for mypy typing checks
  Pipfile
  Pipfile.lock
  src/setup.cfg
Labels: non-trivial, backend
