Repository paperless-ngx/paperless-ngx, pull requests merged in 2023-05, with the labels that each got.

#3262 Fix: Prevent erroneous warning when starting container
  docker/env-from-file.sh
Labels: bug, small-change

#3261 Fix: Handle cases where media files aren't all in the same filesystem
  src/documents/management/commands/document_thumbnails.py
  src/documents/signals/handlers.py
  src/documents/tests/test_file_handling.py
  src/documents/tests/test_management_thumbnails.py
Labels: bug, backend, small-change

#3282 Bump filelock from 3.10.2 to 3.12.0 to fix permissions bug
  Pipfile.lock
Labels: bug, small-change

#3303 Fix dynamic count labels hidden in light mode
  src-ui/src/app/components/common/filterable-dropdown/toggleable-dropdown-button/toggleable-dropdown-button.component.html
Labels: bug, frontend, small-change

#3305 Fix: Inversion in tagged mail searching
  src/paperless_mail/mail.py
Labels: bug, backend, small-change

#3335 Bump django from 4.1.7 to 4.1.9
  Pipfile
  Pipfile.lock
Labels: small-change

#3315 Fix: Add proper testing for *__id__in testing
  src/documents/tests/test_api.py
Labels: non-trivial, backend

#3345 Fix: permission-aware bulk editing in 1.14.1+
  src/documents/tests/test_api.py
  src/documents/views.py
Labels: bug, backend, small-change

#3321 Enhancement: save tour completion, hide welcome widget
  src-ui/messages.xlf
  src-ui/src/app/app.component.ts
  src-ui/src/app/components/dashboard/dashboard.component.html
  src-ui/src/app/components/dashboard/dashboard.component.ts
  src-ui/src/app/components/dashboard/widgets/welcome-widget/welcome-widget.component.html
  src-ui/src/app/components/dashboard/widgets/welcome-widget/welcome-widget.component.ts
  src-ui/src/app/data/paperless-uisettings.ts
  src-ui/src/app/services/settings.service.ts
Labels: enhancement, non-trivial, frontend

#3336 Fix: dont perform mail actions when rule filename filter not met
  src/paperless_mail/mail.py
  src/paperless_mail/tests/test_mail.py
Labels: bug, non-trivial, backend

#3367 [Fix] Position:fixed for .global-dropzone-overlay
  src-ui/src/styles.scss
Labels: frontend, small-change

#3329 Enhancement: dynamic counts include all pages, hide for "Any"
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.html
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
  src-ui/src/app/components/common/filterable-dropdown/toggleable-dropdown-button/toggleable-dropdown-button.component.html
  src-ui/src/app/components/common/filterable-dropdown/toggleable-dropdown-button/toggleable-dropdown-button.component.ts
  src-ui/src/app/data/results.ts
  src-ui/src/app/services/document-list-view.service.ts
  src/documents/serialisers.py
  src/documents/tests/test_api.py
  src/paperless/views.py
Labels: enhancement, non-trivial, backend, frontend

#3309 Feature: owner filtering
  src-ui/cypress/e2e/documents/documents-list.cy.ts
  src-ui/cypress/e2e/documents/query-params.cy.ts
  src-ui/cypress/fixtures/documents/documents.json
  src-ui/messages.xlf
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/common/date-dropdown/date-dropdown.component.html
  src-ui/src/app/components/common/filterable-dropdown/toggleable-dropdown-button/toggleable-dropdown-button.component.html
  src-ui/src/app/components/common/permissions-filter-dropdown/permissions-filter-dropdown.component.html
  src-ui/src/app/components/common/permissions-filter-dropdown/permissions-filter-dropdown.component.scss
  src-ui/src/app/components/common/permissions-filter-dropdown/permissions-filter-dropdown.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.html
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.ts
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.ts
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/document-list.component.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
  src-ui/src/app/components/manage/management-list/management-list.component.html
  src-ui/src/app/components/manage/settings/settings.component.html
  src-ui/src/app/data/filter-rule-type.ts
  src-ui/src/app/pipes/username.pipe.ts
  src-ui/src/app/services/rest/document.service.ts
  src-ui/src/styles.scss
  src-ui/src/theme.scss
  src/documents/filters.py
  src/documents/index.py
  src/documents/migrations/1036_alter_savedviewfilterrule_rule_type.py
  src/documents/models.py
  src/documents/tests/test_api.py
  src/documents/views.py
Labels: enhancement, non-trivial, backend, frontend

#3382 Fix: Transition to new library for finding IPs for failed logins
  Pipfile
  Pipfile.lock
  src/paperless/signals.py
Labels: bug, backend, small-change

#3359 Fix: respect permissions for autocomplete suggestions
  src/documents/index.py
  src/documents/tests/test_api.py
  src/documents/tests/test_index.py
  src/documents/views.py
Labels: bug, enhancement, non-trivial, backend

#3408 Documentation: Note possible dependency removal for bare metal
  docs/administration.md
Labels: documentation, small-change

#3420 [Documentation] Move nginx
  docs/faq.md
  docs/setup.md
Labels: documentation, small-change

#3437 Docs: Fix typo
  docs/api.md
Labels: documentation, small-change

#3425 Feature: Better encapsulation of barcode logic
  src/documents/barcodes.py
  src/documents/tasks.py
  src/documents/tests/samples/barcodes/barcode-128-PATCHT.png
  src/documents/tests/samples/barcodes/barcode-128-custom.png
  src/documents/tests/samples/barcodes/barcode-39-PATCHT-distortion.png
  src/documents/tests/samples/barcodes/barcode-39-PATCHT-distortion2.png
  src/documents/tests/samples/barcodes/barcode-39-PATCHT-unreadable.png
  src/documents/tests/samples/barcodes/barcode-39-PATCHT.png
  src/documents/tests/samples/barcodes/barcode-39-asn-123.png
  src/documents/tests/samples/barcodes/barcode-39-asn-custom-prefix.png
  src/documents/tests/samples/barcodes/barcode-39-asn-invalid.png
  src/documents/tests/samples/barcodes/barcode-39-custom.png
  src/documents/tests/samples/barcodes/barcode-qr-custom.png
  src/documents/tests/samples/barcodes/patch-code-t-middle-alpha.tiff
  src/documents/tests/samples/barcodes/patch-code-t-middle-distorted.pdf
  src/documents/tests/samples/barcodes/patch-code-t-middle-fuzzy.pdf
  src/documents/tests/samples/barcodes/patch-code-t-middle-reverse.pdf
  src/documents/tests/samples/barcodes/patch-code-t-middle-unreadable.pdf
  src/documents/tests/samples/barcodes/patch-code-t.pbm
  src/documents/tests/samples/barcodes/qr-code-PATCHT.png
  src/documents/tests/test_barcodes.py
Labels: enhancement

#3444 Add SSL Support for MariaDB
  docs/configuration.md
  src/paperless/settings.py
Labels: backend, small-change

#3445 Enhancement: paginate frontend tasks
  src-ui/messages.xlf
  src-ui/src/app/components/manage/tasks/tasks.component.html
  src-ui/src/app/components/manage/tasks/tasks.component.ts
Labels: enhancement, non-trivial, frontend

#3451 Chore: Improves the logging mixin and allows it to be typed better
  src/documents/consumer.py
  src/documents/loggers.py
  src/documents/parsers.py
  src/documents/tests/test_consumer.py
  src/paperless_mail/mail.py
  src/paperless_mail/parsers.py
  src/paperless_mail/tests/test_parsers.py
  src/paperless_tesseract/parsers.py
  src/paperless_tika/parsers.py
Labels: non-trivial, backend

#3453 Bugfix: Catch an nltk AttributeError and handle it
  src/documents/classifier.py
  src/paperless/settings.py
Labels: bug, non-trivial, backend

#3457 Documentation: fix some spelling mistakes
  docs/administration.md
  docs/advanced_usage.md
  docs/development.md
  docs/setup.md
Labels: documentation, small-change, skip-changelog

#3466 consumer.py: read `create_date` from original file (instead of temp copy)
  src/documents/consumer.py
Labels: bug, backend, small-change

#3473 Make DocumentSerializer return the original_filename
  src/documents/serialisers.py
  src/documents/tests/test_api.py
Labels: bug, backend, small-change

#3475 Sync Pipfile.lock based on latest Pipfile
  Pipfile
  Pipfile.lock
Labels: bug, small-change

#3471 Feature: Add explanations to relative dates
  src-ui/messages.xlf
  src-ui/src/app/components/common/date-dropdown/date-dropdown.component.html
  src-ui/src/app/components/common/date-dropdown/date-dropdown.component.scss
  src-ui/src/app/components/common/date-dropdown/date-dropdown.component.ts
Labels: bug, enhancement, non-trivial, frontend
