Repository paperless-ngx/paperless-ngx, pull requests merged in 2023-11, with the labels that each got.

#4470 Feature: Add Bulgarian translation
  src-ui/angular.json
  src-ui/messages.xlf
  src-ui/setup-jest.ts
  src-ui/src/app/app.module.ts
  src-ui/src/app/services/settings.service.ts
  src/locale/en_US/LC_MESSAGES/django.po
  src/paperless/settings.py
Labels: enhancement, translation

#4513 Fix: add permissions for custom fields with migration
  src/documents/migrations/1040_customfield_customfieldinstance_and_more.py
  src/documents/tests/test_migration_customfields.py
Labels: bug, non-trivial, backend

#4519 Chore: API support for id args for documents & objects
  src/documents/filters.py
  src/documents/tests/test_api.py
Labels: enhancement, non-trivial, backend, small-change

#4533 Documentation: clarify document_exporter includes settings
  docs/administration.md
Labels: documentation, small-change

#4528 Add section for SELinux troubleshooting
  docs/troubleshooting.md
Labels: documentation, small-change

#4541 Chore: Cleanup command arguments and standardize process count handling
  docs/administration.md
  src/documents/management/commands/decrypt_documents.py
  src/documents/management/commands/document_archiver.py
  src/documents/management/commands/document_create_classifier.py
  src/documents/management/commands/document_exporter.py
  src/documents/management/commands/document_fuzzy_match.py
  src/documents/management/commands/document_importer.py
  src/documents/management/commands/document_index.py
  src/documents/management/commands/document_renamer.py
  src/documents/management/commands/document_retagger.py
  src/documents/management/commands/document_sanity_checker.py
  src/documents/management/commands/document_thumbnails.py
  src/documents/management/commands/manage_superuser.py
  src/documents/management/commands/mixins.py
  src/documents/tests/test_management.py
  src/documents/tests/test_management_thumbnails.py
  src/paperless_mail/management/commands/mail_fetcher.py
Labels: documentation, non-trivial, backend

#4552 Feature: Hungarian translation
  src-ui/angular.json
  src-ui/messages.xlf
  src-ui/setup-jest.ts
  src-ui/src/app/app.module.ts
  src-ui/src/app/services/settings.service.ts
  src/locale/en_US/LC_MESSAGES/django.po
  src/paperless/settings.py
Labels: enhancement, non-trivial, backend, frontend

#4555 Fix: plain text preview overflows
  src-ui/src/app/components/document-detail/document-detail.component.html
Labels: bug, frontend, small-change

#4542 Documentation: update docs, screenshots ahead of Paperless-ngx v2.0
  .prettierrc
  Pipfile
  Pipfile.lock
  README.md
  docs/administration.md
  docs/advanced_usage.md
  docs/api.md
  docs/assets/extra.css
  docs/assets/screenshots/bulk-edit.png
  docs/assets/screenshots/consumption_template.png
  docs/assets/screenshots/correspondents.png
  docs/assets/screenshots/custom_field1.png
  docs/assets/screenshots/custom_field2.png
  docs/assets/screenshots/dashboard.png
  docs/assets/screenshots/documents-filter.png
  docs/assets/screenshots/documents-largecards.png
  docs/assets/screenshots/documents-smallcards-dark.png
  docs/assets/screenshots/documents-smallcards-slimsidebar.png
  docs/assets/screenshots/documents-smallcards.png
  docs/assets/screenshots/documents-table.png
  docs/assets/screenshots/documents-wchrome-dark.png
  docs/assets/screenshots/documents-wchrome.png
  docs/assets/screenshots/editing.png
  docs/assets/screenshots/logs.png
  docs/assets/screenshots/mail-rules-edited.png
  docs/assets/screenshots/mobile.png
  docs/assets/screenshots/mobile1.png
  docs/assets/screenshots/mobile2.png
  docs/assets/screenshots/mobile3.png
  docs/assets/screenshots/new-correspondent.png
  docs/assets/screenshots/new-document_type.png
  docs/assets/screenshots/new-storage_path.png
  docs/assets/screenshots/new-tag.png
  docs/assets/screenshots/permissions_document.png
  docs/assets/screenshots/permissions_global.png
  docs/assets/screenshots/search-preview.png
  docs/assets/screenshots/search-results.png
  docs/changelog.md
  docs/configuration.md
  docs/development.md
  docs/faq.md
  docs/index.md
  docs/setup.md
  docs/troubleshooting.md
  docs/usage.md
  mkdocs.yml
Labels: documentation, small-change

#4565 Chore: Close answered discussions
  .github/workflows/repo-maintenance.yml
Labels: non-trivial, ci-cd, skip-changelog

#4509 Chore: Backend bulk updates
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Dockerfile
  Pipfile
  Pipfile.lock
  src-ui/src/app/components/common/permissions-dialog/permissions-dialog.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src/documents/classifier.py
  src/documents/parsers.py
  src/documents/serialisers.py
  src/documents/views.py
  src/paperless/settings.py
  src/paperless_tesseract/parsers.py
  src/paperless_tika/signals.py
  src/setup.cfg
Labels: enhancement, non-trivial, backend, ci-cd

#4545 Feature: compact notifications
  src-ui/messages.xlf
  src-ui/src/app/app.component.ts
  src-ui/src/app/components/admin/settings/settings.component.ts
  src-ui/src/app/components/common/toasts/toasts.component.html
  src-ui/src/app/components/common/toasts/toasts.component.scss
  src-ui/src/app/components/common/toasts/toasts.component.spec.ts
  src-ui/src/app/components/common/toasts/toasts.component.ts
  src-ui/src/app/services/toast.service.ts
  src-ui/src/theme.scss
Labels: enhancement, non-trivial, frontend

#4574 Fix: Force UTF-8 for exporter manifests and don't allow escaping
  src/documents/management/commands/document_exporter.py
Labels: bug, non-trivial, backend

#4576 Fix: Miscellaneous v2.0 visual fixes
  src-ui/messages.xlf
  src-ui/src/app/components/common/custom-fields-dropdown/custom-fields-dropdown.component.scss
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/document-list.component.scss
Labels: bug, frontend, small-change

#4591 Readme: New theme specification
  README.md
Labels: small-change

#4580 Chore: Update lock-threads with discussions support
  .github/workflows/repo-maintenance.yml
Labels: small-change, ci-cd, skip-changelog

#4598 Fix: Handle override lists being None
  src/documents/data_models.py
  src/paperless_mail/mail.py
Labels: backend, small-change

#4559 Documentation: Structure backup sections more clearly
  .prettierrc
  docs/administration.md
Labels: documentation, small-change

#4602 Fix: note deletion fails in v2.0.0-beta.rc1
  src/documents/views.py
Labels: backend, small-change

#4608 Documentation: Add note that trash dir must exist
  docs/configuration.md
Labels: bug, documentation, small-change

#4612 Fix: increase width of labels in default perms settings
  src-ui/src/app/components/admin/settings/settings.component.html
Labels: frontend, small-change

#4616 Fix: Prevent text wrap on consumption template label
  src-ui/src/app/components/common/edit-dialog/consumption-template-edit-dialog/consumption-template-edit-dialog.component.html
Labels: frontend, small-change

#4619 Fix: sidebar views dont update after creation in v2.0.0-beta.rc1
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.ts
Labels: frontend, small-change

#4623 Fix: Import of split-manifests can fail
  src/documents/management/commands/document_importer.py
Labels: backend, small-change

#4624 Documentation: fix typo in features list
  docs/index.md
Labels: documentation, small-change

#4626 Fix: Delay consumption after MODIFY inotify events
  src/documents/management/commands/document_consumer.py
Labels: bug, backend, small-change

#4635 Fix: Miscellaneous visual fixes in v2.0.0-beta.rc1 2
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/manage/management-list/management-list.component.html
  src-ui/src/theme.scss
Labels: bug, frontend, small-change

#4650 Documentation: Update documentation to refer only to Docker Compose v2 command
  README.md
  docker/compose/docker-compose.ci-test.yml
  docker/compose/docker-compose.mariadb-tika.yml
  docker/compose/docker-compose.mariadb.yml
  docker/compose/docker-compose.portainer.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.postgres.yml
  docker/compose/docker-compose.sqlite-tika.yml
  docker/compose/docker-compose.sqlite.yml
  docs/administration.md
  docs/advanced_usage.md
  docs/configuration.md
  docs/faq.md
  docs/setup.md
  docs/troubleshooting.md
  install-paperless-ngx.sh
Labels: documentation, non-trivial

#4660 Fix: dashboard saved view mobile width in v.2.0.0 beta.rc1
  src-ui/src/app/components/dashboard/dashboard.component.html
Labels: frontend, small-change

#4669 Fix: dark mode inconsistencies in v2.0.0 beta.rc1
  src-ui/src/theme.scss
Labels: frontend, small-change

#4668 Fix: Typo invalidates precondition for doctype, resulting in Exception
  src/documents/consumer.py
Labels: bug, backend, small-change

#4674 Fix: Add missing spaces to help string in `document_retagger`
  src/documents/management/commands/document_retagger.py
Labels: bug, backend, small-change

#4688 Chore: Bulk update of Python dependencies
  Pipfile
  Pipfile.lock
Labels: small-change, dependencies

#4701 Fix: share links for URLs containing 'api' incorrect in dropdown
  src-ui/src/app/components/common/share-links-dropdown/share-links-dropdown.component.spec.ts
  src-ui/src/app/components/common/share-links-dropdown/share-links-dropdown.component.ts
Labels: bug, frontend

#4708 Fix: Add a warning about a low image DPI which may cause OCR to fail
  src/paperless_tesseract/parsers.py
Labels: bug, backend, small-change

#4709 Fix: Set RGB color conversion strategy for PDF outputs
  docs/configuration.md
  src/paperless/settings.py
  src/paperless_tesseract/parsers.py
Labels: bug, backend, small-change

#4719 Fix: Increase field the length for consumption template source
  src/documents/migrations/1041_alter_consumptiontemplate_sources.py
  src/documents/models.py
Labels: bug, non-trivial, backend
