Repository paperless-ngx/paperless-ngx, pull requests merged in 2023-06, with the labels that each got.

#3476 Feature: quick filters from document detail
  src-ui/e2e/document-detail/document-detail.spec.ts
  src-ui/e2e/document-detail/requests/api-document-detail2.har
  src-ui/messages.xlf
  src-ui/src/app/components/common/input/date/date.component.html
  src-ui/src/app/components/common/input/date/date.component.ts
  src-ui/src/app/components/common/input/select/select.component.html
  src-ui/src/app/components/common/input/select/select.component.ts
  src-ui/src/app/components/common/input/tags/tags.component.html
  src-ui/src/app/components/common/input/tags/tags.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/manage/management-list/management-list.component.html
  src-ui/src/app/services/document-list-view.service.ts
Labels: enhancement, non-trivial, frontend

#3516 Fix: KeyError error on unauthenticated API calls
  src/paperless/auth.py
  src/paperless/signals.py
  src/paperless/tests/test_signals.py
Labels: bug, backend, small-change

#3523 Fix incorrect colors in v1.15.0
  src-ui/src/styles.scss
  src-ui/src/theme.scss
Labels: bug, frontend, small-change

#3485 Feature: Allow to filter documents by original filename and checksum
  docker/docker-prepare.sh
  src/documents/filters.py
  src/documents/index.py
  src/documents/tests/test_api.py
  src/documents/tests/test_delayedquery.py
Labels: enhancement, non-trivial, backend

#3550 Chore: Adds test for barcode ASN when it already exists
  src/documents/consumer.py
  src/documents/tests/test_barcodes.py
Labels: non-trivial, backend

#3552 Chore: clarify behavior of consumption dir in docs
  docs/faq.md
  docs/usage.md
Labels: documentation, small-change, skip-changelog

#3551 Chore: Copy file stats from original file
  src/documents/barcodes.py
  src/documents/consumer.py
Labels: backend, small-change

#3554 Fix: handle mail rules with no filters on some imap servers
  src/paperless_mail/mail.py
  src/paperless_mail/tests/test_mail.py
Labels: bug, non-trivial, backend

#3576 Fix use of `PAPERLESS_DB_TIMEOUT` for all db types
  docs/configuration.md
  src/paperless/settings.py
  src/paperless/tests/test_settings.py
Labels: bug, non-trivial, backend

#3579 Fix: return user first / last name from backend
  src/documents/tests/test_api.py
  src/documents/views.py
Labels: bug, non-trivial, backend

#3605 Fix: PIL ImportError on ARM devices with Docker
  Dockerfile
Labels: bug, small-change

#3606 Chore: Enable the image cleanup action
  .github/workflows/cleanup-tags.yml
Labels: small-change, ci-cd

#3609 Chore: Enable Docker buildx cache mount for pip
  Dockerfile
Labels: small-change

#3575 Feature: separate save / save & close buttons
  src-ui/e2e/document-detail/document-detail.spec.ts
  src-ui/messages.xlf
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: non-trivial, frontend

#3617 Fix: Better error handling and checking when parsing documents via Tika
  Pipfile.lock
  src/paperless_mail/parsers.py
  src/paperless_tika/parsers.py
  src/paperless_tika/tests/samples/sample.doc
  src/paperless_tika/tests/test_live_tika.py
Labels: bug, non-trivial, backend

#3621 Chore: Set CI artifact retention days
  .github/workflows/ci.yml
Labels: small-change, ci-cd

#3622 Chore: Bumps the CI/Docker pipenv version
  .github/workflows/ci.yml
  Dockerfile
Labels: small-change, ci-cd

#3627 Fix: Increase httpx operation timeouts to 30s
  src/paperless_mail/parsers.py
  src/paperless_tika/parsers.py
Labels: bug, backend, small-change

#3637 Fix: Fix quick install with external database not being fully ready
  install-paperless-ngx.sh
Labels: bug, small-change

#3639 Chore: Updates the stale timing and close timing
  .github/stale.yml
  .github/workflows/repo-maintenance.yml
Labels: small-change, ci-cd, skip-changelog

#3640 Chore: Update default Postgres version for new installs
  docker/compose/docker-compose.portainer.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.postgres.yml
  docs/administration.md
  scripts/start_services.sh
Labels: documentation, small-change

#3638 Fix: Set user and home environment through supervisord
  docker/supervisord.conf
Labels: bug, enhancement, small-change

#3641 Chore: include 'not a bug' for stale action
  .github/workflows/repo-maintenance.yml
Labels: small-change, ci-cd, skip-changelog

#3632 Copy default thumbnail if thumbnail generation fails
  src/documents/parsers.py
Labels: bug, backend, small-change

#3645 Add test for not moving default thumbnail
  src/documents/tests/test_management_thumbnails.py
Labels: backend, skip-changelog

#3652 Fix: Ignore errors when trying to copy the original file's stats
  src/documents/consumer.py
Labels: bug, backend, small-change

#3656 Chore: Updates codecov configuration for the flag settings and notification delay
  .codecov.yml
Labels: ci-cd

#3662 Fix: Use row gap for filter editor
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.html
Labels: bug, frontend

#3696 Fix: Generation of thumbnails for existing stored emails
  src/paperless_mail/parsers.py
  src/paperless_mail/tests/test_parsers.py
Labels: bug, backend, small-change

#3682 Fix: prevent button wrapping when sidebar narrows in MS Edge
  src-ui/src/app/components/app-frame/app-frame.component.scss
Labels: bug, frontend, small-change

#3697 Documentation: update API docs re permissions
  docs/api.md
Labels: documentation, small-change

#3702 Fix: owner removed when set_permissions passed on object create
  src/documents/serialisers.py
  src/documents/tests/test_api.py
Labels: bug, non-trivial, backend

#3655 Feature: support barcode upscaling for better detection of small barcodes
  docs/configuration.md
  paperless.conf.example
  src/documents/barcodes.py
  src/documents/tests/samples/barcodes/barcode-qr-asn-000123-upscale-dpi.pdf
  src/documents/tests/test_barcodes.py
  src/paperless/settings.py
Labels: enhancement, backend

#3721 fixed typo
  src/paperless/signals.py
Labels: backend, small-change
