Repository paperless-ngx/paperless-ngx, pull requests merged in 2023-04, with the labels that each got.

#2744 Feature: Stronger typing for file consumption
  src/documents/barcodes.py
  src/documents/consumer.py
  src/documents/data_models.py
  src/documents/management/commands/document_consumer.py
  src/documents/signals/handlers.py
  src/documents/tasks.py
  src/documents/tests/test_api.py
  src/documents/tests/test_barcodes.py
  src/documents/tests/test_management_consumer.py
  src/documents/tests/test_task_signals.py
  src/documents/tests/utils.py
  src/documents/views.py
  src/paperless_mail/mail.py
  src/paperless_mail/tests/test_mail.py
Labels: enhancement, non-trivial, backend

#2987 chore: README improvements
  README.md
Labels: small-change, skip-changelog

#3013 Fix: inline plaintext docs to enforce styling
  src-ui/messages.xlf
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/theme.scss
Labels: non-trivial, frontend

#3020 v1.14.0 delete document fixes
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: non-trivial, frontend

#3061 Fix: Hide Permissions tab if user cannot view users
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: frontend, small-change

#3060 Fix: Hide UI tour steps if user doesnt have permissions
  src-ui/src/app/app.component.ts
  src-ui/src/app/guards/permissions.guard.ts
Labels: non-trivial, frontend

#3062 Fix: update PaperlessTask on hard failures
  src/documents/signals/handlers.py
  src/documents/tests/test_task_signals.py
Labels: non-trivial, backend

#3089 Whitespace changes, making sure the example is correcly aligned
  docs/advanced_usage.md
Labels: documentation, small-change

#3105 Fix consumer ignore pattern for macOS .DS_Store
  src/documents/tests/test_management_consumer.py
  src/paperless/settings.py
Labels: bug, backend, small-change

#3134 Fix: Increase mail account password field length
  src/paperless_mail/migrations/0021_alter_mailaccount_password.py
  src/paperless_mail/models.py
Labels: non-trivial, backend

#3135 Fix: Allow setting additional Django settings for proxies
  docs/configuration.md
  src/paperless/settings.py
Labels: bug, backend, small-change

#3146 Feature: Catalan translation
  src-ui/angular.json
  src-ui/messages.xlf
  src-ui/src/app/app.module.ts
  src-ui/src/app/services/settings.service.ts
  src/paperless/settings.py
Labels: non-trivial, backend, frontend

#3161 Fix: Handle delete mail action with no filters
  src/paperless_mail/mail.py
  src/paperless_mail/tests/test_mail.py
Labels: bug, non-trivial, backend

#3176 Fix: Redis socket connections fail due to redis-py
  Pipfile.lock
Labels: bug, small-change

#3180 Fix: StoragePath missing the owned or granted filter
  src/documents/views.py
Labels: bug, backend, small-change

#3163 Fix: Specify backend for auto-login
  src/paperless/auth.py
Labels: bug, backend, small-change

#3188 Fix: make the importer a little more robust against some errors
  src/documents/management/commands/document_importer.py
  src/documents/tests/test_importer.py
  src/documents/tests/test_management_exporter.py
Labels: bug, non-trivial, backend

#3189 Fix: dropdown Private items with empty set
  src-ui/src/app/components/common/input/select/select.component.ts
Labels: bug, frontend, small-change

#3198 Fix: Use document owner for matching if set
  src/documents/matching.py
Labels: bug, backend, small-change

#3199 Fix: permissions-aware statistics
  src/documents/views.py
Labels: bug, non-trivial, backend

#3212 Fix MixedContentTypeError in add_inbox_tags handler
  src/documents/signals/handlers.py
Labels: bug, backend, small-change

#3209 Fix: advanced search or date searching + doc type/correspondent/storage path broken
  src/documents/index.py
  src/documents/tests/test_api.py
Labels: bug, non-trivial, backend

#3211 Fix: Load saved views from app frame, not dashboard
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/components/dashboard/dashboard.component.ts
Labels: bug, non-trivial, frontend

#3215 Feature: Finnish translation
  src-ui/angular.json
  src-ui/messages.xlf
  src-ui/src/app/app.module.ts
  src-ui/src/app/services/settings.service.ts
  src/paperless/settings.py
Labels: enhancement, non-trivial, backend, frontend

#3218 Fix: ALLOWED_HOSTS logic being overwritten when * is set
  docs/configuration.md
  src/paperless/settings.py
Labels: bug, backend, small-change

#3222 Fix: Respect superuser for advanced queries, test coverage for object perms
  src/documents/index.py
  src/documents/tests/test_api.py
  src/documents/views.py
Labels: bug, non-trivial, backend

#3227 Enhancement: better keyboard nav for filter/edit dropdowns
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.html
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
Labels: enhancement, non-trivial, frontend

#3232 Fix: close all docs on logout
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.ts
Labels: bug, frontend, small-change

#3240 Fix: Don't send Gmail related setting if the server doesn't support it
  src/paperless_mail/mail.py
  src/paperless_mail/tests/test_mail.py
Labels: bug, non-trivial, backend

#3243 Retain doc changes on tab switch after refresh doc
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: bug, non-trivial, frontend
