Repository paperless-ngx/paperless-ngx, pull requests merged in 2023-10, with the labels that each got.

#4305 Chore: Backend dependencies update
  .pre-commit-config.yaml
  .ruff.toml
  Pipfile.lock
Labels: small-change

#4316 CI: speed-up frontend tests on ci
  .github/workflows/ci.yml
Labels: enhancement, non-trivial, frontend, ci-cd

#4319 Feature: Include more updated base tools in Docker image
  Dockerfile
Labels: enhancement, non-trivial

#4326 Fix: get highest ASN regardless of user
  src-ui/src/app/components/common/input/number/number.component.spec.ts
  src-ui/src/app/components/common/input/number/number.component.ts
  src-ui/src/app/services/rest/document.service.spec.ts
  src-ui/src/app/services/rest/document.service.ts
  src/documents/tests/test_api.py
  src/documents/views.py
Labels: bug, non-trivial, backend, frontend

#4334 Fix: Retry Tika parsing when Tika returns HTTP 500
  src/paperless_tika/parsers.py
  src/paperless_tika/tests/samples/multi-part-broken.odt
  src/paperless_tika/tests/test_live_tika.py
Labels: bug

#4336 CI: separate frontend deps install
  .github/workflows/ci.yml
Labels: non-trivial, ci-cd

#4347 Fix: Missing creation of a folder in Docker image
  Dockerfile
Labels: bug, small-change

#4346 Breaking: Rename the environment variable for self-signed email certificates
  docs/configuration.md
  src/paperless/settings.py
Labels: small-change, breaking-change

#4355 Fix: Updates to latest imap_tools which includes fix for the meta charset in HTML content
  Pipfile.lock
Labels: bug, small-change

#4354 Documentation: Remove old information about building the Docker image locally
  docs/setup.md
Labels: documentation, small-change

#4366 Fix: correct set owner API location in docs, additional test
  docs/api.md
  src/documents/tests/test_api.py
Labels: documentation, backend

#4374 Fix: update document modified time on note creation / deletion
  docs/api.md
  src/documents/tests/test_api.py
  src/documents/views.py
Labels: bug, documentation, non-trivial, backend

#4362 Fix: replace drag drop & clipboard deps with angular cdk
  src-ui/messages.xlf
  src-ui/package-lock.json
  src-ui/package.json
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/common/share-links-dropdown/share-links-dropdown.component.spec.ts
  src-ui/src/app/components/common/share-links-dropdown/share-links-dropdown.component.ts
  src-ui/src/app/components/common/toasts/toasts.component.spec.ts
  src-ui/src/app/components/common/toasts/toasts.component.ts
  src-ui/src/app/components/dashboard/dashboard.component.html
  src-ui/src/app/components/dashboard/dashboard.component.scss
  src-ui/src/app/components/dashboard/dashboard.component.spec.ts
  src-ui/src/app/components/dashboard/dashboard.component.ts
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.html
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.spec.ts
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.ts
  src-ui/src/app/components/dashboard/widgets/statistics-widget/statistics-widget.component.spec.ts
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.spec.ts
  src-ui/src/app/components/dashboard/widgets/widget-frame/widget-frame.component.html
  src-ui/src/app/components/dashboard/widgets/widget-frame/widget-frame.component.spec.ts
  src-ui/src/app/components/dashboard/widgets/widget-frame/widget-frame.component.ts
  src-ui/src/app/services/document-list-view.service.spec.ts
Labels: bug, frontend, dependencies

#4379 barcode logic: strip non-numeric characters from detected ASN string
  src/documents/barcodes.py
Labels: enhancement, backend, small-change

#4387 Change: Install script improvements
  docs/setup.md
  install-paperless-ngx.sh
Labels: documentation, small-change

#4391 Feature: Switches to a new client to handle communication with Gotenberg
  Pipfile
  Pipfile.lock
  src/paperless_mail/parsers.py
  src/paperless_mail/tests/test_parsers.py
  src/paperless_mail/tests/test_parsers_live.py
  src/paperless_tika/parsers.py
  src/paperless_tika/tests/test_tika_parser.py
  src/setup.cfg
Labels: enhancement, non-trivial, backend

#4381 Feature: sort sidebar views
  src-ui/messages.xlf
  src-ui/src/app/components/admin/settings/settings.component.spec.ts
  src-ui/src/app/components/admin/settings/settings.component.ts
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.scss
  src-ui/src/app/components/app-frame/app-frame.component.spec.ts
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/components/dashboard/dashboard.component.scss
  src-ui/src/app/components/dashboard/dashboard.component.ts
  src-ui/src/app/components/dashboard/widgets/statistics-widget/statistics-widget.component.html
  src-ui/src/app/components/dashboard/widgets/welcome-widget/welcome-widget.component.html
  src-ui/src/app/data/paperless-uisettings.ts
  src-ui/src/app/services/rest/saved-view.service.spec.ts
  src-ui/src/app/services/rest/saved-view.service.ts
  src-ui/src/app/services/settings.service.spec.ts
  src-ui/src/app/services/settings.service.ts
  src-ui/src/styles.scss
  src-ui/src/theme.scss
Labels: enhancement, non-trivial, frontend

#4390 Feature: Add ahead of time compression of the static files for x86_64
  .github/workflows/ci.yml
  Dockerfile
  src/paperless/settings.py
Labels: enhancement, non-trivial, backend

#4442 Fix: Combination of consume template with recursive tagging
  src/documents/management/commands/document_consumer.py
Labels: bug, backend, small-change

#4431 Fix: Only create a Correspondent if the email matches rule filters
  src/paperless_mail/mail.py
Labels: bug, non-trivial, backend

#4430 Chore: Stop duplicated action runs against internal PRs
  .github/workflows/ci.yml
Labels: small-change, ci-cd

#4425 Feature: Audit Trail
  Pipfile
  Pipfile.lock
  docs/configuration.md
  src/documents/admin.py
  src/documents/models.py
  src/documents/tasks.py
  src/documents/views.py
  src/paperless/__init__.py
  src/paperless/checks.py
  src/paperless/settings.py
  src/paperless/tests/test_checks.py
  src/setup.cfg
Labels: enhancement, non-trivial, backend

#4463 Fix: Always return a list for audit log check
  src/paperless/checks.py
Labels: bug, backend, small-change

#4464 Fix: API statistics document_file_type_counts return type
  src/documents/views.py
Labels: bug, backend, small-change

#4462 Fix: visually hidden text breaks delete button wrap
  src-ui/src/app/components/common/confirm-dialog/confirm-dialog.component.html
Labels: bug, frontend, small-change
