Repository paperless-ngx/paperless-ngx, pull requests merged in 2023-03, with the labels that each got.

#2777 Don't submit owner via API on document upload
  src-ui/src/app/services/upload-documents.service.ts
  src/documents/serialisers.py
  src/documents/views.py
Labels: bug, backend, frontend, small-change

#2775 Fix: Ensure scratch directory exists before using
  src/documents/management/commands/document_exporter.py
Labels: bug, backend, small-change

#2718 Feature/2396 better mail actions
  src/paperless_mail/admin.py
  src/paperless_mail/mail.py
  src/paperless_mail/migrations/0018_processedmail.py
  src/paperless_mail/models.py
  src/paperless_mail/tests/test_mail.py
Labels: enhancement, non-trivial, backend

#2804 Update processed mail migration
  src/paperless_mail/migrations/0018_processedmail.py
Labels: bug, non-trivial, backend

#2806 update django.po messages
  src/locale/en_US/LC_MESSAGES/django.po
Labels: non-trivial, backend

#2813 Fix: Disable suggestions for read-only docs
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: bug, non-trivial, frontend

#2808 fix database locked error
  src/documents/bulk_edit.py
  src/documents/tasks.py
Labels: bug, backend, small-change

#2832 Chore: Don't include changelog PR for different releases
  .github/workflows/ci.yml
Labels: small-change, ci-cd

#2819 Fix: disable bulk edit dialog buttons during operation
  src-ui/src/app/components/common/permissions-dialog/permissions-dialog.component.html
  src-ui/src/app/components/common/permissions-dialog/permissions-dialog.component.ts
Labels: bug, frontend, small-change

#2817 Chore: Convert more code to pathlib
  src/documents/barcodes.py
  src/documents/classifier.py
  src/documents/models.py
  src/documents/tests/test_barcodes.py
  src/documents/tests/test_file_handling.py
  src/documents/tests/test_management_exporter.py
  src/documents/tests/test_management_thumbnails.py
  src/documents/tests/utils.py
  src/paperless/settings.py
Labels: non-trivial, backend

#2838 Chore: Properly collapse `All Changes` section in releases
  .github/release-drafter.yml
Labels: small-change, ci-cd

#2830 docs: better language code help
  docs/configuration.md
Labels: documentation, small-change

#2837 Fix: Ensure email date is made aware during action processing
  src/paperless_mail/mail.py
  src/paperless_mail/tests/test_mail.py
Labels: bug, backend, small-change

#2816 Chore: Create list parsing utility for settings
  src/paperless/settings.py
Labels: non-trivial, backend

#2827 Feature: owner-aware unique model name constraint
  src/documents/migrations/1033_alter_documenttype_options_alter_tag_options_and_more.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tests/test_api.py
Labels: enhancement, non-trivial, backend

#2860 Fix: Append Gmail labels instead of replacing
  src/paperless_mail/mail.py
Labels: bug, backend, small-change

#2855 Update docker-compose steps to support podman
  docs/setup.md
Labels: documentation, small-change

#2862 Chore: Update to qpdf 11.3.0 in Docker image
  .build-config.json
  Dockerfile
Labels: enhancement, small-change

#2820 Fix: give superuser full doc perms
  src-ui/cypress/fixtures/ui_settings/settings.json
  src-ui/cypress/fixtures/ui_settings/settings_restricted.json
  src-ui/src/app/data/paperless-uisettings.ts
  src-ui/src/app/services/permissions.service.ts
  src-ui/src/app/services/settings.service.ts
  src/documents/views.py
Labels: bug, non-trivial, backend, frontend

#2863 Fix: logout on change password via frontend
  src-ui/messages.xlf
  src-ui/src/app/components/common/edit-dialog/user-edit-dialog/user-edit-dialog.component.ts
  src-ui/src/app/components/manage/settings/settings.component.ts
Labels: bug, enhancement, non-trivial, frontend

#2880 Fix formatting in "Setup" documentation page
  docs/setup.md
Labels: bug, documentation, small-change

#2885 Fix: Update outdated docs referencing master
  docs/administration.md
  docs/setup.md
Labels: bug

#2891 Chore: Update cryptography to latest version
  Pipfile
  Pipfile.lock
Labels: enhancement, small-change

#2892 Fix: Chrome struggles with commas
  src/documents/views.py
Labels: bug, backend, small-change

#2839 Fix: frontend handle "private" tags, doctypes, correspondents
  src-ui/messages.xlf
  src-ui/src/app/components/common/input/select/select.component.html
  src-ui/src/app/components/common/input/select/select.component.scss
  src-ui/src/app/components/common/input/select/select.component.ts
  src-ui/src/app/components/common/tag/tag.component.html
  src-ui/src/app/components/common/tag/tag.component.scss
Labels: non-trivial, frontend

#2893 Enhancement: support filtering multiple correspondents, doctypes & storage paths
  src-ui/cypress/e2e/documents/documents-list.cy.ts
  src-ui/cypress/e2e/documents/query-params.cy.ts
  src-ui/cypress/fixtures/correspondents/correspondents.json
  src-ui/cypress/fixtures/document_types/doctypes.json
  src-ui/cypress/fixtures/documents/documents.json
  src-ui/messages.xlf
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.html
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.html
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
  src-ui/src/app/components/manage/correspondent-list/correspondent-list.component.ts
  src-ui/src/app/components/manage/document-type-list/document-type-list.component.ts
  src-ui/src/app/components/manage/storage-path-list/storage-path-list.component.ts
  src-ui/src/app/data/filter-rule-type.ts
  src-ui/src/app/utils/query-params.ts
  src/documents/filters.py
  src/documents/migrations/1034_alter_savedviewfilterrule_rule_type.py
  src/documents/models.py
Labels: enhancement, non-trivial, backend, frontend

#2899 Allow psql client certificate authentication
  docs/configuration.md
  src/paperless/settings.py
Labels: enhancement, backend, small-change

#2914 Feature: add percetage bar for file types in statistics section
  src-ui/src/app/components/dashboard/widgets/statistics-widget/statistics-widget.component.html
  src-ui/src/app/components/dashboard/widgets/statistics-widget/statistics-widget.component.scss
  src-ui/src/app/components/dashboard/widgets/statistics-widget/statistics-widget.component.ts
Labels: non-trivial, frontend

#2910 Feature: Improved statistics widget
  docs/assets/screenshots/dashboard.png
  src-ui/messages.xlf
  src-ui/package-lock.json
  src-ui/package.json
  src-ui/src/app/components/dashboard/widgets/statistics-widget/statistics-widget.component.html
  src-ui/src/app/components/dashboard/widgets/statistics-widget/statistics-widget.component.scss
  src-ui/src/app/components/dashboard/widgets/statistics-widget/statistics-widget.component.ts
  src-ui/src/styles.scss
  src-ui/src/theme.scss
  src/documents/tests/test_api.py
  src/documents/views.py
Labels: enhancement, non-trivial, backend, frontend

#2938 Fix: unable to edit correspondents (in `dev`)
  src-ui/messages.xlf
  src-ui/src/app/components/manage/management-list/management-list.component.ts
  src/documents/serialisers.py
Labels: bug

#2943 Chore: Updates locked pipenv to latest version
  .github/workflows/ci.yml
  Dockerfile
Labels: ci-cd

#2939 Fix: Resolve Redis connection issues with ACLs
  Pipfile
  Pipfile.lock
  src/paperless/settings.py
Labels: bug, enhancement, backend, small-change

#2949 Feature: test mail account
  src-ui/messages.xlf
  src-ui/src/app/components/common/edit-dialog/edit-dialog.component.ts
  src-ui/src/app/components/common/edit-dialog/mail-account-edit-dialog/mail-account-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/mail-account-edit-dialog/mail-account-edit-dialog.component.scss
  src-ui/src/app/components/common/edit-dialog/mail-account-edit-dialog/mail-account-edit-dialog.component.ts
  src-ui/src/app/services/rest/mail-account.service.ts
  src-ui/src/theme.scss
  src/paperless/urls.py
  src/paperless_mail/tests/test_api.py
  src/paperless_mail/views.py
Labels: enhancement, non-trivial, backend, frontend

#2972 Feature: Enable images to be released on Quay.io
  .github/workflows/ci.yml
Labels: enhancement, small-change, ci-cd

#2907 feature: Add support for zxing as barcode scanning lib
  Pipfile
  Pipfile.lock
  docs/configuration.md
  src/documents/barcodes.py
  src/documents/tests/test_barcodes.py
  src/paperless/checks.py
  src/paperless/settings.py
  src/paperless/tests/test_checks.py
Labels: enhancement, non-trivial, backend

#2966 Feature: double-click docs
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.ts
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.ts
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/document-list.component.ts
Labels: enhancement, non-trivial, frontend

#2983 Fix: Use exclude instead of difference for mariadb
  src/documents/permissions.py
Labels: bug, backend, small-change
