Repository paperless-ngx/paperless-ngx, pull requests merged in 2024-02, with the labels that each got.

#5612 Fix: Don't attempt to retrieve object types user doesnt have permissions to
  src-ui/src/app/components/common/permissions-filter-dropdown/permissions-filter-dropdown.component.html
  src-ui/src/app/components/common/permissions-filter-dropdown/permissions-filter-dropdown.component.ts
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.html
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.html
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
  src-ui/src/app/services/rest/document.service.ts
Labels: bug, non-trivial, frontend

#5531 Enhancement: Respect PDF cropbox for thumbnail generation
  src/documents/parsers.py
Labels: backend, small-change

#5561 Enhancement: re-implement remote user auth for API as opt-in
  docs/api.md
  docs/configuration.md
  src/paperless/auth.py
  src/paperless/settings.py
  src/paperless/tests/test_remote_user.py
Labels: enhancement, non-trivial, backend

#5624 Documentation: fix more like parameter in API docs
  docs/api.md
Labels: documentation, skip-changelog

#5508 Enhancement: mergeable bulk edit permissions
  docs/api.md
  src-ui/messages.xlf
  src-ui/src/app/components/common/input/switch/switch.component.html
  src-ui/src/app/components/common/permissions-dialog/permissions-dialog.component.html
  src-ui/src/app/components/common/permissions-dialog/permissions-dialog.component.spec.ts
  src-ui/src/app/components/common/permissions-dialog/permissions-dialog.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/components/manage/mail/mail.component.spec.ts
  src-ui/src/app/components/manage/mail/mail.component.ts
  src-ui/src/app/components/manage/management-list/management-list.component.spec.ts
  src-ui/src/app/components/manage/management-list/management-list.component.ts
  src-ui/src/app/services/rest/abstract-name-filter-service.spec.ts
  src-ui/src/app/services/rest/abstract-name-filter-service.ts
  src/documents/bulk_edit.py
  src/documents/serialisers.py
  src/documents/test_bulk_edit.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_api_permissions.py
  src/documents/views.py
Labels: enhancement, non-trivial, backend, frontend

#5596 Enhancement: allow paperless to run in read-only filesystem
  docker/paperless_cmd.sh
  docs/configuration.md
Labels: enhancement, small-change

#5562 Feature: option for auto-remove inbox tags on save
  src-ui/messages.xlf
  src-ui/src/app/components/admin/settings/settings.component.html
  src-ui/src/app/components/admin/settings/settings.component.spec.ts
  src-ui/src/app/components/admin/settings/settings.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/data/document.ts
  src-ui/src/app/data/ui-settings.ts
  src-ui/src/app/services/rest/document.service.spec.ts
  src-ui/src/app/services/rest/document.service.ts
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
Labels: enhancement, non-trivial, backend, frontend

#5639 Paperless-ngx Demo: new and improved
  README.md
  docs/index.md
  mkdocs.yml
Labels: documentation, small-change

#5641 Feature: Japanese translation
  src-ui/angular.json
  src-ui/messages.xlf
  src-ui/setup-jest.ts
  src-ui/src/app/app.module.ts
  src-ui/src/app/services/settings.service.ts
  src/locale/en_US/LC_MESSAGES/django.po
  src/paperless/settings.py
Labels: enhancement, non-trivial, backend, frontend

#5647 Fix: Explicit validation of custom field name unique constraint
  src/documents/serialisers.py
  src/documents/tests/test_api_custom_fields.py
Labels: bug, non-trivial, backend

#5646 Fix: frontend validation of number fields fails upon save
  src-ui/src/app/components/common/input/number/number.component.spec.ts
  src-ui/src/app/components/common/input/number/number.component.ts
Labels: bug, non-trivial, frontend

#5638 Feature: Cache metadata and suggestions in Redis
  src/documents/caching.py
  src/documents/classifier.py
  src/documents/conditionals.py
  src/documents/tests/test_api_documents.py
  src/documents/views.py
  src/paperless/settings.py
  src/setup.cfg
Labels: enhancement, non-trivial, backend

#5653 Documentation: Include example redis URI with database index
  docs/configuration.md
Labels: documentation, small-change

#5660 Chore: Adds additional rules for Ruff linter
  .ruff.toml
  src/documents/caching.py
  src/documents/classifier.py
  src/documents/management/commands/document_retagger.py
  src/documents/management/commands/document_thumbnails.py
  src/documents/plugins/helpers.py
  src/documents/signals/handlers.py
  src/documents/tests/test_api_bulk_download.py
  src/documents/tests/test_management_consumer.py
  src/documents/tests/test_management_fuzzy.py
  src/documents/tests/test_workflows.py
  src/documents/tests/utils.py
  src/paperless/auth.py
Labels: non-trivial, backend

#5666 Chore: Use memory cache backend in debug mode
  src/paperless/settings.py
Labels: backend, small-change

#5677 Chore: Don't write Python bytecode in the Docker image
  Dockerfile
Labels: backend, small-change

#5674 Documentation: add detail about consumer polling behavior
  docs/configuration.md
Labels: documentation, small-change

#5190 Feature: OIDC & social authentication
  Pipfile
  Pipfile.lock
  docs/advanced_usage.md
  docs/configuration.md
  src-ui/messages.xlf
  src-ui/src/app/components/app-frame/app-frame.component.spec.ts
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/components/common/profile-edit-dialog/profile-edit-dialog.component.html
  src-ui/src/app/components/common/profile-edit-dialog/profile-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/profile-edit-dialog/profile-edit-dialog.component.ts
  src-ui/src/app/data/user-profile.ts
  src-ui/src/app/services/django-messages.service.spec.ts
  src-ui/src/app/services/django-messages.service.ts
  src-ui/src/app/services/profile.service.spec.ts
  src-ui/src/app/services/profile.service.ts
  src/documents/templates/account/login.html
  src/documents/templates/account/password_reset.html
  src/documents/templates/account/password_reset_done.html
  src/documents/templates/account/password_reset_from_key.html
  src/documents/templates/account/password_reset_from_key_done.html
  src/documents/templates/index.html
  src/documents/templates/socialaccount/authentication_error.html
  src/documents/templates/socialaccount/login.html
  src/documents/templates/socialaccount/signup.html
  src/documents/tests/test_api_profile.py
  src/documents/tests/test_management_exporter.py
  src/locale/en_US/LC_MESSAGES/django.po
  src/paperless/adapter.py
  src/paperless/serialisers.py
  src/paperless/settings.py
  src/paperless/tests/test_adapter.py
  src/paperless/urls.py
  src/paperless/views.py
Labels: non-trivial, backend, frontend, notable

#5688 Enhancement: bulk delete objects
  docs/api.md
  src-ui/messages.xlf
  src-ui/src/app/components/manage/management-list/management-list.component.html
  src-ui/src/app/components/manage/management-list/management-list.component.spec.ts
  src-ui/src/app/components/manage/management-list/management-list.component.ts
  src-ui/src/app/services/rest/abstract-name-filter-service.spec.ts
  src-ui/src/app/services/rest/abstract-name-filter-service.ts
  src-ui/src/environments/environment.prod.ts
  src-ui/src/environments/environment.ts
  src/documents/serialisers.py
  src/documents/tests/test_api_objects.py
  src/documents/tests/test_api_permissions.py
  src/documents/views.py
  src/paperless/settings.py
  src/paperless/urls.py
Labels: enhancement, non-trivial, backend, frontend, breaking-change

#5680 Enhancement: confirm buttons
  src-ui/messages.xlf
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/admin/settings/settings.component.html
  src-ui/src/app/components/admin/settings/settings.component.spec.ts
  src-ui/src/app/components/common/confirm-button/confirm-button.component.html
  src-ui/src/app/components/common/confirm-button/confirm-button.component.scss
  src-ui/src/app/components/common/confirm-button/confirm-button.component.spec.ts
  src-ui/src/app/components/common/confirm-button/confirm-button.component.ts
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/profile-edit-dialog/profile-edit-dialog.component.html
  src-ui/src/app/components/common/profile-edit-dialog/profile-edit-dialog.component.spec.ts
  src-ui/src/app/components/manage/management-list/management-list.component.html
  src-ui/src/app/components/manage/management-list/management-list.component.spec.ts
  src-ui/src/app/components/manage/management-list/management-list.component.ts
Labels: enhancement, frontend

#5701 Fix: only check workflow trigger source if not empty
  src/documents/matching.py
  src/documents/serialisers.py
  src/documents/tests/test_api_workflows.py
Labels: bug, backend

#5706 Change: try to show preview even if metadata fails
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: bug, frontend, small-change

#5707 Fix: Test metadata items for Unicode issues
  src/paperless_mail/parsers.py
  src/paperless_tesseract/parsers.py
Labels: bug, non-trivial, backend

#5711 Chore: Ensure all creations of directories create the parents too
  src/documents/consumer.py
  src/documents/index.py
  src/documents/management/commands/document_archiver.py
  src/documents/management/commands/document_exporter.py
  src/documents/management/commands/document_importer.py
  src/documents/parsers.py
  src/documents/tests/test_date_parsing.py
  src/documents/tests/test_file_handling.py
  src/documents/views.py
  src/paperless/settings.py
  src/paperless_mail/mail.py
Labels: non-trivial, backend

#5730 Documentation: explain PAPERLESS_APPS for external authentication
  docs/configuration.md
Labels: documentation, small-change

#5740 Fix: Splitting on ASN barcodes even if not enabled
  src/documents/barcodes.py
  src/documents/tests/test_barcodes.py
Labels: bug, non-trivial, backend

#5745 Fix: Assign ASN from barcode only after any splitting
  src/documents/barcodes.py
Labels: bug, backend, small-change

#5751 Fix: handle document notes user format api change
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-notes/document-notes.component.spec.ts
  src-ui/src/app/components/document-notes/document-notes.component.ts
  src-ui/src/app/data/document-note.ts
Labels: bug, non-trivial, frontend

#5762 Fix: consumer status alerts container blocks elements
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.html
Labels: bug, frontend, small-change

#5767 Fix: Generated secret key may include single or double quotes
  install-paperless-ngx.sh
Labels: bug, small-change

#5771 Fix: moved ssl_mode parameter for mysql backend engine
  src/paperless/settings.py
Labels: backend, small-change

#5779 Fix: Interaction when both splitting and ASN are enabled
  src/documents/barcodes.py
  src/documents/tests/test_barcodes.py
Labels: bug, backend, small-change

#5783 Fix: dont allow allauth redirects to any host
  src/paperless/adapter.py
  src/paperless/tests/test_adapter.py
  src/paperless/urls.py
Labels: bug, non-trivial, backend

#5800 Fix: pass rule id to consumed .eml files
  src/paperless_mail/mail.py
Labels: bug, backend, small-change

#5801 Fix: allow relative date queries not in quick list
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
Labels: bug, non-trivial, frontend

#5804 Chore: close unsupported FRs
  .github/workflows/repo-maintenance.yml
Labels: non-trivial, ci-cd

#5815 Chore: better explain repository maintenance
  .github/workflows/repo-maintenance.yml
  CONTRIBUTING.md
Labels: small-change, ci-cd, skip-changelog

#5863 Documentation: note required trailing slash for REST-API URLs
  docs/api.md
Labels: documentation, small-change, skip-changelog

#5893 Documentation: fix links to django-allauth
  docs/configuration.md
Labels: documentation, small-change

#5876 Fix: inotify read timeout not in ms
  src/documents/management/commands/document_consumer.py
Labels: bug, backend, small-change

#5838 Fix: intermittent save & close warnings
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: bug, frontend, small-change

#5888 Fix: bulk edit objects does not respect global permissions
  src-ui/src/app/components/manage/management-list/management-list.component.html
  src-ui/src/app/components/manage/management-list/management-list.component.spec.ts
  src-ui/src/app/components/manage/management-list/management-list.component.ts
  src/documents/tests/test_api_objects.py
  src/documents/views.py
Labels: bug, non-trivial, backend, frontend

#5828 Fix: handle title placeholder for docs without original_filename
  src/documents/signals/handlers.py
Labels: bug, backend, small-change

#5816 Enhancement: support disabling regular login
  docs/advanced_usage.md
  docs/configuration.md
  src/documents/context_processors.py
  src/documents/templates/account/login.html
  src/locale/en_US/LC_MESSAGES/django.po
  src/paperless/adapter.py
  src/paperless/settings.py
  src/paperless/tests/test_adapter.py
Labels: enhancement, non-trivial, backend

#5899 Fix: refactor accounts templates and create signup template
  src/documents/context_processors.py
  src/documents/static/accounts.css
  src/documents/templates/account/login.html
  src/documents/templates/account/password_reset.html
  src/documents/templates/account/password_reset_done.html
  src/documents/templates/account/password_reset_from_key.html
  src/documents/templates/account/password_reset_from_key_done.html
  src/documents/templates/account/signup.html
  src/documents/templates/index.html
  src/documents/templates/paperless-ngx/base.html
  src/documents/templates/paperless-ngx/snippets/svg_logo.html
  src/documents/templates/socialaccount/authentication_error.html
  src/documents/templates/socialaccount/login.html
  src/documents/templates/socialaccount/signup.html
  src/locale/en_US/LC_MESSAGES/django.po
Labels: bug, non-trivial, backend

#5919 Fix: respect global permissions for UI settings
  src-ui/src/app/app-routing.module.ts
  src-ui/src/app/components/admin/settings/settings.component.html
  src-ui/src/app/components/app-frame/app-frame.component.html
  src/documents/tests/test_api_uisettings.py
  src/documents/views.py
Labels: bug, non-trivial, backend, frontend

#5917 Fix: Correct docker compose check in install script (#5904)
  install-paperless-ngx.sh
Labels: bug, small-change, deployment

#5902 Fix: use `PAPERLESS_URL` for password reset emails, if set
  docs/usage.md
  src/documents/context_processors.py
  src/documents/templates/account/email/base_message.txt
  src/locale/en_US/LC_MESSAGES/django.po
  src/paperless/adapter.py
  src/paperless/settings.py
  src/paperless/tests/test_adapter.py
  src/paperless/tests/test_settings.py
Labels: bug, non-trivial, backend

#5922 Fix typo: Respoistory -> Repository
  .github/workflows/repo-maintenance.yml
  CONTRIBUTING.md
Labels: bug, small-change, ci-cd

#5924 Change: add Thumbs.db to default ignores
  docs/configuration.md
  src/paperless/settings.py
Labels: backend, small-change

#5858 Enhancement: better monetary field with currency code
  docs/usage.md
  src-ui/messages.xlf
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/common/input/monetary/monetary.component.html
  src-ui/src/app/components/common/input/monetary/monetary.component.scss
  src-ui/src/app/components/common/input/monetary/monetary.component.spec.ts
  src-ui/src/app/components/common/input/monetary/monetary.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src/documents/migrations/1045_alter_customfieldinstance_value_monetary.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tests/test_api_custom_fields.py
  src/locale/en_US/LC_MESSAGES/django.po
Labels: enhancement, non-trivial, backend, frontend

#5934 Fix: ensure document title always limited to 128 chars
  src/documents/consumer.py
Labels: bug, backend, small-change

#5947 Chore: Includes OCRMyPdf logging into the log file
  src/paperless/settings.py
Labels: backend, small-change

#5948 Fix: Don't assume the location of scratch directory in Docker
  docker/docker-entrypoint.sh
Labels: bug, small-change

#5950 Fix: Better handling of a corrupted index
  src/documents/index.py
  src/documents/tests/test_matchables.py
Labels: bug, backend, small-change

#5957 Fix: Clear metadata cache when the filename(s) change
  src/documents/caching.py
  src/documents/signals/handlers.py
Labels: bug, backend, small-change
