Repository paperless-ngx/paperless-ngx, pull requests merged in 2024-11, with the labels that each got.

#8158 Fix: correctly handle "exists, false" in custom field query filter
  src/documents/filters.py
  src/documents/tests/test_api_filter_by_custom_fields.py
Labels: bug, non-trivial, backend

#8157 Fix: fix auto-clean PDFs, create parent dir for storing unmodified original
  src/documents/consumer.py
Labels: bug, backend

#8165 Fix: fix clipped popup preview in 2.13.3
  src-ui/src/styles.scss
Labels: bug, frontend, small-change

#8166 Fix: fix dark mode icon blend mode in 2.13.3
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.scss
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.scss
Labels: frontend, small-change

#8176 Fix: warn with proper error on ASN exists in trash
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
Labels: bug, non-trivial, backend

#8185 Fix: select checkbox should remain visible
  src-ui/src/styles.scss
Labels: frontend, small-change

#8193 Fix: fix thumbnail clipping, select inverted color in safari dark mode not system
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
  src-ui/src/theme.scss
Labels: frontend, small-change

#8225 Fix: tag colors stay fixed in list when selected
  src-ui/src/theme.scss
Labels: frontend, small-change

#8068 Fix: Admin pages should show trashed documents
  src/documents/admin.py
Labels: bug, backend, small-change

#8213 Chore: Updates all runner images to use Ubuntu Noble
  .github/workflows/ci.yml
  .github/workflows/cleanup-tags.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/crowdin.yml
  .github/workflows/project-actions.yml
  .github/workflows/repo-maintenance.yml
Labels: non-trivial, ci-cd

#8230 Fix: correctly track task id in list for change detection
  src-ui/src/app/components/admin/tasks/tasks.component.html
Labels: bug, frontend, small-change

#8240 Fix: handle page count exception for pw-protected files
  src/paperless_tesseract/parsers.py
  src/paperless_tesseract/tests/test_parser.py
Labels: bug, non-trivial, backend

#8212 Chore: Bulk backend dependency updates
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Dockerfile
  Pipfile
  Pipfile.lock
  src/documents/tests/test_api_status.py
  src/documents/views.py
  src/paperless_tesseract/parsers.py
Labels: non-trivial, backend

#7862 Chore: switch src/documents/bulk*.py from os.path to pathlib.Path
  .ruff.toml
  src/documents/bulk_download.py
  src/documents/bulk_edit.py
Labels: non-trivial, backend

#8011 Feature: loading preview, better text popup preview
  src-ui/src/app/components/admin/settings/settings.component.html
  src-ui/src/app/components/admin/settings/settings.component.spec.ts
  src-ui/src/app/components/admin/settings/settings.component.ts
  src-ui/src/app/components/common/preview-popup/preview-popup.component.html
  src-ui/src/app/components/common/preview-popup/preview-popup.component.scss
  src-ui/src/app/components/common/preview-popup/preview-popup.component.spec.ts
  src-ui/src/app/components/common/preview-popup/preview-popup.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.scss
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/data/document.ts
  src-ui/src/app/data/ui-settings.ts
  src-ui/src/styles.scss
  src/documents/serialisers.py
Labels: enhancement, non-trivial, backend, frontend

#8243 Enhancement: save & next / close shortcut key
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: enhancement, frontend, small-change

#8267 Fix: add note about select options to edit dialog
  src-ui/messages.xlf
  src-ui/src/app/components/common/edit-dialog/custom-field-edit-dialog/custom-field-edit-dialog.component.html
Labels: bug, non-trivial, frontend

#8268 Fix: prevent duplicate workflow runs
  src/documents/signals/handlers.py
Labels: bug, backend, small-change

#8279 Tweak: use fixed position for navbar
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.scss
Labels: frontend, small-change

#8292 Fix: include db_index caveat in squashed migrations
  src/documents/migrations/0015_add_insensitive_to_match_squashed_0018_auto_20170715_1712.py
Labels: bug, backend, small-change

#8273 Documentation: simplify docker-compose.portainer.yml
  docker/compose/docker-compose.portainer.yml
Labels: documentation, small-change, skip-changelog

#8012 Feature: two-factor authentication
  Pipfile
  Pipfile.lock
  docs/usage.md
  src-ui/messages.xlf
  src-ui/src/app/components/app-frame/app-frame.component.spec.ts
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/components/common/edit-dialog/user-edit-dialog/user-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/user-edit-dialog/user-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/user-edit-dialog/user-edit-dialog.component.ts
  src-ui/src/app/components/common/profile-edit-dialog/profile-edit-dialog.component.html
  src-ui/src/app/components/common/profile-edit-dialog/profile-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/profile-edit-dialog/profile-edit-dialog.component.ts
  src-ui/src/app/data/user-profile.ts
  src-ui/src/app/data/user.ts
  src-ui/src/app/services/permissions.service.spec.ts
  src-ui/src/app/services/permissions.service.ts
  src-ui/src/app/services/profile.service.spec.ts
  src-ui/src/app/services/profile.service.ts
  src-ui/src/app/services/rest/user.service.spec.ts
  src-ui/src/app/services/rest/user.service.ts
  src/documents/management/commands/document_exporter.py
  src/documents/templates/mfa/authenticate.html
  src/documents/tests/test_api_permissions.py
  src/documents/tests/test_api_profile.py
  src/locale/en_US/LC_MESSAGES/django.po
  src/paperless/serialisers.py
  src/paperless/settings.py
  src/paperless/urls.py
  src/paperless/views.py
Labels: enhancement, non-trivial, backend, frontend

#8309 Enhancement: next / previous shortcuts for document list
  src-ui/messages.xlf
  src-ui/src/app/components/document-list/document-list.component.spec.ts
  src-ui/src/app/components/document-list/document-list.component.ts
Labels: non-trivial, frontend

#8261 Enhancement: Add --compare-json option to document_exporter to write json files only if changed
  docs/administration.md
  src/documents/management/commands/document_exporter.py
  src/documents/tests/test_management_exporter.py
Labels: non-trivial, backend

#8315 Fixhancement: change update content to handle archive disabled
  src/documents/bulk_edit.py
  src/documents/management/commands/document_archiver.py
  src/documents/tasks.py
  src/documents/tests/test_bulk_edit.py
  src/documents/tests/test_management.py
  src/documents/tests/test_tasks.py
Labels: bug, enhancement, non-trivial, backend

#8195 Enhancement: support owner permissions for file tasks
  docs/api.md
  src-ui/src/app/data/paperless-task.ts
  src-ui/src/app/services/tasks.service.spec.ts
  src-ui/src/app/services/tasks.service.ts
  src-ui/src/environments/environment.prod.ts
  src-ui/src/environments/environment.ts
  src/documents/migrations/1057_paperlesstask_owner.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/signals/handlers.py
  src/documents/tests/test_api_tasks.py
  src/documents/tests/test_task_signals.py
  src/documents/views.py
  src/paperless/settings.py
  src/paperless/urls.py
Labels: enhancement, non-trivial, backend, frontend

#8321 Enhancement: offer link to restored document
  src-ui/messages.xlf
  src-ui/src/app/components/admin/trash/trash.component.spec.ts
  src-ui/src/app/components/admin/trash/trash.component.ts
Labels: non-trivial, frontend

#8328 Refactor: fix unnecessary use of filterable dropdown sorting
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.html
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.spec.ts
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
Labels: non-trivial, frontend

#8335 Fix: handle very old dates with positive offset too
  src-ui/src/app/components/manage/correspondent-list/correspondent-list.component.spec.ts
  src-ui/src/app/components/manage/correspondent-list/correspondent-list.component.ts
Labels: bug, frontend, small-change

#8341 Fixes install script to handle languages with dashes or underscores
  install-paperless-ngx.sh
Labels: bug, small-change

#8036 Feature: scheduled workflow trigger
  Pipfile.lock
  docs/usage.md
  src-ui/messages.xlf
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.ts
  src-ui/src/app/data/workflow-trigger.ts
  src/documents/matching.py
  src/documents/migrations/1058_workflowtrigger_schedule_date_custom_field_and_more.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/signals/handlers.py
  src/documents/tasks.py
  src/documents/tests/test_workflows.py
  src/paperless/settings.py
  src/paperless/tests/test_settings.py
Labels: enhancement, non-trivial, backend, frontend

#8346 Chore: cleanup urls, use actions for some views
  src/documents/views.py
  src/paperless/urls.py
  src/paperless_mail/views.py
Labels: non-trivial, backend

#8359 Enhancement: use theme-color meta tag
  src-ui/messages.xlf
  src-ui/src/app/data/ui-settings.ts
  src-ui/src/app/services/settings.service.ts
Labels: enhancement, non-trivial, frontend

#8369 Fixhancement: dispatch change event from current field prior to save
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: bug, frontend, small-change

#8374 Fix: include subpath in logo url
  src/documents/tests/test_views.py
  src/paperless/config.py
Labels: bug, non-trivial, backend

#8384 Enhancement: preview button for document list and trash, refactor
  src-ui/messages.xlf
  src-ui/src/app/components/admin/trash/trash.component.html
  src-ui/src/app/components/common/preview-popup/preview-popup.component.html
  src-ui/src/app/components/common/preview-popup/preview-popup.component.spec.ts
  src-ui/src/app/components/common/preview-popup/preview-popup.component.ts
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.spec.ts
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.ts
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.spec.ts
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.ts
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/styles.scss
  src/documents/views.py
Labels: enhancement, non-trivial, backend, frontend

#8386 Enhancement: filterable list count sorting and opacification
  src-ui/messages.xlf
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.html
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.spec.ts
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
  src-ui/src/app/components/common/filterable-dropdown/toggleable-dropdown-button/toggleable-dropdown-button.component.html
  src-ui/src/app/components/common/filterable-dropdown/toggleable-dropdown-button/toggleable-dropdown-button.component.ts
Labels: non-trivial, frontend

#8387 Enhancement: larger previews in action dialogs
  src-ui/messages.xlf
  src-ui/src/app/components/common/confirm-dialog/delete-pages-confirm-dialog/delete-pages-confirm-dialog.component.scss
  src-ui/src/app/components/common/confirm-dialog/split-confirm-dialog/split-confirm-dialog.component.html
  src-ui/src/app/components/common/confirm-dialog/split-confirm-dialog/split-confirm-dialog.component.scss
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
Labels: non-trivial, frontend
