Repository paperless-ngx/paperless-ngx, pull requests merged in 2024-09, with the labels that each got.

#7607 Chore: remove unused frontend dependencies
  src-ui/package-lock.json
  src-ui/package.json
Labels: bug, frontend, small-change

#7626 Fix: correct broken pdfjs worker src after upgrade to pdfjs v4
  src-ui/angular.json
  src-ui/src/app/app.component.ts
Labels: bug, frontend, small-change

#7635 Enhancement: re-work mail rule dialog, support multiple include patterns
  docs/usage.md
  src-ui/messages.xlf
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.html
  src/paperless_mail/mail.py
  src/paperless_mail/tests/test_mail.py
Labels: enhancement, non-trivial, backend, frontend

#7650 Fix: use JSON for note audit log entries
  src/documents/views.py
Labels: bug, backend, small-change

#7646 Refactor: performance and storage optimization of barcode scanning
  docs/configuration.md
  src/documents/barcodes.py
  src/paperless/settings.py
Labels: non-trivial, backend

#7640 Fix: Rework system check so it won't crash if tesseract is not found
  src/paperless/checks.py
  src/paperless_tesseract/checks.py
Labels: backend, small-change

#7656 Chore: Update backend dependencies in bulk
  .pre-commit-config.yaml
  Pipfile.lock
  src-ui/src/app/components/dashboard/widgets/widget-frame/widget-frame.component.spec.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
  src-ui/src/app/directives/if-object-permissions.directive.spec.ts
  src-ui/src/app/pipes/username.pipe.ts
  src-ui/src/app/services/document-list-view.service.ts
Labels: enhancement, non-trivial, frontend

#7661 Fix: add permissions to OPTIONS requests for notes
  src/documents/permissions.py
Labels: bug, backend, small-change

#7672 Fix: saved view permissions fixes
  src-ui/src/app/components/admin/settings/settings.component.html
  src-ui/src/app/components/app-frame/app-frame.component.spec.ts
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/services/rest/saved-view.service.spec.ts
  src-ui/src/app/services/rest/saved-view.service.ts
Labels: bug, non-trivial, frontend

#7673 Chore: Add codecov bundle analysis
  src-ui/angular.json
  src-ui/extra-webpack.config.ts
  src-ui/package-lock.json
  src-ui/package.json
Labels: enhancement, non-trivial, frontend

#7688 Documentation: fix PAPERLESS_ENABLE_GPG_DECRYPTOR
  docs/configuration.md
Labels: documentation, small-change

#7689 Documentation: move 'mime-support' requirement to RPi in bare-metal docs
  docs/setup.md
Labels: documentation, small-change, skip-changelog

#7699 Fix: only filter by string or number properties for filter pipe
  src-ui/src/app/pipes/filter.pipe.ts
Labels: bug, frontend, small-change

#7710 Fix: filter out shown custom fields that have been deleted from saved…
  src-ui/src/app/components/common/input/drag-drop-select/drag-drop-select.component.ts
Labels: bug, frontend, small-change

#7712 Enhancement: improve text contrast for selected documents in list view dark mode
  src-ui/src/theme.scss
Labels: frontend, small-change

#7714 Fix: delete_pages should require ownership (not just change perms)
  src/documents/views.py
Labels: backend, small-change

#7727 Feature: copy workflows and mail rules, improve layout
  src-ui/messages.xlf
  src-ui/src/app/components/manage/mail/mail.component.html
  src-ui/src/app/components/manage/mail/mail.component.scss
  src-ui/src/app/components/manage/mail/mail.component.spec.ts
  src-ui/src/app/components/manage/mail/mail.component.ts
  src-ui/src/app/components/manage/workflows/workflows.component.html
  src-ui/src/app/components/manage/workflows/workflows.component.scss
  src-ui/src/app/components/manage/workflows/workflows.component.spec.ts
  src-ui/src/app/components/manage/workflows/workflows.component.ts
Labels: enhancement, non-trivial, frontend

#7738 Fix: chrome scrolling in >= 129
  src-ui/src/app/components/app-frame/app-frame.component.scss
Labels: non-trivial, frontend

#7743 Enhancement: allow setting session cookie age
  docs/configuration.md
  src/paperless/settings.py
Labels: enhancement, backend, small-change

#7748 Enhancement: set Django SESSION_EXPIRE_AT_BROWSER_CLOSE from PAPERLESS_ACCOUNT_SESSION_REMEMBER
  docs/configuration.md
  src/paperless/settings.py
Labels: documentation, enhancement, backend, small-change

#7758 Fix: handle overflowing dropdowns on mobile
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.html
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.ts
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.html
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
  src-ui/src/app/utils/popper-options.spec.ts
  src-ui/src/app/utils/popper-options.ts
Labels: non-trivial, frontend

#7759 Enhancement: compactify dates dropdown
  src-ui/messages.xlf
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.html
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.scss
Labels: non-trivial, frontend

#7766 Documentation: fix link to redis security docs
  docs/configuration.md
Labels: documentation, small-change, skip-changelog

#7770 Fix: hidden canvas element causes scroll bug
  src-ui/src/styles.scss
Labels: frontend, small-change

#7750 Feature: page count
  docs/api.md
  src-ui/messages.xlf
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.spec.ts
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.spec.ts
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.spec.ts
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/document-list.component.spec.ts
  src-ui/src/app/data/document.ts
  src-ui/src/app/services/settings.service.ts
  src/documents/bulk_edit.py
  src/documents/consumer.py
  src/documents/index.py
  src/documents/migrations/1053_document_page_count.py
  src/documents/models.py
  src/documents/parsers.py
  src/documents/serialisers.py
  src/documents/tests/test_bulk_edit.py
  src/documents/tests/test_migration_document_pages_count.py
  src/documents/views.py
  src/paperless_tesseract/parsers.py
  src/paperless_tesseract/tests/test_parser.py
Labels: enhancement, non-trivial, backend, frontend

#7651 Feature: auto-clean some invalid pdfs
  docs/advanced_usage.md
  src/documents/consumer.py
  src/documents/serialisers.py
  src/documents/tests/samples/invalid_pdf.pdf
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_consumer.py
  src/paperless/settings.py
Labels: enhancement

#7774 Chore: Drop Python 3.9 support
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .python-version
  .ruff.toml
  CONTRIBUTING.md
  Dockerfile
  Pipfile.lock
  docs/setup.md
  src/documents/barcodes.py
  src/documents/bulk_edit.py
  src/documents/caching.py
  src/documents/classifier.py
  src/documents/conditionals.py
  src/documents/consumer.py
  src/documents/data_models.py
  src/documents/double_sided.py
  src/documents/filters.py
  src/documents/index.py
  src/documents/management/commands/document_consumer.py
  src/documents/management/commands/document_exporter.py
  src/documents/management/commands/document_importer.py
  src/documents/management/commands/mixins.py
  src/documents/matching.py
  src/documents/models.py
  src/documents/parsers.py
  src/documents/plugins/base.py
  src/documents/plugins/helpers.py
  src/documents/signals/handlers.py
  src/documents/tasks.py
  src/documents/tests/test_api_filter_by_custom_fields.py
  src/documents/tests/test_double_sided.py
  src/documents/tests/test_migration_archive_files.py
  src/documents/tests/test_migration_encrypted_webp_conversion.py
  src/documents/tests/test_migration_webp_conversion.py
  src/documents/tests/utils.py
  src/documents/utils.py
  src/documents/views.py
  src/paperless/config.py
  src/paperless/settings.py
  src/paperless_mail/mail.py
  src/paperless_mail/parsers.py
  src/paperless_mail/tests/test_mail.py
  src/paperless_tesseract/parsers.py
  src/paperless_tika/parsers.py
Labels: backend, notable

#7795 Chore: Upgrade Django to 5.1
  Pipfile
  Pipfile.lock
Labels: backend, dependencies

#7796 Chore: Upgrades the Docker image to use Python 3.12
  Dockerfile
Labels: backend, dependencies

#7806 Documentation: update development docker build steps
  docs/development.md
Labels: documentation, small-change, skip-changelog
