Repository paperless-ngx/paperless-ngx, pull requests merged in 2024-01, with the labels that each got.

#5195 Fix: Improve Performance for Listing and Paginating Documents
  src/paperless/views.py
Labels: bug, backend, small-change

#5122 Document invalid options in rootless containers
  docs/configuration.md
  docs/setup.md
Labels: documentation, small-change

#5210 Fix: filename format remove none when part of directory
  src/documents/file_handling.py
  src/documents/tests/test_file_handling.py
Labels: bug, non-trivial, backend

#5199 Set default healthcheck
  Dockerfile
Labels: small-change

#5217 Enhancement: add `storage_path` parameter to post_document API
  docs/api.md
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Labels: enhancement, non-trivial, backend

#5229 Fix: correctly format tip admonition
  docs/setup.md
Labels: bug, documentation, small-change

#5245 Fix: zip exports not respecting the --delete option
  src/documents/management/commands/document_exporter.py
  src/documents/tests/test_management_exporter.py
Labels: bug, non-trivial, backend

#5249 Enhancement: fetch mails in bulk
  src/paperless_mail/mail.py
  src/paperless_mail/tests/test_mail.py
Labels: enhancement, backend, small-change

#5250 Change: Use fnmatch for more sane workflow path matching
  src/documents/matching.py
  src/documents/tests/test_workflows.py
Labels: enhancement, non-trivial, backend

#5257 Enhancement: add basic filters for listing of custom fields
  src/documents/filters.py
  src/documents/tests/test_api_custom_fields.py
  src/documents/views.py
Labels: non-trivial, backend

#5260 Fix: Allows pre-consume scripts to modify the working path again
  docs/advanced_usage.md
  src/documents/consumer.py
  src/documents/parsers.py
  src/documents/tests/test_consumer.py
  src/paperless_tesseract/parsers.py
Labels: bug, backend

#5261 Fix: Crash in barcode ASN reading when the file type isn't supported
  src/documents/barcodes.py
  src/documents/tasks.py
Labels: bug, backend, small-change

#5262 Chore: Replaces deprecated Django alias with standard library
  src/documents/index.py
Labels: bug, backend, small-change

#5275 Fix: Prevent passing 0 pages to OCRMyPDF
  docs/configuration.md
  src/paperless_tesseract/parsers.py
Labels: bug, backend, small-change

#5276 Fix: edit workflow form not displaying trigger settings
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.ts
Labels: bug, frontend, small-change

#5299 Fix: workflow edit form loses unsaved changes
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.ts
Labels: bug, non-trivial, frontend

#5304 Fix: Use local time for added/updated workflow triggers
  src/documents/signals/handlers.py
Labels: bug, backend, small-change

#5301 Fix: empty workflow trigger match field cannot be saved in v.2.3.1
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.ts
Labels: bug, frontend, small-change

#5307 Fix: Decoding of user arguments for OCR
  src/paperless/serialisers.py
Labels: bug, backend, small-change

#5302 Fix: triggered workflow assignment of customfield fails if field exists in v2.3.1
  src/documents/signals/handlers.py
  src/documents/tests/test_workflows.py
Labels: bug, non-trivial, backend

#5224 Deployment: Use the default Docker healthcheck from the Dockerfile (Part 2)
  docker/compose/docker-compose.mariadb-tika.yml
  docker/compose/docker-compose.mariadb.yml
  docker/compose/docker-compose.portainer.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.postgres.yml
  docker/compose/docker-compose.sqlite-tika.yml
  docker/compose/docker-compose.sqlite.yml
Labels: small-change, skip-changelog

#5319 Documentation: Fix typos with automated tool
  Dockerfile
  docker/compose/docker-compose.ci-test.yml
  docs/advanced_usage.md
  docs/troubleshooting.md
  docs/usage.md
  src/documents/double_sided.py
  src/documents/file_handling.py
  src/documents/management/commands/document_consumer.py
  src/documents/matching.py
  src/documents/migrations/0017_auto_20170512_0507.py
  src/documents/migrations/1000_update_paperless_all.py
  src/documents/migrations/1012_fix_archive_files.py
  src/documents/serialisers.py
  src/documents/signals/handlers.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_api_search.py
  src/documents/tests/test_date_parsing.py
  src/documents/tests/test_delayedquery.py
  src/documents/tests/test_migration_encrypted_webp_conversion.py
  src/paperless/checks.py
  src/paperless/settings.py
  src/paperless_mail/mail.py
Labels: documentation, skip-changelog

#5324 Chore: add pre-commit hook for codespell
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/changelog.md
  docs/setup.md
  docs/usage.md
  src-ui/src/app/components/admin/settings/settings.component.ts
  src-ui/src/app/components/app-frame/app-frame.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/edit-dialog.component.ts
  src-ui/src/app/components/common/input/number/number.component.spec.ts
  src-ui/src/app/components/common/input/password/password.component.spec.ts
  src-ui/src/app/components/common/input/text/text.component.spec.ts
  src-ui/src/app/components/common/input/url/url.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
  src-ui/src/app/components/document-list/save-view-config-dialog/save-view-config-dialog.component.ts
  src-ui/src/app/components/manage/correspondent-list/correspondent-list.component.spec.ts
  src-ui/src/app/components/manage/document-type-list/document-type-list.component.spec.ts
  src-ui/src/app/components/manage/storage-path-list/storage-path-list.component.spec.ts
  src-ui/src/app/components/manage/tag-list/tag-list.component.spec.ts
  src-ui/src/app/components/manage/workflows/workflows.component.ts
  src-ui/src/app/services/consumer-status.service.ts
  src-ui/src/app/services/document-list-view.service.ts
  src-ui/src/app/services/open-documents.service.ts
  src-ui/src/app/services/rest/group.service.ts
  src-ui/src/app/services/rest/user.service.ts
  src-ui/src/app/utils/ngb-date-parser-formatter.ts
  src/documents/classifier.py
  src/documents/parsers.py
  src/documents/tests/test_classifier.py
  src/documents/tests/test_consumer.py
  src/paperless_mail/tests/test_mail.py
Labels: non-trivial, backend

#5320 Fix: Don't require the JSON user arguments field
  src/documents/tests/test_api_app_config.py
  src/paperless/serialisers.py
Labels: bug, backend, small-change

#5336 Chore: Backend dependencies update
  .codespellrc
  .github/workflows/repo-maintenance.yml
  .pre-commit-config.yaml
  Pipfile
  Pipfile.lock
  docs/changelog.md
  src/documents/models.py
Labels: documentation, enhancement, non-trivial, backend, ci-cd

#5282 Enhancement: title assignment placeholder error handling, fallback
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.html
  src/documents/consumer.py
  src/documents/serialisers.py
  src/documents/signals/handlers.py
  src/documents/tests/test_api_workflows.py
  src/documents/tests/test_consumer.py
  src/documents/tests/test_workflows.py
Labels: non-trivial, backend

#5345 Enhancement: Explain behavior of unset app config boolean to user
  src-ui/messages.xlf
  src-ui/src/app/components/admin/config/config.component.html
  src-ui/src/app/components/common/input/switch/switch.component.html
  src-ui/src/app/components/common/input/switch/switch.component.spec.ts
  src-ui/src/app/components/common/input/switch/switch.component.ts
Labels: non-trivial, frontend

#5367 Chore: Initial refactor of consume task
  src/documents/barcodes.py
  src/documents/consumer.py
  src/documents/double_sided.py
  src/documents/plugins/__init__.py
  src/documents/plugins/base.py
  src/documents/plugins/helpers.py
  src/documents/tasks.py
  src/documents/tests/test_barcodes.py
  src/documents/tests/test_double_sided.py
  src/documents/tests/test_workflows.py
  src/documents/tests/utils.py
Labels: non-trivial, backend

#5357 Feature: app branding
  docs/configuration.md
  src-ui/messages.xlf
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/admin/config/config.component.html
  src-ui/src/app/components/admin/config/config.component.spec.ts
  src-ui/src/app/components/admin/config/config.component.ts
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.scss
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/components/common/input/file/file.component.html
  src-ui/src/app/components/common/input/file/file.component.scss
  src-ui/src/app/components/common/input/file/file.component.spec.ts
  src-ui/src/app/components/common/input/file/file.component.ts
  src-ui/src/app/components/common/logo/logo.component.html
  src-ui/src/app/components/common/logo/logo.component.spec.ts
  src-ui/src/app/components/common/logo/logo.component.ts
  src-ui/src/app/components/dashboard/dashboard.component.ts
  src-ui/src/app/components/not-found/not-found.component.spec.ts
  src-ui/src/app/data/paperless-config.ts
  src-ui/src/app/data/ui-settings.ts
  src-ui/src/app/services/config.service.spec.ts
  src-ui/src/app/services/config.service.ts
  src-ui/src/app/services/settings.service.spec.ts
  src-ui/src/app/services/settings.service.ts
  src-ui/src/styles.scss
  src/documents/tests/test_api_app_config.py
  src/documents/tests/test_api_uisettings.py
  src/documents/views.py
  src/paperless/config.py
  src/paperless/migrations/0002_applicationconfiguration_app_logo_and_more.py
  src/paperless/models.py
  src/paperless/serialisers.py
  src/paperless/settings.py
  src/paperless/urls.py
Labels: enhancement, non-trivial, backend, frontend

#5372 Enhancement: warn when outdated doc detected
  src-ui/messages.xlf
  src-ui/src/app/components/common/confirm-dialog/confirm-dialog.component.html
  src-ui/src/app/components/common/confirm-dialog/confirm-dialog.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src/documents/serialisers.py
Labels: enhancement, non-trivial, backend, frontend

#5373 Fix: doc detail component fixes
  src-ui/messages.xlf
  src-ui/src/app/components/common/pdf-viewer/pdf-viewer.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: bug, enhancement, non-trivial, frontend

#5395 Fix: Catch new warning when loading the classifier
  src/documents/classifier.py
  src/documents/tests/data/v1.0.2.model.pickle
  src/documents/tests/data/v1.17.4.model.pickle
  src/documents/tests/test_classifier.py
Labels: bug

#5396 Fix: "shared by me" filter with multiple users / groups in postgres
  src/documents/filters.py
Labels: bug, backend, small-change

#5379 Enhancement / QoL: show selected tasks count
  src-ui/messages.xlf
  src-ui/src/app/components/admin/tasks/tasks.component.html
Labels: frontend

#5383 Feature: help tooltips
  src-ui/messages.xlf
  src-ui/src/app/components/admin/config/config.component.html
  src-ui/src/app/components/admin/logs/logs.component.html
  src-ui/src/app/components/admin/settings/settings.component.html
  src-ui/src/app/components/admin/tasks/tasks.component.html
  src-ui/src/app/components/admin/users-groups/users-groups.component.html
  src-ui/src/app/components/common/page-header/page-header.component.html
  src-ui/src/app/components/common/page-header/page-header.component.ts
  src-ui/src/app/components/manage/custom-fields/custom-fields.component.html
  src-ui/src/app/components/manage/custom-fields/custom-fields.component.spec.ts
  src-ui/src/app/components/manage/mail/mail.component.html
  src-ui/src/app/components/manage/workflows/workflows.component.html
  src-ui/src/app/components/manage/workflows/workflows.component.spec.ts
Labels: enhancement, non-trivial, frontend

#5424 Fix: signin username floating label
  src/documents/static/signin.css
Labels: bug, backend, small-change

#5414 Feature: Add additional caching support to suggestions and metadata
  src/documents/classifier.py
  src/documents/conditionals.py
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Labels: enhancement, non-trivial, backend

#5431 Fix: Getting next ASN when no documents have an ASN
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Labels: bug, non-trivial, backend

#5386 Enhancement: support remote user auth directly against API (DRF)
  docs/api.md
  src/paperless/auth.py
  src/paperless/settings.py
  src/paperless/tests/test_remote_user.py
Labels: enhancement, backend, small-change

#5433 Fix: dont lose permissions ui if owner changed from `null`
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: bug, non-trivial, frontend

#5403 Chore: better bootstrap icons
  src-ui/e2e/document-list/document-list.spec.ts
  src-ui/messages.xlf
  src-ui/package-lock.json
  src-ui/package.json
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/admin/config/config.component.html
  src-ui/src/app/components/admin/settings/settings.component.html
  src-ui/src/app/components/admin/tasks/tasks.component.html
  src-ui/src/app/components/admin/users-groups/users-groups.component.html
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.scss
  src-ui/src/app/components/common/clearable-badge/clearable-badge.component.html
  src-ui/src/app/components/common/clearable-badge/clearable-badge.component.scss
  src-ui/src/app/components/common/custom-fields-dropdown/custom-fields-dropdown.component.html
  src-ui/src/app/components/common/date-dropdown/date-dropdown.component.html
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.html
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.html
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.scss
  src-ui/src/app/components/common/filterable-dropdown/toggleable-dropdown-button/toggleable-dropdown-button.component.html
  src-ui/src/app/components/common/input/check/check.component.html
  src-ui/src/app/components/common/input/color/color.component.html
  src-ui/src/app/components/common/input/date/date.component.html
  src-ui/src/app/components/common/input/document-link/document-link.component.html
  src-ui/src/app/components/common/input/document-link/document-link.component.scss
  src-ui/src/app/components/common/input/file/file.component.html
  src-ui/src/app/components/common/input/number/number.component.html
  src-ui/src/app/components/common/input/password/password.component.html
  src-ui/src/app/components/common/input/select/select.component.html
  src-ui/src/app/components/common/input/switch/switch.component.html
  src-ui/src/app/components/common/input/tags/tags.component.html
  src-ui/src/app/components/common/input/text/text.component.html
  src-ui/src/app/components/common/input/url/url.component.html
  src-ui/src/app/components/common/page-header/page-header.component.html
  src-ui/src/app/components/common/permissions-filter-dropdown/permissions-filter-dropdown.component.html
  src-ui/src/app/components/common/preview-popup/preview-popup.component.html
  src-ui/src/app/components/common/preview-popup/preview-popup.component.spec.ts
  src-ui/src/app/components/common/profile-edit-dialog/profile-edit-dialog.component.html
  src-ui/src/app/components/common/share-links-dropdown/share-links-dropdown.component.html
  src-ui/src/app/components/common/toasts/toasts.component.html
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.html
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.html
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.scss
  src-ui/src/app/components/dashboard/widgets/widget-frame/widget-frame.component.html
  src-ui/src/app/components/dashboard/widgets/widget-frame/widget-frame.component.scss
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/metadata-collapse/metadata-collapse.component.html
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.html
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.html
  src-ui/src/app/components/document-notes/document-notes.component.html
  src-ui/src/app/components/manage/custom-fields/custom-fields.component.html
  src-ui/src/app/components/manage/mail/mail.component.html
  src-ui/src/app/components/manage/management-list/management-list.component.html
  src-ui/src/app/components/manage/workflows/workflows.component.html
  src-ui/src/app/components/not-found/not-found.component.html
  src-ui/src/assets/bootstrap-icons.svg
  src-ui/src/styles.scss
Labels: enhancement, non-trivial, frontend

#5450 Fix typo in bug report template
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: small-change, ci-cd

#5451 Fix: doc link removal when has never been assigned
  src/documents/serialisers.py
Labels: bug, backend, small-change

#5443 Chore: Close outdated support / general discussions
  .github/workflows/repo-maintenance.yml
Labels: non-trivial, ci-cd

#5457 Fix: Dont parse numbers with exponent as integer
  src-ui/src/app/components/common/input/number/number.component.spec.ts
  src-ui/src/app/components/common/input/number/number.component.ts
Labels: bug, frontend, small-change

#5475 Fix: render images not converted to pdf, refactor doc detail rendering
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.scss
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: bug, non-trivial, frontend

#5491 Lowercase stack name in docker-compose.portainer.yml
  docker/compose/docker-compose.portainer.yml
Labels: documentation, small-change

#5484 Documentation: update celery monitoring docker usage
  docs/advanced_usage.md
Labels: documentation, small-change, skip-changelog

#5496 Change: merge workflow permissions assignments instead of overwrite
  src/documents/permissions.py
  src/documents/signals/handlers.py
  src/documents/tests/test_workflows.py
Labels: non-trivial, backend, breaking-change

#5501 Chore: Build fix- branches
  .github/workflows/ci.yml
  .github/workflows/cleanup-tags.yml
Labels: small-change, ci-cd

#5516 Fix: enforce permissions for app config
  src-ui/src/app/app-routing.module.ts
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/services/permissions.service.spec.ts
  src-ui/src/app/services/permissions.service.ts
  src/paperless/views.py
Labels: bug, frontend, small-change

#5520 Fix: install script fails on alpine linux
  install-paperless-ngx.sh
Labels: bug, small-change

#5514 Fix: Minor frontend things in 2.4.0
  src-ui/src/app/components/common/edit-dialog/correspondent-edit-dialog/correspondent-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/custom-field-edit-dialog/custom-field-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/group-edit-dialog/group-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/mail-account-edit-dialog/mail-account-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/storage-path-edit-dialog/storage-path-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/tag-edit-dialog/tag-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.html
  src-ui/src/app/components/document-list/save-view-config-dialog/save-view-config-dialog.component.html
  src-ui/src/theme.scss
Labels: bug, frontend

#5534 Revert "Enhancement: support remote user auth directly against API (DRF)"
  docs/api.md
  src/paperless/auth.py
  src/paperless/settings.py
  src/paperless/tests/test_remote_user.py
Labels: backend, small-change, security

#5533 Documentation: change updating instructions
  docs/administration.md
Labels: documentation, small-change

#5546 Fix: tweak doc detail component behavior while awaiting metadata
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: bug, non-trivial, frontend

#5540 Fix: improve one of the date matching regexes
  src/documents/parsers.py
  src/documents/tests/test_date_parsing.py
Labels: bug, backend, small-change

#5557 Remove demo info, for now
  README.md
  docs/index.md
Labels: documentation, small-change

#5579 Fix: Ensure the scratch directory exists before consuming via the folder
  src/documents/management/commands/document_consumer.py
Labels: bug, backend, small-change

#5583 Documentation: Add docs about missing timezones in MySQL/MariaDB
  docs/advanced_usage.md
Labels: documentation, small-change
