Repository paperless-ngx/paperless-ngx, pull requests merged in 2024-05, with the labels that each got.

#6562 Chore(deps): Bump all allowed backend packages
  .pre-commit-config.yaml
  Pipfile
  Pipfile.lock
  gunicorn.conf.py
Labels: enhancement, small-change

#6568 Documentation: fix PAPERLESS_APP_TITLE config type
  docs/configuration.md
Labels: bug, documentation, small-change

#6577 Documentation: add link to list of hosting providers
  docs/setup.md
Labels: documentation, small-change, skip-changelog

#6589 Fix: bulk edit custom fields should support multiple items
  src-ui/messages.xlf
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.html
Labels: bug, non-trivial, frontend

#6594 Fix: saved views dont immediately display custom fields in table view
  src-ui/src/app/components/document-list/document-list.component.ts
Labels: bug, frontend, small-change

#6602 Fix: global search text illegible in light mode
  src-ui/src/app/components/app-frame/global-search/global-search.component.scss
Labels: frontend, small-change

#6608 Fix: exclude admin perms from group permissions serializer
  src/paperless/serialisers.py
Labels: bug, backend, small-change

#6611 Fix: dont use limit in subqueries for mariadb compatibility
  src/documents/views.py
Labels: bug, non-trivial, backend

#6600 Fix: table view doesnt immediately display custom fields on app startup
  src-ui/src/app/components/document-list/document-list.component.ts
  src-ui/src/app/services/document-list-view.service.spec.ts
  src-ui/src/app/services/document-list-view.service.ts
  src-ui/src/app/services/settings.service.ts
Labels: bug, non-trivial, frontend

#6616 Documentation: correct display of PAPERLESS_CONSUMER_TAG_BARCODE_MAPPING
  docs/configuration.md
Labels: documentation, small-change

#6615 Security: Disable `eval` in pdfjs
  src-ui/src/app/components/common/pdf-viewer/pdf-viewer.component.ts
Labels: frontend, small-change

#6620 Enhancement: show custom field name on cards if empty, add tooltip
  src-ui/messages.xlf
  src-ui/src/app/components/common/custom-field-display/custom-field-display.component.html
  src-ui/src/app/components/common/custom-field-display/custom-field-display.component.ts
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
Labels: non-trivial, frontend

#6625 Fix: allow bulk edit with existing fields
  src/documents/bulk_edit.py
Labels: bug, backend, small-change

#6626 Fix: make backend monetary validation accept unpadded decimals
  src-ui/src/app/components/common/input/monetary/monetary.component.ts
  src/documents/serialisers.py
  src/documents/tests/test_api_custom_fields.py
Labels: bug, backend, small-change

#6627 Fix: Restore the compression of static files for x86_64
  src/paperless/settings.py
Labels: bug, backend, small-change

#6638 Fix: Allow auditlog to be disabled
  src/documents/management/commands/document_exporter.py
  src/documents/serialisers.py
Labels: bug, backend, small-change

#6639 Chore(docs): Update the sample Compose file to latest database
  docker/compose/docker-compose.mariadb-tika.yml
  docker/compose/docker-compose.mariadb.yml
  docker/compose/docker-compose.portainer.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.postgres.yml
Labels: documentation, small-change

#6643 Fix: doc links and more illegible in light mode
  src-ui/src/app/components/common/custom-field-display/custom-field-display.component.html
  src-ui/src/app/components/common/input/drag-drop-select/drag-drop-select.component.html
  src-ui/src/theme.scss
Labels: bug, frontend, small-change

#6645 Fix: consistent monetary field display in list and cards
  src-ui/src/app/components/common/custom-field-display/custom-field-display.component.spec.ts
  src-ui/src/app/components/common/custom-field-display/custom-field-display.component.ts
Labels: bug, non-trivial, frontend

#6655 Fix: Downgrade and lock lxml
  Pipfile
  Pipfile.lock
Labels: bug, small-change

#6658 Fix: allow 0 in monetary field
  src-ui/src/app/components/common/input/monetary/monetary.component.spec.ts
  src-ui/src/app/components/common/input/monetary/monetary.component.ts
Labels: bug, non-trivial, frontend

#6661 Fix: respect superuser for document history
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Labels: bug, backend, small-change

#6670 Fix: only count inbox documents from inbox tags with permissions
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Labels: bug, non-trivial, backend

#6692 Enhancement: display current ASN in statistics
  src-ui/messages.xlf
  src-ui/src/app/components/dashboard/widgets/statistics-widget/statistics-widget.component.html
  src-ui/src/app/components/dashboard/widgets/statistics-widget/statistics-widget.component.spec.ts
  src-ui/src/app/components/dashboard/widgets/statistics-widget/statistics-widget.component.ts
  src/documents/views.py
Labels: non-trivial, frontend

#6696 Fix: history timestamp tooltip illegible in dark mode
  src-ui/src/app/components/document-history/document-history.component.html
Labels: bug, frontend, small-change

#6702 Security: Correctly disable `eval` in pdfjs
  src-ui/src/app/components/common/pdf-viewer/pdf-viewer.component.ts
Labels: bug, frontend, small-change

#6708 Fix: dont format ASN as number on dashboard
  src-ui/src/app/components/dashboard/widgets/statistics-widget/statistics-widget.component.html
Labels: bug, frontend, small-change

#6715 Fix: some buttons incorrectly aligned in 2.8.4
  src-ui/src/app/components/app-frame/global-search/global-search.component.scss
  src-ui/src/styles.scss
Labels: bug, frontend, small-change

#6726 Fix: global search filtering links broken in 2.8.4
  src-ui/src/app/components/app-frame/global-search/global-search.component.spec.ts
  src-ui/src/app/components/app-frame/global-search/global-search.component.ts
Labels: bug, non-trivial, frontend

#6728 Fix: restore search highlighting on large cards results
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
Labels: bug, frontend, small-change

#6737 Fix: retain sort field from global search filtering, use `FILTER_HAS_TAGS_ALL`
  src-ui/src/app/components/app-frame/global-search/global-search.component.spec.ts
  src-ui/src/app/components/app-frame/global-search/global-search.component.ts
Labels: bug, non-trivial, frontend

#6739 Security: disallow API remote-user auth if disabled
  src/paperless/auth.py
  src/paperless/tests/test_remote_user.py
Labels: bug, non-trivial, backend

#6755 Chore: Backend updates
  .pre-commit-config.yaml
  Pipfile
  Pipfile.lock
Labels: enhancement, small-change, dependencies

#6758 Fix: consistently use created_date for doc display
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
Labels: bug, frontend, small-change

#6756 Chore: Change the code formatter to Ruff
  .github/dependabot.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Pipfile
  Pipfile.lock
  docker/wait-for-redis.py
  docs/development.md
  src/documents/barcodes.py
  src/documents/bulk_edit.py
  src/documents/management/commands/document_importer.py
  src/documents/migrations/1045_alter_customfieldinstance_value_monetary.py
  src/documents/migrations/1046_workflowaction_remove_all_correspondents_and_more.py
  src/documents/migrations/1047_savedview_display_mode_and_more.py
  src/documents/migrations/1048_alter_savedviewfilterrule_rule_type.py
  src/documents/serialisers.py
  src/documents/tasks.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_consumer.py
  src/documents/tests/test_date_parsing.py
  src/documents/tests/test_file_handling.py
  src/documents/views.py
  src/paperless/migrations/0003_alter_applicationconfiguration_max_image_pixels.py
  src/paperless/settings.py
  src/paperless/tests/test_adapter.py
  src/paperless_mail/models.py
  src/paperless_mail/parsers.py
  src/paperless_tika/parsers.py
Labels: enhancement, non-trivial, backend

#6775 Enhancement: support custom logo / title on login page
  src/documents/context_processors.py
  src/documents/static/base.css
  src/documents/templates/paperless-ngx/base.html
  src/documents/templates/paperless-ngx/snippets/svg_leaf.html
  src/locale/en_US/LC_MESSAGES/django.po
Labels: enhancement, non-trivial, backend

#6802 Chore: Updates to the official Tika image
  docker/compose/docker-compose.ci-test.yml
  docker/compose/docker-compose.mariadb-tika.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.sqlite-tika.yml
  scripts/start_services.sh
Labels: small-change

#6806 Drop obsolete docker compose version
  docker/compose/docker-compose.ci-test.yml
  docker/compose/docker-compose.mariadb-tika.yml
  docker/compose/docker-compose.mariadb.yml
  docker/compose/docker-compose.portainer.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.postgres.yml
  docker/compose/docker-compose.sqlite-tika.yml
  docker/compose/docker-compose.sqlite.yml
Labels: bug, small-change

#6772 Enhancement: delete pages PDF action
  docs/api.md
  docs/usage.md
  src-ui/messages.xlf
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/common/confirm-dialog/delete-pages-confirm-dialog/delete-pages-confirm-dialog.component.html
  src-ui/src/app/components/common/confirm-dialog/delete-pages-confirm-dialog/delete-pages-confirm-dialog.component.scss
  src-ui/src/app/components/common/confirm-dialog/delete-pages-confirm-dialog/delete-pages-confirm-dialog.component.spec.ts
  src-ui/src/app/components/common/confirm-dialog/delete-pages-confirm-dialog/delete-pages-confirm-dialog.component.ts
  src-ui/src/app/components/common/confirm-dialog/rotate-confirm-dialog/rotate-confirm-dialog.component.html
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src/documents/bulk_edit.py
  src/documents/serialisers.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_bulk_edit.py
Labels: enhancement, non-trivial, backend, frontend

#6786 Enhancement: accessibility improvements for tags, doc links, dashboard views
  src-ui/messages.xlf
  src-ui/src/app/components/common/input/document-link/document-link.component.html
  src-ui/src/app/components/common/input/tags/tags.component.html
  src-ui/src/app/components/common/input/tags/tags.component.scss
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.html
Labels: non-trivial, frontend

#6792 Enhancement: only include correspondent 'last_correspondence' if requested
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/manage/correspondent-list/correspondent-list.component.ts
  src-ui/src/app/components/manage/management-list/management-list.component.ts
  src-ui/src/app/services/rest/abstract-name-filter-service.ts
  src/documents/serialisers.py
  src/documents/tests/test_api_objects.py
  src/documents/views.py
Labels: enhancement, non-trivial, backend, frontend

#6805 Enhancement: default to title/content search, allow choosing full search link from global search
  src-ui/messages.xlf
  src-ui/src/app/components/admin/settings/settings.component.html
  src-ui/src/app/components/admin/settings/settings.component.spec.ts
  src-ui/src/app/components/admin/settings/settings.component.ts
  src-ui/src/app/components/app-frame/global-search/global-search.component.html
  src-ui/src/app/components/app-frame/global-search/global-search.component.spec.ts
  src-ui/src/app/components/app-frame/global-search/global-search.component.ts
  src-ui/src/app/data/ui-settings.ts
Labels: enhancement, non-trivial, frontend

#6821 Documentation: add language configuration hint
  docs/configuration.md
Labels: documentation, small-change, skip-changelog

#6811 Chore(deps): Use psycopg as recommended
  Dockerfile
  Pipfile
  Pipfile.lock
  src/paperless/settings.py
Labels: backend, small-change, dependencies

#6849 Fix: Don't allow the workflow save to override other process updates
  src/documents/signals/handlers.py
Labels: bug, non-trivial, backend

#6854 Chore: Updates Ghostscript to 10.03.1
  Dockerfile
Labels: non-trivial, dependencies

#6858 Enhancement: Support custom path for the classification file
  docs/configuration.md
  src/paperless/settings.py
Labels: enhancement, backend, small-change
