Repository paperless-ngx/paperless-ngx, pull requests merged in 2024-04, with the labels that each got.

#6253 Fix: management list clear all should clear header checkbox
  src-ui/src/app/components/manage/management-list/management-list.component.html
  src-ui/src/app/components/manage/management-list/management-list.component.ts
Labels: bug, frontend, small-change

#6254 Fix: Hide sidebar labels if group is empty
  src-ui/messages.xlf
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.scss
Labels: bug, non-trivial, frontend

#6243 Fix: Escape the secret key when writing it to the env file
  install-paperless-ngx.sh
Labels: bug, small-change

#6267 Change: enable auditlog by default, fix import / export
  docs/configuration.md
  src/documents/management/commands/document_exporter.py
  src/documents/management/commands/document_importer.py
  src/documents/tests/test_management_exporter.py
  src/paperless/checks.py
  src/paperless/settings.py
  src/paperless/tests/test_checks.py
Labels: documentation, enhancement, non-trivial, backend, notable

#6275 Chore: Standardize subprocess running and logging
  src/documents/consumer.py
  src/documents/converters.py
  src/documents/parsers.py
  src/documents/tests/test_consumer.py
  src/documents/utils.py
  src/paperless_tesseract/parsers.py
Labels: enhancement, non-trivial, backend

#6302 Fix: split user / group objects error
  src/documents/data_models.py
Labels: bug, non-trivial, backend

#6306 Fix: Rotation fails due to celery chord
  src/documents/bulk_edit.py
  src/documents/tests/test_bulk_edit.py
Labels: bug, backend, small-change

#6303 Fix: Use correct custom field id when splitting
  src/documents/data_models.py
Labels: bug, backend, small-change

#6304 Fix: Only disable split button if pages = 1
  src-ui/src/app/components/document-detail/document-detail.component.html
Labels: bug, frontend, small-change

#6314 Fix: dont initialize page numbers, allow split with browser pdf viewer
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: bug, frontend, small-change

#6320 Fix: disable invalid create endpoints
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Labels: bug, non-trivial, backend

#6324 Fix: spacing in reset and incorrect display in saved views
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/document-list.component.ts
Labels: bug, frontend, small-change

#6323 Fix: select dropdown background colors not visible in light mode
  src-ui/src/styles.scss
  src-ui/src/theme.scss
Labels: bug, frontend, small-change

#6336 Fix: add timezone fallback to install script
  install-paperless-ngx.sh
Labels: deployment

#6358 Fix: Allow negative monetary values with a current code
  src-ui/src/app/components/common/input/monetary/monetary.component.ts
  src/documents/serialisers.py
Labels: bug, backend, frontend, small-change

#6359 Fix: Allow lowercase letters in monetary currency code field
  src-ui/src/app/components/common/input/monetary/monetary.component.ts
Labels: bug, frontend, small-change

#6364 Fix: dont dismiss active alerts on "dismiss completed"
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.spec.ts
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.ts
Labels: bug, frontend, small-change

#6376 Documentation: typo fixes in the configuration docs
  docs/configuration.md
Labels: documentation, small-change

#6380 Fix: remove admin.logentry perm, use admin (staff) status
  docs/usage.md
  src-ui/src/app/app-routing.module.ts
  src-ui/src/app/components/admin/settings/settings.component.html
  src-ui/src/app/components/admin/settings/settings.component.spec.ts
  src-ui/src/app/components/admin/settings/settings.component.ts
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/common/edit-dialog/user-edit-dialog/user-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/user-edit-dialog/user-edit-dialog.component.ts
  src-ui/src/app/guards/permissions.guard.ts
  src-ui/src/app/services/permissions.service.spec.ts
  src-ui/src/app/services/permissions.service.ts
  src/documents/permissions.py
  src/documents/tests/test_api_permissions.py
  src/documents/tests/test_api_uisettings.py
  src/documents/views.py
Labels: bug, non-trivial, backend, frontend, breaking-change

#6393 Fix: show message on empty group list
  src-ui/src/app/components/admin/users-groups/users-groups.component.html
Labels: bug, non-trivial, frontend

#6401 Documentation: Remove SQLite to Postgres in favor of export/import
  docs/setup.md
Labels: documentation, small-change

#6415 Enhancement: Hide columns in document list if user does not have permissions
  src-ui/messages.xlf
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/document-list.component.spec.ts
  src-ui/src/app/components/document-list/document-list.component.ts
Labels: non-trivial, frontend

#6361 Chore: Convert the consumer to a plugin
  paperless-ngx.code-workspace
  src-ui/src/app/services/consumer-status.service.ts
  src/documents/consumer.py
  src/documents/loggers.py
  src/documents/parsers.py
  src/documents/plugins/base.py
  src/documents/plugins/helpers.py
  src/documents/tasks.py
  src/documents/tests/test_barcodes.py
  src/documents/tests/test_consumer.py
  src/documents/tests/test_double_sided.py
  src/documents/tests/test_workflows.py
  src/documents/tests/utils.py
  src/paperless/settings.py
  src/paperless_mail/mail.py
Labels: enhancement, non-trivial, backend

#6423 Chore: Updates Docker bundled QPDF to 11.9.0
  Dockerfile
Labels: small-change, dependencies

#6362 Enhancement: improve layout, button labels for custom fields dropdown
  src-ui/messages.xlf
  src-ui/src/app/components/common/custom-fields-dropdown/custom-fields-dropdown.component.html
  src-ui/src/app/components/common/custom-fields-dropdown/custom-fields-dropdown.component.scss
  src-ui/src/app/components/common/custom-fields-dropdown/custom-fields-dropdown.component.spec.ts
  src-ui/src/app/components/common/input/select/select.component.html
  src-ui/src/app/components/common/input/select/select.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.scss
Labels: non-trivial, frontend

#6370 Enhancement: refactor monetary field
  src-ui/src/app/components/common/input/monetary/monetary.component.html
  src-ui/src/app/components/common/input/monetary/monetary.component.spec.ts
  src-ui/src/app/components/common/input/monetary/monetary.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
Labels: enhancement, non-trivial, frontend

#6444 Fix: password reset done template
  src/documents/templates/account/password_reset_from_key_done.html
Labels: bug, backend, small-change

#6460 Fix: use responsive tables for management lists
  src-ui/src/app/components/manage/management-list/management-list.component.html
Labels: bug, frontend, small-change

#6474 Fix: always check workflow `filter_mailrule` if set
  src/documents/matching.py
Labels: bug, backend, small-change

#6388 Feature: document history (audit log UI)
  Pipfile.lock
  docs/api.md
  docs/usage.md
  src-ui/messages.xlf
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/common/permissions-select/permissions-select.component.html
  src-ui/src/app/components/common/permissions-select/permissions-select.component.spec.ts
  src-ui/src/app/components/common/permissions-select/permissions-select.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-history/document-history.component.html
  src-ui/src/app/components/document-history/document-history.component.scss
  src-ui/src/app/components/document-history/document-history.component.spec.ts
  src-ui/src/app/components/document-history/document-history.component.ts
  src-ui/src/app/data/auditlog-entry.ts
  src-ui/src/app/data/ui-settings.ts
  src-ui/src/app/pipes/custom-date.pipe.spec.ts
  src-ui/src/app/pipes/custom-date.pipe.ts
  src-ui/src/app/services/permissions.service.ts
  src-ui/src/app/services/rest/document.service.spec.ts
  src-ui/src/app/services/rest/document.service.ts
  src-ui/src/app/services/settings.service.spec.ts
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_api_uisettings.py
  src/documents/tests/test_file_handling.py
  src/documents/views.py
  src/locale/en_US/LC_MESSAGES/django.po
Labels: enhancement, non-trivial, backend, frontend, notable

#6439 Feature: customizable fields display for documents, saved views & dashboard widgets
  src-ui/e2e/dashboard/requests/api-dashboard1.har
  src-ui/e2e/dashboard/requests/api-dashboard2.har
  src-ui/e2e/dashboard/requests/api-dashboard3.har
  src-ui/e2e/dashboard/requests/api-dashboard4.har
  src-ui/e2e/document-list/document-list.spec.ts
  src-ui/messages.xlf
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/admin/settings/settings.component.html
  src-ui/src/app/components/admin/settings/settings.component.spec.ts
  src-ui/src/app/components/admin/settings/settings.component.ts
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/common/custom-field-display/custom-field-display.component.html
  src-ui/src/app/components/common/custom-field-display/custom-field-display.component.scss
  src-ui/src/app/components/common/custom-field-display/custom-field-display.component.spec.ts
  src-ui/src/app/components/common/custom-field-display/custom-field-display.component.ts
  src-ui/src/app/components/common/input/drag-drop-select/drag-drop-select.component.html
  src-ui/src/app/components/common/input/drag-drop-select/drag-drop-select.component.scss
  src-ui/src/app/components/common/input/drag-drop-select/drag-drop-select.component.spec.ts
  src-ui/src/app/components/common/input/drag-drop-select/drag-drop-select.component.ts
  src-ui/src/app/components/dashboard/dashboard.component.html
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.html
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.scss
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.spec.ts
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.ts
  src-ui/src/app/components/dashboard/widgets/widget-frame/widget-frame.component.html
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.spec.ts
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.ts
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.spec.ts
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.ts
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/document-list.component.scss
  src-ui/src/app/components/document-list/document-list.component.spec.ts
  src-ui/src/app/components/document-list/document-list.component.ts
  src-ui/src/app/data/document.ts
  src-ui/src/app/data/saved-view.ts
  src-ui/src/app/services/consumer-status.service.spec.ts
  src-ui/src/app/services/document-list-view.service.spec.ts
  src-ui/src/app/services/document-list-view.service.ts
  src-ui/src/app/services/rest/custom-fields.service.ts
  src-ui/src/app/services/rest/document.service.spec.ts
  src-ui/src/app/services/rest/document.service.ts
  src-ui/src/app/services/settings.service.spec.ts
  src-ui/src/app/services/settings.service.ts
  src/documents/migrations/1047_savedview_display_mode_and_more.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
  src/locale/en_US/LC_MESSAGES/django.po
Labels: enhancement, non-trivial, backend, frontend, notable

#6484 Feature: custom fields filtering & bulk editing
  docker/docker-prepare.sh
  src-ui/e2e/document-list/document-list.spec.ts
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/common/date-dropdown/date-dropdown.component.html
  src-ui/src/app/components/common/date-dropdown/date-dropdown.component.ts
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.html
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.scss
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.spec.ts
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.html
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/components/document-list/document-list.component.spec.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
  src-ui/src/app/data/filter-rule-type.ts
  src-ui/src/app/services/rest/document.service.ts
  src/documents/bulk_edit.py
  src/documents/filters.py
  src/documents/index.py
  src/documents/migrations/1048_alter_savedviewfilterrule_rule_type.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_api_search.py
  src/documents/tests/test_bulk_edit.py
  src/documents/views.py
Labels: non-trivial, backend, frontend, notable

#6489 Chore: Hand craft SQL queries
  src/documents/barcodes.py
  src/documents/bulk_edit.py
  src/documents/caching.py
  src/documents/checks.py
  src/documents/classifier.py
  src/documents/conditionals.py
  src/documents/permissions.py
  src/documents/sanity_checker.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/views.py
Labels: non-trivial, backend
