Repository paperless-ngx/paperless-ngx, pull requests merged in 2024-07, with the labels that each got.

#7133 Fix: include documents in trash in sanity check
  src/documents/sanity_checker.py
Labels: bug, backend, small-change

#7158 Enhancement: show more columns in mail frontend admin
  src-ui/messages.xlf
  src-ui/src/app/components/manage/mail/mail.component.html
Labels: enhancement, non-trivial, frontend

#7176 Documentation: fix rapidfuzz link
  docs/advanced_usage.md
Labels: documentation, small-change, skip-changelog

#7110 Chore: Initial conversion to pytest fixtures
  Pipfile
  Pipfile.lock
  src/documents/parsers.py
  src/documents/tests/conftest.py
  src/documents/tests/test_date_parsing.py
  src/paperless_mail/parsers.py
  src/paperless_mail/tests/conftest.py
  src/paperless_mail/tests/test_live_mail.py
  src/paperless_mail/tests/test_parsers.py
  src/paperless_mail/tests/test_parsers_live.py
  src/paperless_text/parsers.py
  src/paperless_text/tests/conftest.py
  src/paperless_text/tests/test_parser.py
  src/paperless_tika/tests/conftest.py
  src/paperless_tika/tests/test_live_tika.py
  src/paperless_tika/tests/test_tika_parser.py
  src/paperless_tika/tests/utils.py
Labels: non-trivial, backend

#7189 Fix: include documents in trash for existing asn check
  src/documents/consumer.py
Labels: bug, backend, small-change

#7168 Feature: automatic sso redirect
  docs/advanced_usage.md
  docs/configuration.md
  src/documents/context_processors.py
  src/documents/templates/account/login.html
  src/documents/templates/paperless-ngx/base.html
  src/documents/templates/socialaccount/login.html
  src/paperless/settings.py
  src/paperless/tests/test_settings.py
Labels: enhancement, non-trivial, backend

#7167 Feature: select custom field type
  docs/usage.md
  src-ui/messages.xlf
  src-ui/src/app/components/common/custom-field-display/custom-field-display.component.html
  src-ui/src/app/components/common/custom-field-display/custom-field-display.component.spec.ts
  src-ui/src/app/components/common/custom-field-display/custom-field-display.component.ts
  src-ui/src/app/components/common/edit-dialog/custom-field-edit-dialog/custom-field-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/custom-field-edit-dialog/custom-field-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/custom-field-edit-dialog/custom-field-edit-dialog.component.ts
  src-ui/src/app/components/common/input/select/select.component.spec.ts
  src-ui/src/app/components/common/input/select/select.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/data/custom-field.ts
  src/documents/migrations/1050_customfield_extra_data_and_more.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tests/test_api_custom_fields.py
Labels: enhancement, non-trivial, backend, frontend

#7134 Chore: upgrade to DRF 3.15
  .github/dependabot.yml
  Pipfile
  Pipfile.lock
  src/documents/migrations/1051_alter_correspondent_owner_alter_document_owner_and_more.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tests/test_migration_workflows.py
  src/paperless_mail/migrations/0025_alter_mailaccount_owner_alter_mailrule_owner_and_more.py
Labels: enhancement, non-trivial, backend

#7199 Enhancement: support custom field icontains filter for select type
  src/documents/filters.py
  src/documents/tests/test_api_documents.py
Labels: enhancement, non-trivial, backend

#7209 Chore: Bulk backend updates
  .pre-commit-config.yaml
  .python-version
  Dockerfile
  Pipfile
  Pipfile.lock
Labels: backend, small-change, dependencies

#7216 Enhancement: wrapping of saved view fields d-n-d UI
  src-ui/package-lock.json
  src-ui/src/app/components/admin/settings/settings.component.html
  src-ui/src/app/components/common/input/drag-drop-select/drag-drop-select.component.html
  src-ui/src/app/components/common/input/drag-drop-select/drag-drop-select.component.scss
Labels: enhancement, frontend, small-change

#7215 Enhancement: disable add split button when approrpriate
  src-ui/src/app/components/common/confirm-dialog/split-confirm-dialog/split-confirm-dialog.component.html
  src-ui/src/app/components/common/confirm-dialog/split-confirm-dialog/split-confirm-dialog.component.spec.ts
  src-ui/src/app/components/common/confirm-dialog/split-confirm-dialog/split-confirm-dialog.component.ts
Labels: enhancement, non-trivial, frontend

#7229 Fix: include trashed docs in existing doc check
  src/documents/consumer.py
Labels: bug, backend, small-change

#7246 Fix: Removes Turkish from the NLTK languages
  src/paperless/settings.py
Labels: bug, backend, small-change

#7255 Fix: use responsive table for compatibility with custom columns
  src-ui/messages.xlf
  src-ui/src/app/components/document-list/document-list.component.html
Labels: bug, non-trivial, frontend

#7275 Chore: Use self-documenting long options in Docker startup
  docker/docker-entrypoint.sh
  docker/docker-prepare.sh
Labels: non-trivial

#7270 Enhancement: include owner username in post-consumption variables
  docs/advanced_usage.md
  scripts/post-consumption-example.sh
  src/documents/consumer.py
Labels: enhancement, backend, small-change

#7281 Fix: support multiple inbox tags from stats widget
  src-ui/e2e/dashboard/dashboard.spec.ts
  src-ui/e2e/dashboard/requests/api-dashboard1.har
  src-ui/e2e/dashboard/requests/api-dashboard2.har
  src-ui/e2e/dashboard/requests/api-dashboard3.har
  src-ui/e2e/dashboard/requests/api-dashboard4.har
  src-ui/src/app/components/dashboard/widgets/statistics-widget/statistics-widget.component.spec.ts
  src-ui/src/app/components/dashboard/widgets/statistics-widget/statistics-widget.component.ts
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Labels: bug, non-trivial, backend, frontend

#7303 Fix: increase search input text contrast with light custom theme colors
  src-ui/src/theme.scss
Labels: frontend, small-change

#7309 Documentation: clarify some global permissions details
  docs/usage.md
  mkdocs.yml
Labels: documentation, small-change

#7310 Chore: add permissions info link from webUI
  src-ui/messages.xlf
  src-ui/src/app/components/common/permissions-select/permissions-select.component.html
Labels: enhancement, non-trivial, frontend

#7334 Chore: more clearly handle init permissions error
  src-ui/messages.xlf
  src-ui/src/app/components/dashboard/dashboard.component.html
  src-ui/src/app/services/settings.service.spec.ts
  src-ui/src/app/services/settings.service.ts
Labels: enhancement, non-trivial, frontend

#7342 Fix: use entire document for dropzone
  src-ui/src/app/components/file-drop/file-drop.component.ts
Labels: bug, frontend, small-change

#7338 Documentation: correct nltk data path
  docs/setup.md
Labels: documentation, small-change, skip-changelog
