Repository paperless-ngx/paperless-ngx, pull requests merged in 2024-08, with the labels that each got.

#7401 Fix: disable inline create buttons if insufficient permissions
  src-ui/messages.xlf
  src-ui/src/app/components/common/input/tags/tags.component.html
  src-ui/src/app/components/common/input/tags/tags.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.scss
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: bug, non-trivial, frontend

#7355 Enhancement: specify when pre-check fails for documents in trash
  src-ui/messages.xlf
  src-ui/src/app/services/consumer-status.service.ts
  src/documents/consumer.py
  src/documents/tests/test_consumer.py
Labels: enhancement, non-trivial, backend, frontend

#7381 Enhancement: allow specifying default currency for Monetary custom field
  src-ui/messages.xlf
  src-ui/src/app/components/common/custom-field-display/custom-field-display.component.spec.ts
  src-ui/src/app/components/common/custom-field-display/custom-field-display.component.ts
  src-ui/src/app/components/common/edit-dialog/custom-field-edit-dialog/custom-field-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/custom-field-edit-dialog/custom-field-edit-dialog.component.ts
  src-ui/src/app/components/common/input/monetary/monetary.component.spec.ts
  src-ui/src/app/components/common/input/monetary/monetary.component.ts
  src-ui/src/app/components/common/input/text/text.component.html
  src-ui/src/app/components/common/input/text/text.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/data/custom-field.ts
  src/documents/serialisers.py
  src/documents/tests/test_api_custom_fields.py
Labels: enhancement, non-trivial, backend, frontend

#7402 Enhancement: optimize tasks / stats reload
  src-ui/messages.xlf
  src-ui/src/app/components/dashboard/widgets/statistics-widget/statistics-widget.component.spec.ts
  src-ui/src/app/components/dashboard/widgets/statistics-widget/statistics-widget.component.ts
  src-ui/src/app/services/tasks.service.spec.ts
  src-ui/src/app/services/tasks.service.ts
Labels: enhancement, non-trivial, frontend

#7438 Fix: updated status task_id retrieval
  src-ui/src/app/services/upload-documents.service.ts
Labels: bug, frontend, small-change

#7477 Documentation: add no-progress-bar option to importer/exporter
  docs/administration.md
Labels: documentation, skip-changelog

#7501 Fix: respect deskew / rotate pages from AppConfig if set
  src/paperless/config.py
Labels: bug, backend, small-change

#7520 Fix: revert upgrade and lock nltk
  Pipfile
  Pipfile.lock
Labels: bug, small-change

#7505 Refactor: Reduce number of SQL queries when serializing List[Document]
  src/documents/serialisers.py
Labels: non-trivial, backend

#7507 Refactor: Use django-filter logic for filtering full text search queries
  src/documents/index.py
  src/documents/tests/test_api_search.py
  src/documents/tests/test_delayedquery.py
  src/documents/views.py
Labels: non-trivial, backend

#5524 Enhancement: allow multiple filename attachment exclusion patterns for a mail rule
  docs/usage.md
  src/paperless_mail/mail.py
  src/paperless_mail/tests/test_mail.py
Labels: enhancement, non-trivial, backend

#7567 Fix: update ng-bootstrap to fix datepicker bug
  src-ui/package-lock.json
  src-ui/package.json
Labels: bug, frontend, small-change

#7572 Fix: correct select field wrapping with long text
  src-ui/src/app/components/common/input/select/select.component.scss
Labels: bug, frontend, small-change

#7456 Enhancement: mail message preprocessor for gpg encrypted mails
  Dockerfile
  docs/advanced_usage.md
  docs/configuration.md
  src/paperless/settings.py
  src/paperless_mail/mail.py
  src/paperless_mail/preprocessor.py
  src/paperless_mail/tests/test_mail.py
  src/paperless_mail/tests/test_preprocessor.py
Labels: non-trivial, backend

#7573 Enhancement: add Korean language
  src-ui/angular.json
  src-ui/messages.xlf
  src-ui/setup-jest.ts
  src-ui/src/app/app.module.ts
  src-ui/src/app/services/settings.service.ts
  src/locale/en_US/LC_MESSAGES/django.po
  src/paperless/settings.py
Labels: enhancement, non-trivial, backend, frontend

#7584 Fix: saved view sidebar heading not always visible
  src-ui/messages.xlf
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/services/rest/saved-view.service.spec.ts
  src-ui/src/app/services/rest/saved-view.service.ts
Labels: bug, frontend

#7592 Fix: deselect file tasks select all button on dismiss
  src-ui/src/app/components/admin/tasks/tasks.component.ts
Labels: frontend, small-change

#7591 Fix: fix non-clickable scroll wheel in file uploads list
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.html
Labels: bug, frontend, small-change

#7589 Feature: enhance custom field search API
  docs/api.md
  paperless.conf.example
  src/documents/filters.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tests/test_api_filter_by_custom_fields.py
  src/paperless/settings.py
Labels: documentation, enhancement, non-trivial, backend

#7586 Documentation: support use system preferences for light/dark mode
  mkdocs.yml
Labels: small-change, skip-changelog
