Repository paperless-ngx/paperless-ngx, pull requests merged in 2024-03, with the labels that each got.

#5962 Fix: always pass `remove_inbox_tags` from UI, dont require in API
  src-ui/src/app/services/rest/document.service.ts
  src/documents/serialisers.py
Labels: bug, backend, frontend, small-change

#5976 Fix: refactor base path settings, correct logout redirect
  src/paperless/settings.py
  src/paperless/tests/test_settings.py
Labels: bug, non-trivial, backend

#5743 Feature: system status
  Dockerfile
  src-ui/angular.json
  src-ui/messages.xlf
  src-ui/package-lock.json
  src-ui/package.json
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/admin/settings/settings.component.html
  src-ui/src/app/components/admin/settings/settings.component.spec.ts
  src-ui/src/app/components/admin/settings/settings.component.ts
  src-ui/src/app/components/common/system-status-dialog/system-status-dialog.component.html
  src-ui/src/app/components/common/system-status-dialog/system-status-dialog.component.scss
  src-ui/src/app/components/common/system-status-dialog/system-status-dialog.component.spec.ts
  src-ui/src/app/components/common/system-status-dialog/system-status-dialog.component.ts
  src-ui/src/app/data/system-status.ts
  src-ui/src/app/services/system-status.service.spec.ts
  src-ui/src/app/services/system-status.service.ts
  src/documents/tests/test_api_status.py
  src/documents/views.py
  src/paperless/urls.py
Labels: enhancement, non-trivial, backend, frontend

#5996 Feature: Allow a user to disable the pixel limit for OCR entirely
  docs/advanced_usage.md
  docs/configuration.md
  src/paperless/migrations/0003_alter_applicationconfiguration_max_image_pixels.py
  src/paperless/models.py
  src/paperless_tesseract/parsers.py
Labels: enhancement, backend, small-change

#6003 Enhancement: show ID when editing objects
  src-ui/messages.xlf
  src-ui/src/app/components/common/edit-dialog/correspondent-edit-dialog/correspondent-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/custom-field-edit-dialog/custom-field-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/document-type-edit-dialog/document-type-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/group-edit-dialog/group-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/mail-account-edit-dialog/mail-account-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/storage-path-edit-dialog/storage-path-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/tag-edit-dialog/tag-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/user-edit-dialog/user-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.html
Labels: non-trivial, frontend

#5997 Feature: Allow user to control PIL image pixel limit
  docs/configuration.md
  src/documents/barcodes.py
  src/documents/converters.py
  src/documents/utils.py
  src/paperless/settings.py
  src/paperless_tesseract/parsers.py
  src/paperless_tesseract/tests/test_parser.py
Labels: enhancement, non-trivial, backend

#6005 Chore: Rest of the backend updates
  Pipfile.lock
Labels: small-change

#6008 Change: tweaks to system status
  src-ui/messages.xlf
  src-ui/src/app/components/common/system-status-dialog/system-status-dialog.component.html
  src-ui/src/app/components/common/system-status-dialog/system-status-dialog.component.ts
  src-ui/src/app/data/system-status.ts
  src/documents/tests/test_api_status.py
  src/documents/views.py
Labels: non-trivial, backend

#5993 Documentation: add additional information about Django admin remaining accessible with `PAPERLESS_DISABLE_REGULAR_LOGIN`
  docs/configuration.md
Labels: documentation, small-change

#6020 Enhancement: better detection of default currency code
  src-ui/src/app/components/common/input/monetary/monetary.component.spec.ts
  src-ui/src/app/components/common/input/monetary/monetary.component.ts
Labels: non-trivial, frontend

#6033 Enhancement: move and rename files when storage paths deleted, update file handling docs
  docs/advanced_usage.md
  docs/configuration.md
  src/documents/tests/test_api_objects.py
  src/documents/views.py
Labels: documentation, enhancement, non-trivial, backend

#6054 Fix: missing translation string
  src-ui/messages.xlf
  src-ui/src/app/components/common/system-status-dialog/system-status-dialog.component.html
Labels: frontend, small-change

#6059 Change: dont require empty bulk edit parameters
  src/documents/serialisers.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_bulk_edit.py
Labels: bug, non-trivial, backend

#6057 Documentation: correct bulk edit documents endpoint
  docs/api.md
Labels: documentation, small-change, skip-changelog

#6046 Documentation: improve permissions docs
  docs/usage.md
Labels: documentation, small-change, skip-changelog

#6104 Change: remove credentials from redis url in system status
  src/documents/tests/test_api_status.py
  src/documents/views.py
Labels: non-trivial, backend

#6105 Fix: allow setting allauth `ACCOUNT_SESSION_REMEMBER`
  docs/configuration.md
  src/paperless/settings.py
Labels: bug, documentation, backend, small-change

#6150 Fix: catch sessionStorage errors for large documents
  src-ui/setup-jest.ts
  src-ui/src/app/services/open-documents.service.spec.ts
  src-ui/src/app/services/open-documents.service.ts
Labels: bug, non-trivial, frontend

#6142 Enhancement: always place search term first in autocomplete results
  src/documents/index.py
  src/documents/tests/test_api_search.py
Labels: enhancement, non-trivial, backend

#6175 Fix: document_renamer fails with audit_log enabled
  src/documents/management/commands/document_renamer.py
Labels: bug, backend, small-change

#6184 Fix: allow scroll long upload files alerts list
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.html
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.scss
Labels: bug, frontend, small-change

#6094 Feature: PDF actions - merge, split & rotate
  docs/api.md
  docs/usage.md
  src-ui/messages.xlf
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/common/confirm-dialog/merge-confirm-dialog/merge-confirm-dialog.component.html
  src-ui/src/app/components/common/confirm-dialog/merge-confirm-dialog/merge-confirm-dialog.component.scss
  src-ui/src/app/components/common/confirm-dialog/merge-confirm-dialog/merge-confirm-dialog.component.spec.ts
  src-ui/src/app/components/common/confirm-dialog/merge-confirm-dialog/merge-confirm-dialog.component.ts
  src-ui/src/app/components/common/confirm-dialog/rotate-confirm-dialog/rotate-confirm-dialog.component.html
  src-ui/src/app/components/common/confirm-dialog/rotate-confirm-dialog/rotate-confirm-dialog.component.scss
  src-ui/src/app/components/common/confirm-dialog/rotate-confirm-dialog/rotate-confirm-dialog.component.spec.ts
  src-ui/src/app/components/common/confirm-dialog/rotate-confirm-dialog/rotate-confirm-dialog.component.ts
  src-ui/src/app/components/common/confirm-dialog/split-confirm-dialog/split-confirm-dialog.component.html
  src-ui/src/app/components/common/confirm-dialog/split-confirm-dialog/split-confirm-dialog.component.scss
  src-ui/src/app/components/common/confirm-dialog/split-confirm-dialog/split-confirm-dialog.component.spec.ts
  src-ui/src/app/components/common/confirm-dialog/split-confirm-dialog/split-confirm-dialog.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.html
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src/documents/bulk_edit.py
  src/documents/caching.py
  src/documents/data_models.py
  src/documents/serialisers.py
  src/documents/signals/handlers.py
  src/documents/tasks.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_bulk_edit.py
  src/documents/views.py
Labels: enhancement, non-trivial, backend, frontend, notable

#6200 Chore: Lock DRF to 3.14
  .pre-commit-config.yaml
  Pipfile
  Pipfile.lock
Labels: small-change

#6209 Documentation: document_importer does not directly support zip archives
  docs/administration.md
Labels: documentation, small-change

#6217 Enhancement: add ASN to consume rejection message
  src/documents/consumer.py
Labels: backend, small-change

#6222 Enhancement: support custom fields in post_document endpoint
  docs/api.md
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Labels: documentation, non-trivial, backend
