Repository paperless-ngx/paperless-ngx, pull requests merged in 2024-06, with the labels that each got.

#6871 Feature: Allow a data only export/import cycle
  docs/administration.md
  src/documents/management/commands/document_exporter.py
  src/documents/management/commands/document_importer.py
  src/documents/tests/test_management_exporter.py
  src/documents/tests/test_management_importer.py
  src/documents/tests/utils.py
Labels: documentation, enhancement, non-trivial, backend

#6875 Fix: including ordering param for id__in retrievals
  src-ui/src/app/components/common/custom-field-display/custom-field-display.component.spec.ts
  src-ui/src/app/components/common/custom-field-display/custom-field-display.component.ts
  src-ui/src/app/components/common/input/document-link/document-link.component.spec.ts
  src-ui/src/app/components/common/input/document-link/document-link.component.ts
  src-ui/src/app/services/rest/abstract-paperless-service.spec.ts
  src-ui/src/app/services/rest/abstract-paperless-service.ts
Labels: bug, non-trivial, frontend

#6883 Documentation: Cleanup a few sections
  docs/administration.md
  docs/api.md
  docs/setup.md
Labels: documentation, small-change

#6884 Development: Recommends a few extensions in the VSCode workspace
  paperless-ngx.code-workspace
Labels: small-change

#6892 Chore: Backend dependencies update
  .pre-commit-config.yaml
  Pipfile.lock
Labels: small-change, dependencies

#6902 Chore: Resolves some issues with Python 3.12
  src/documents/consumer.py
  src/documents/tests/test_api_app_config.py
  src/paperless/tests/test_settings.py
Labels: non-trivial, backend

#6913 Enhancement: use note model permissions for notes
  src/documents/permissions.py
  src/documents/views.py
Labels: non-trivial, backend

#6940 Enhancement: allow consumption of odg files
  src/paperless_tika/signals.py
Labels: enhancement, backend, small-change

#6927 Feature: Allow encrypting sensitive fields in export
  docs/administration.md
  src/documents/management/commands/document_exporter.py
  src/documents/management/commands/document_importer.py
  src/documents/management/commands/mixins.py
  src/documents/settings.py
  src/documents/tests/test_management_exporter.py
  src/documents/tests/test_management_importer.py
  src/setup.cfg
Labels: enhancement, non-trivial, backend

#6958 Fix: respect model permissions for tasks API endpoint
  src/documents/views.py
Labels: bug, backend, small-change

#6956 Chore: Updates to latest Trixie version of Ghostscript 10.03.1
  Dockerfile
Labels: small-change, dependencies

#6967 Chore: Configures dependabot to ignore djangorestframework
  .github/dependabot.yml
Labels: small-change, ci-cd

#6970 Chore: update packages used by mail parser html template
  .gitignore
  src/paperless_mail/templates/package-lock.json
  src/paperless_mail/templates/package.json
Labels: non-trivial, backend, dependencies

#6981 Fix: Revert masking the content field from auditlog
  src/documents/models.py
Labels: bug, backend, small-change

#6990 Fix: use local pdf worker js
  src-ui/src/app/app.component.ts
Labels: bug, frontend, small-change

#6989 Fix: Document history could include extra fields
  src-ui/src/app/components/document-history/document-history.component.html
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Labels: bug, non-trivial, backend

#6982 Fix: default order of documents gets lost in QuerySet pipeline
  src/documents/tests/test_api_permissions.py
  src/documents/views.py
Labels: backend, small-change

#6995 Documentation: Corrections and clarifications for Python support
  CONTRIBUTING.md
  docs/development.md
  docs/setup.md
Labels: documentation, small-change

#7001 Enhancement: better boolean custom field display
  src-ui/src/app/components/common/custom-field-display/custom-field-display.component.html
Labels: enhancement, frontend, small-change

#6944 Feature: documents trash aka soft delete
  Pipfile
  Pipfile.lock
  docs/configuration.md
  docs/usage.md
  paperless.conf.example
  src-ui/messages.xlf
  src-ui/src/app/app-routing.module.ts
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/admin/settings/settings.component.html
  src-ui/src/app/components/admin/trash/trash.component.html
  src-ui/src/app/components/admin/trash/trash.component.scss
  src-ui/src/app/components/admin/trash/trash.component.spec.ts
  src-ui/src/app/components/admin/trash/trash.component.ts
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/common/confirm-dialog/confirm-dialog.component.spec.ts
  src-ui/src/app/components/common/confirm-dialog/confirm-dialog.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/data/document.ts
  src-ui/src/app/data/ui-settings.ts
  src-ui/src/app/services/trash.service.spec.ts
  src-ui/src/app/services/trash.service.ts
  src/documents/migrations/1049_document_deleted_at_document_restored_at.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/signals/handlers.py
  src/documents/tasks.py
  src/documents/tests/test_api_trash.py
  src/documents/tests/test_api_uisettings.py
  src/documents/tests/test_document_model.py
  src/documents/tests/test_file_handling.py
  src/documents/tests/test_tasks.py
  src/documents/views.py
  src/paperless/checks.py
  src/paperless/settings.py
  src/paperless/tests/test_settings.py
  src/paperless/urls.py
Labels: enhancement, non-trivial, backend, frontend

#7048 Fix: Prefer the exporter metadata JSON file over the version JSON file
  src/documents/management/commands/document_importer.py
Labels: bug, backend, small-change

#7056 Fix: Safari browser PDF viewer not loading in 2.10.x
  src-ui/src/app/components/document-detail/document-detail.component.html
Labels: bug, frontend, small-change

#7057 Fix: index fresh document data after update archive file
  src/documents/tasks.py
Labels: bug, backend, small-change

#7067 Fix: correct frontend retrieval of trash delay setting
  src-ui/src/app/data/ui-settings.ts
Labels: bug, frontend, small-change

#7079 Fix: always update document modified property on bulk edit operations
  src/documents/signals/handlers.py
  src/documents/tests/test_file_handling.py
Labels: bug, non-trivial, backend

#7105 Fix: use temp dir for split / merge
  src/documents/bulk_edit.py
Labels: bug, backend, small-change

#7111 Fix: dont include documents in trash in counts
  src/documents/views.py
Labels: bug, backend, small-change

#7094 Feature: Upgrade Gotenberg to v8
  Pipfile.lock
  docker/compose/docker-compose.ci-test.yml
  docker/compose/docker-compose.mariadb-tika.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.sqlite-tika.yml
  src/paperless_mail/parsers.py
  src/paperless_tika/parsers.py
  src/paperless_tika/tests/test_tika_parser.py
Labels: enhancement

#7102 Feature: improve history display of object names etc
  src-ui/src/app/components/document-history/document-history.component.html
  src-ui/src/app/components/document-history/document-history.component.spec.ts
  src-ui/src/app/components/document-history/document-history.component.ts
Labels: enhancement, non-trivial, frontend

#7083 Chore: show docker tag in UI for ci test builds
  .github/workflows/ci.yml
  Dockerfile
Labels: enhancement, non-trivial, ci-cd

#7100 Enhancement: improve date parsing with accented characters
  src/documents/parsers.py
  src/documents/tests/test_date_parsing.py
Labels: enhancement, backend, small-change

#7119 Fix: handle errors for trash actions and only show documents user can restore or delete
  src-ui/messages.xlf
  src-ui/src/app/components/admin/trash/trash.component.spec.ts
  src-ui/src/app/components/admin/trash/trash.component.ts
  src/documents/filters.py
  src/documents/tests/test_api_trash.py
  src/documents/views.py
Labels: bug, non-trivial, backend, frontend

#7122 Chore: Ignores DRF 3.15.2
  .github/dependabot.yml
Labels: small-change, ci-cd

#7112 Enhancement: use request user as owner of split / merge docs
  src/documents/bulk_edit.py
  src/documents/tests/test_api_bulk_edit.py
  src/documents/tests/test_bulk_edit.py
  src/documents/views.py
Labels: enhancement, non-trivial, backend

#7041 Development: Add VS Code Devcontainer Configuration
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.devcontainer.sqlite-tika.yml
  .devcontainer/vscode/launch.json
  .devcontainer/vscode/settings.json
  .devcontainer/vscode/tasks.json
  .gitignore
Labels: non-trivial
