Repository paperless-ngx/paperless-ngx, pull requests merged in 2024-12, with the labels that each got.

#8398 Documentation: fix docker hub image name in installation guide
  docs/setup.md
Labels: documentation, small-change

#8196 Enhancement: History (audit log) for bulk edit operations
  src/documents/tests/test_api_bulk_edit.py
  src/documents/views.py
Labels: non-trivial, backend

#8087 Enhancement: native TIFF display
  src-ui/package-lock.json
  src-ui/package.json
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.scss
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: enhancement, non-trivial, frontend

#8299 Enhancement: use stable unique IDs for custom field select options
  src-ui/src/app/components/common/custom-field-display/custom-field-display.component.spec.ts
  src-ui/src/app/components/common/custom-field-display/custom-field-display.component.ts
  src-ui/src/app/components/common/custom-fields-query-dropdown/custom-fields-query-dropdown.component.html
  src-ui/src/app/components/common/custom-fields-query-dropdown/custom-fields-query-dropdown.component.spec.ts
  src-ui/src/app/components/common/custom-fields-query-dropdown/custom-fields-query-dropdown.component.ts
  src-ui/src/app/components/common/edit-dialog/custom-field-edit-dialog/custom-field-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/custom-field-edit-dialog/custom-field-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/custom-field-edit-dialog/custom-field-edit-dialog.component.ts
  src-ui/src/app/components/common/input/select/select.component.spec.ts
  src-ui/src/app/components/common/input/select/select.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/data/custom-field.ts
  src/documents/filters.py
  src/documents/management/commands/document_importer.py
  src/documents/migrations/1059_alter_customfieldinstance_value_select.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/signals/handlers.py
  src/documents/templating/filepath.py
  src/documents/tests/test_api_custom_fields.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_api_filter_by_custom_fields.py
  src/documents/tests/test_file_handling.py
  src/documents/tests/test_migration_custom_field_selects.py
Labels: enhancement, non-trivial, backend, frontend

#8108 Feature: email, webhook workflow actions
  docs/usage.md
  src-ui/messages.xlf
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.ts
  src-ui/src/app/components/common/input/entries/entries.component.html
  src-ui/src/app/components/common/input/entries/entries.component.scss
  src-ui/src/app/components/common/input/entries/entries.component.spec.ts
  src-ui/src/app/components/common/input/entries/entries.component.ts
  src-ui/src/app/data/workflow-action.ts
  src/documents/consumer.py
  src/documents/context_processors.py
  src/documents/migrations/1059_workflowactionemail_workflowactionwebhook_and_more.py
  src/documents/migrations/1060_alter_customfieldinstance_value_select.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/signals/handlers.py
  src/documents/templating/workflows.py
  src/documents/tests/test_api_workflows.py
  src/documents/tests/test_migration_custom_field_selects.py
  src/documents/tests/test_workflows.py
  src/locale/en_US/LC_MESSAGES/django.po
  src/paperless/settings.py
Labels: enhancement, non-trivial, backend, frontend

#8319 Enhancement: include current filename placeholder in workflows
  docs/usage.md
  src/documents/consumer.py
  src/documents/serialisers.py
  src/documents/signals/handlers.py
  src/documents/templating/workflows.py
Labels: backend, small-change

#8415 Enhancement: auto-link duplicate document
  src/documents/serialisers.py
  src/documents/tests/test_api_tasks.py
Labels: non-trivial, backend

#8421 Enhancement: file task filtering
  src-ui/messages.xlf
  src-ui/src/app/components/admin/tasks/tasks.component.html
  src-ui/src/app/components/admin/tasks/tasks.component.scss
  src-ui/src/app/components/admin/tasks/tasks.component.spec.ts
  src-ui/src/app/components/admin/tasks/tasks.component.ts
Labels: non-trivial, frontend

#8423 Change: make saved views manage its own component
  src-ui/e2e/admin/settings.spec.ts
  src-ui/messages.xlf
  src-ui/src/app/app-routing.module.ts
  src-ui/src/app/app.component.ts
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/admin/settings/settings.component.html
  src-ui/src/app/components/admin/settings/settings.component.spec.ts
  src-ui/src/app/components/admin/settings/settings.component.ts
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/manage/saved-views/saved-views.component.html
  src-ui/src/app/components/manage/saved-views/saved-views.component.scss
  src-ui/src/app/components/manage/saved-views/saved-views.component.spec.ts
  src-ui/src/app/components/manage/saved-views/saved-views.component.ts
Labels: non-trivial, frontend

#8424 Documentation: add search caveat when using MariaDB
  docs/advanced_usage.md
Labels: documentation, skip-changelog

#8435 Enhancement: improved loading visuals
  src-ui/messages.xlf
  src-ui/src/app/components/admin/trash/trash.component.html
  src-ui/src/app/components/admin/trash/trash.component.scss
  src-ui/src/app/components/admin/trash/trash.component.spec.ts
  src-ui/src/app/components/admin/trash/trash.component.ts
  src-ui/src/app/components/dashboard/dashboard.component.html
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.html
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.scss
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.spec.ts
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.ts
  src-ui/src/app/components/dashboard/widgets/statistics-widget/statistics-widget.component.html
  src-ui/src/app/components/dashboard/widgets/widget-frame/widget-frame.component.html
  src-ui/src/app/components/dashboard/widgets/widget-frame/widget-frame.component.scss
  src-ui/src/app/components/dashboard/widgets/widget-frame/widget-frame.component.spec.ts
  src-ui/src/app/components/dashboard/widgets/widget-frame/widget-frame.component.ts
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
  src-ui/src/app/components/manage/correspondent-list/correspondent-list.component.ts
  src-ui/src/app/components/manage/custom-fields/custom-fields.component.html
  src-ui/src/app/components/manage/custom-fields/custom-fields.component.scss
  src-ui/src/app/components/manage/custom-fields/custom-fields.component.spec.ts
  src-ui/src/app/components/manage/custom-fields/custom-fields.component.ts
  src-ui/src/app/components/manage/mail/mail.component.html
  src-ui/src/app/components/manage/mail/mail.component.scss
  src-ui/src/app/components/manage/mail/mail.component.spec.ts
  src-ui/src/app/components/manage/mail/mail.component.ts
  src-ui/src/app/components/manage/management-list/management-list.component.html
  src-ui/src/app/components/manage/management-list/management-list.component.scss
  src-ui/src/app/components/manage/management-list/management-list.component.spec.ts
  src-ui/src/app/components/manage/management-list/management-list.component.ts
  src-ui/src/app/components/manage/workflows/workflows.component.html
  src-ui/src/app/components/manage/workflows/workflows.component.scss
  src-ui/src/app/components/manage/workflows/workflows.component.spec.ts
  src-ui/src/app/components/manage/workflows/workflows.component.ts
  src-ui/src/theme.scss
Labels: enhancement, non-trivial, frontend

#8453 Documentation: correct socket info for gpg decryption of emails
  docs/advanced_usage.md
Labels: bug, documentation, small-change

#8461 Chore: use rxjs instead of JS setInterval for timers
  src-ui/messages.xlf
  src-ui/src/app/components/admin/logs/logs.component.html
  src-ui/src/app/components/admin/logs/logs.component.spec.ts
  src-ui/src/app/components/admin/logs/logs.component.ts
  src-ui/src/app/components/admin/tasks/tasks.component.html
  src-ui/src/app/components/admin/tasks/tasks.component.spec.ts
  src-ui/src/app/components/admin/tasks/tasks.component.ts
Labels: non-trivial, frontend

#8462 Chore: update ng2 pdf viewer
  src-ui/package-lock.json
  src-ui/package.json
  src-ui/src/typings.d.ts
Labels: frontend, dependencies

#8469 Fix: frontend better reflect global perms for bulk edit, disabled form state
  src-ui/messages.xlf
  src-ui/src/app/components/common/input/document-link/document-link.component.scss
  src-ui/src/app/components/common/input/permissions/permissions-form/permissions-form.component.spec.ts
  src-ui/src/app/components/common/input/permissions/permissions-form/permissions-form.component.ts
  src-ui/src/app/components/common/input/permissions/permissions-group/permissions-group.component.scss
  src-ui/src/app/components/common/input/permissions/permissions-user/permissions-user.component.scss
  src-ui/src/app/components/common/input/select/select.component.scss
  src-ui/src/app/components/common/input/tags/tags.component.scss
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.html
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/styles.scss
  src-ui/src/theme.scss
Labels: bug, non-trivial, frontend

#8466 Enhancement: process mail button
  src-ui/messages.xlf
  src-ui/src/app/components/manage/mail/mail.component.html
  src-ui/src/app/components/manage/mail/mail.component.spec.ts
  src-ui/src/app/components/manage/mail/mail.component.ts
  src-ui/src/app/services/rest/mail-account.service.spec.ts
  src-ui/src/app/services/rest/mail-account.service.ts
  src/paperless_mail/tasks.py
  src/paperless_mail/tests/test_mail.py
  src/paperless_mail/views.py
Labels: enhancement, non-trivial, backend, frontend

#8468 Fix: include global perms for bulk edit endpoint
  src/documents/tests/test_api_bulk_edit.py
  src/documents/views.py
Labels: bug, non-trivial, backend

#8483 FIx: let the backend deal with spaces for global search
  src-ui/messages.xlf
  src-ui/src/app/components/app-frame/global-search/global-search.component.ts
Labels: bug, frontend, small-change

#8484 FIx: obliquely trim spaces from global search
  src-ui/messages.xlf
  src-ui/src/app/components/app-frame/global-search/global-search.component.ts
Labels: bug, non-trivial, frontend

#8524 Fix: add some minor frontend permissions checks
  src-ui/messages.xlf
  src-ui/src/app/components/app-frame/app-frame.component.html
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/services/settings.service.ts
Labels: bug, non-trivial, frontend

#8520 Enhancement: add timeout for Tika client
  src/paperless_tika/parsers.py
Labels: backend, small-change

#8551 Fix: fix share link archive version detection
  src-ui/messages.xlf
  src-ui/src/app/components/common/share-links-dropdown/share-links-dropdown.component.ts
Labels: non-trivial, frontend

#8552 Fix: fix occasional error toast overflow
  src-ui/src/app/components/common/toasts/toasts.component.html
Labels: frontend, small-change

#8542 Development: fix devcontainer postCreateCommand
  .devcontainer/devcontainer.json
  src-ui/package.json
Labels: small-change, skip-changelog

#8553 Development: devcontainer improvements
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.devcontainer.sqlite-tika.yml
  .devcontainer/vscode/launch.json
  .devcontainer/vscode/tasks.json
  .gitignore
  docs/development.md
Labels: non-trivial, skip-changelog, development

#8494 Enhancement: custom field sorting
  src-ui/messages.xlf
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/manage/saved-views/saved-views.component.spec.ts
  src-ui/src/app/services/document-list-view.service.spec.ts
  src-ui/src/app/services/document-list-view.service.ts
  src-ui/src/app/services/rest/document.service.spec.ts
  src-ui/src/app/services/rest/document.service.ts
  src/documents/filters.py
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Labels: enhancement, non-trivial, backend, frontend
