Repository paperless-ngx/paperless-ngx, pull requests merged in 2024-10, with the labels that each got.

#7817 Documentation: Mention the Redis licensing and its forks
  docs/faq.md
Labels: documentation, small-change

#7810 Enhancement: disable-able mail rules, add toggle to overview
  src-ui/messages.xlf
  src-ui/src/app/components/app-frame/global-search/global-search.component.scss
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/mail-rule-edit-dialog/mail-rule-edit-dialog.component.ts
  src-ui/src/app/components/document-list/document-list.component.scss
  src-ui/src/app/components/manage/mail/mail.component.html
  src-ui/src/app/components/manage/mail/mail.component.spec.ts
  src-ui/src/app/components/manage/mail/mail.component.ts
  src-ui/src/app/data/mail-rule.ts
  src-ui/src/app/services/rest/mail-rule.service.spec.ts
  src-ui/src/styles.scss
  src/documents/tests/test_migration_workflows.py
  src/paperless_mail/admin.py
  src/paperless_mail/mail.py
  src/paperless_mail/migrations/0026_mailrule_enabled.py
  src/paperless_mail/models.py
  src/paperless_mail/serialisers.py
  src/paperless_mail/tests/test_mail.py
Labels: enhancement, non-trivial, backend, frontend

#7818 Enhancement: workflow overview toggle enable button
  src-ui/messages.xlf
  src-ui/src/app/components/manage/workflows/workflows.component.html
  src-ui/src/app/components/manage/workflows/workflows.component.spec.ts
  src-ui/src/app/components/manage/workflows/workflows.component.ts
Labels: enhancement, non-trivial, backend, frontend

#7815 Chore: Upgrades OCRMyPDF to v16
  .pre-commit-config.yaml
  Pipfile
  Pipfile.lock
  src/paperless_mail/tests/test_parsers.py
  src/paperless_tika/tests/test_tika_parser.py
Labels: non-trivial, backend, dependencies

#7761 Feature: custom fields queries
  docs/api.md
  paperless.conf.example
  src-ui/messages.xlf
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/common/custom-fields-query-dropdown/custom-fields-query-dropdown.component.html
  src-ui/src/app/components/common/custom-fields-query-dropdown/custom-fields-query-dropdown.component.scss
  src-ui/src/app/components/common/custom-fields-query-dropdown/custom-fields-query-dropdown.component.spec.ts
  src-ui/src/app/components/common/custom-fields-query-dropdown/custom-fields-query-dropdown.component.ts
  src-ui/src/app/components/common/input/document-link/document-link.component.html
  src-ui/src/app/components/common/input/document-link/document-link.component.ts
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/document-list.component.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
  src-ui/src/app/data/custom-field-query.ts
  src-ui/src/app/data/filter-rule-type.ts
  src-ui/src/app/utils/custom-field-query-element.spec.ts
  src-ui/src/app/utils/custom-field-query-element.ts
  src-ui/src/app/utils/query-params.spec.ts
  src-ui/src/app/utils/query-params.ts
  src/documents/filters.py
  src/documents/migrations/1054_customfieldinstance_value_monetary_amount_and_more.py
  src/documents/models.py
  src/documents/tests/test_api_filter_by_custom_fields.py
  src/paperless/settings.py
Labels: non-trivial, backend, frontend, notable

#7808 Enhancement: check for mail destination directory, log post-consume errors
  src/paperless_mail/mail.py
  src/paperless_mail/tests/test_mail.py
Labels: enhancement, non-trivial, backend

#7848 Enhancement: management list button improvements
  src-ui/messages.xlf
  src-ui/src/app/components/manage/custom-fields/custom-fields.component.html
  src-ui/src/app/components/manage/custom-fields/custom-fields.component.scss
  src-ui/src/app/components/manage/custom-fields/custom-fields.component.spec.ts
  src-ui/src/app/components/manage/custom-fields/custom-fields.component.ts
  src-ui/src/app/components/manage/management-list/management-list.component.html
  src-ui/src/app/components/manage/management-list/management-list.component.spec.ts
  src-ui/src/app/data/custom-field.ts
  src/documents/serialisers.py
  src/documents/tests/test_api_custom_fields.py
  src/documents/views.py
Labels: enhancement, non-trivial, frontend

#7836 Feature: Enhanced templating for filename format
  Pipfile
  Pipfile.lock
  docs/advanced_usage.md
  src-ui/messages.xlf
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/common/edit-dialog/storage-path-edit-dialog/storage-path-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/storage-path-edit-dialog/storage-path-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/storage-path-edit-dialog/storage-path-edit-dialog.component.ts
  src-ui/src/app/components/common/input/textarea/textarea.component.html
  src-ui/src/app/components/common/input/textarea/textarea.component.scss
  src-ui/src/app/components/common/input/textarea/textarea.component.spec.ts
  src-ui/src/app/components/common/input/textarea/textarea.component.ts
  src-ui/src/app/components/manage/management-list/management-list.component.html
  src-ui/src/app/components/manage/management-list/management-list.component.ts
  src-ui/src/app/components/manage/storage-path-list/storage-path-list.component.spec.ts
  src-ui/src/app/components/manage/storage-path-list/storage-path-list.component.ts
  src/documents/checks.py
  src/documents/file_handling.py
  src/documents/migrations/1012_fix_archive_files.py
  src/documents/migrations/1055_alter_storagepath_path.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/templating/__init__.py
  src/documents/templating/filepath.py
  src/documents/templating/utils.py
  src/documents/tests/test_api_objects.py
  src/documents/tests/test_checks.py
  src/documents/tests/test_file_handling.py
  src/documents/tests/test_migration_storage_path_template.py
Labels: non-trivial, backend, frontend, notable

#7865 Fix: trigger change warning for saved views with default fields if changed
  src-ui/messages.xlf
  src-ui/src/app/components/document-list/document-list.component.ts
Labels: bug, non-trivial, frontend

#7869 Fix: fix auto-dismiss completed tasks on open document
  src-ui/src/app/services/tasks.service.ts
Labels: bug, frontend, small-change

#7878 Fix: Allow ASN values of 0 from barcodes
  src/documents/consumer.py
Labels: bug, backend, small-change

#7870 Enhancement: live preview of storage path
  src-ui/messages.xlf
  src-ui/src/app/components/common/edit-dialog/storage-path-edit-dialog/storage-path-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/storage-path-edit-dialog/storage-path-edit-dialog.component.scss
  src-ui/src/app/components/common/edit-dialog/storage-path-edit-dialog/storage-path-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/storage-path-edit-dialog/storage-path-edit-dialog.component.ts
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.scss
  src-ui/src/app/components/common/input/textarea/textarea.component.html
  src-ui/src/app/services/rest/storage-path.service.spec.ts
  src-ui/src/app/services/rest/storage-path.service.ts
  src-ui/src/styles.scss
  src/documents/serialisers.py
  src/documents/templating/filepath.py
  src/documents/tests/test_api_objects.py
  src/documents/views.py
  src/paperless/urls.py
Labels: enhancement, non-trivial, backend, frontend

#7880 Chore: Consolidate workflow logic
  src/documents/apps.py
  src/documents/consumer.py
  src/documents/signals/handlers.py
  src/documents/templating/title.py
Labels: non-trivial, backend

#7866 Feature: OAuth2 Gmail and Outlook email support
  Pipfile
  Pipfile.lock
  docs/configuration.md
  docs/usage.md
  src-ui/messages.xlf
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/common/edit-dialog/mail-account-edit-dialog/mail-account-edit-dialog.component.spec.ts
  src-ui/src/app/components/manage/mail/mail.component.html
  src-ui/src/app/components/manage/mail/mail.component.spec.ts
  src-ui/src/app/components/manage/mail/mail.component.ts
  src-ui/src/app/data/mail-account.ts
  src-ui/src/app/data/ui-settings.ts
  src-ui/src/app/services/rest/mail-account.service.spec.ts
  src-ui/src/app/services/rest/mail-account.service.ts
  src-ui/src/app/services/rest/mail-rule.service.spec.ts
  src-ui/src/app/services/rest/mail-rule.service.ts
  src-ui/src/styles.scss
  src/documents/tests/test_api_uisettings.py
  src/documents/tests/test_migration_workflows.py
  src/documents/views.py
  src/paperless/settings.py
  src/paperless/urls.py
  src/paperless_mail/mail.py
  src/paperless_mail/migrations/0027_mailaccount_expiration_mailaccount_account_type_and_more.py
  src/paperless_mail/models.py
  src/paperless_mail/oauth.py
  src/paperless_mail/serialisers.py
  src/paperless_mail/tests/test_mail.py
  src/paperless_mail/tests/test_mail_oauth.py
  src/paperless_mail/views.py
Labels: enhancement, non-trivial, backend, frontend, notable

#7893 Fix: only show colon on cards if correspondent and title shown
  src-ui/messages.xlf
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
Labels: non-trivial, frontend

#7894 Tweak: don't wait for doc API to load preview
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: enhancement, frontend, small-change

#7904 CI: Do not run crowdin action on forks
  .github/workflows/crowdin.yml
Labels: small-change, ci-cd, skip-changelog

#7908 Fix: preserve text linebreaks in doc edit
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.scss
Labels: frontend, small-change

#7912 Enhancement: support retain barcode split pages
  docs/configuration.md
  src/documents/barcodes.py
  src/documents/tests/test_barcodes.py
  src/paperless/settings.py
Labels: documentation, enhancement, non-trivial, backend

#7916 Fix: v2.13.0 RC1: increase field max lengths to accommodate larger tokens
  src/paperless_mail/migrations/0027_mailaccount_expiration_mailaccount_account_type_and_more.py
  src/paperless_mail/models.py
Labels: bug, backend, small-change

#7933 Fix: Handling of Nones when using custom fields in filepath templating
  src/documents/templating/filepath.py
  src/documents/tests/test_file_handling.py
Labels: bug, non-trivial, backend

#7942 Change: open not edit
  src-ui/messages.xlf
  src-ui/src/app/app.module.ts
  src-ui/src/app/components/app-frame/global-search/global-search.component.html
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
Labels: non-trivial, frontend

#7961 Enhancement: QoL, auto-focus default select field in custom field dropdown
  src-ui/src/app/components/common/custom-fields-query-dropdown/custom-fields-query-dropdown.component.html
  src-ui/src/app/components/common/custom-fields-query-dropdown/custom-fields-query-dropdown.component.spec.ts
  src-ui/src/app/components/common/custom-fields-query-dropdown/custom-fields-query-dropdown.component.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
Labels: enhancement, non-trivial, frontend

#7963 Fix: remove space before my profile button in dropdown
  src-ui/src/app/components/app-frame/app-frame.component.html
Labels: bug, frontend, small-change

#7967 Change: Use a TextField for the storage path field
  src/documents/migrations/1055_alter_storagepath_path.py
  src/documents/models.py
Labels: backend, small-change

#8020 Fix: oauth settings without base url
  src/paperless/settings.py
Labels: bug, backend, small-change

#8019 Documentation: Resolve display and link errors in changelog
  docs/changelog.md
Labels: documentation, small-change

#8016 Enhancement / fix: include social accounts and api tokens in export
  src/documents/management/commands/document_exporter.py
  src/documents/management/commands/document_importer.py
  src/documents/management/commands/mixins.py
  src/documents/tests/test_management_exporter.py
Labels: enhancement, backend

#8010 Fix: dont include all allauth urls
  src/paperless/urls.py
Labels: bug, non-trivial, backend

#8035 Documentation: fix docs index page on mobile
  docs/assets/extra.css
Labels: documentation, small-change

#8040 Fix: dont try to load PAPERLESS_MODEL_FILE as env from file
  docker/env-from-file.sh
Labels: bug, small-change

#8022 Chore: fix changelog script
  .github/workflows/ci.yml
Labels: small-change, ci-cd

#8056 Fix: fix custom field query empty element removal
  src-ui/src/app/components/common/custom-fields-query-dropdown/custom-fields-query-dropdown.component.ts
Labels: bug, frontend, small-change

#8045 Enhancement: auto-rename document files when select type custom fields are changed
  src/documents/signals/handlers.py
  src/documents/tests/test_file_handling.py
Labels: enhancement, non-trivial, backend

#8050 Documentation: Fix list indentation
  .prettierrc
  docs/advanced_usage.md
  docs/api.md
  docs/changelog.md
  docs/configuration.md
  docs/development.md
  docs/faq.md
  docs/setup.md
  docs/troubleshooting.md
  docs/usage.md
Labels: documentation, small-change, skip-changelog

#8064 Fix: doc link documents search should exclude null
  src-ui/src/app/components/common/custom-field-display/custom-field-display.component.ts
Labels: bug, frontend, small-change

#8065 Fix: disable custom field signals during import in 2.13.0
  src/documents/management/commands/document_importer.py
  src/documents/signals/handlers.py
Labels: bug, non-trivial, backend

#8060 Fix: Handle a special case where removing none marker could result in an absolute path
  src/documents/file_handling.py
  src/documents/tests/test_file_handling.py
Labels: bug, non-trivial, backend

#8066 Fix: Update filename correctly if the document is in the trash
  src/documents/signals/handlers.py
  src/documents/tests/test_file_handling.py
Labels: bug, backend, small-change

#8034 Fix: handle uuid fields created under mariadb and Django 4
  docker/install_management_commands.sh
  docs/troubleshooting.md
  src/documents/bulk_edit.py
  src/documents/management/commands/convert_mariadb_uuid.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_bulk_edit.py
  src/documents/tests/test_management.py
  src/documents/views.py
Labels: bug, non-trivial, backend

#8067 Fix: Make all document related objects soft delete, fix filepath when deleted
  src/documents/migrations/1056_customfieldinstance_deleted_at_and_more.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/templating/filepath.py
Labels: bug, non-trivial, backend

#8079 Fix: Removes whitenoise patches and upgrades it to 6.8.1
  .github/workflows/ci.yml
  Dockerfile
  Pipfile
  Pipfile.lock
Labels: bug, small-change, ci-cd

#8081 Fix: allow removing dead document links from UI, validate via API
  src-ui/messages.xlf
  src-ui/src/app/components/common/input/document-link/document-link.component.html
  src-ui/src/app/components/common/input/document-link/document-link.component.ts
  src/documents/serialisers.py
  src/documents/tests/test_api_custom_fields.py
Labels: bug, non-trivial, backend, frontend

#8095 Fix: cf query dropdown styling affecting other components
  src-ui/src/app/components/common/custom-fields-query-dropdown/custom-fields-query-dropdown.component.scss
Labels: frontend, small-change

#8100 Fix: remove auth tokens from export
  docs/administration.md
  src/documents/management/commands/document_exporter.py
  src/documents/management/commands/mixins.py
  src/documents/tests/test_management_exporter.py
Labels: bug, backend, small-change

#8107 Fix: make mail account password and refresh token text fields
  src/documents/tests/test_migration_workflows.py
  src/paperless_mail/migrations/0028_alter_mailaccount_password_and_more.py
  src/paperless_mail/models.py
Labels: non-trivial, backend

#8110 Fix: dont invert pdf colors in FF
  src-ui/src/app/components/common/preview-popup/preview-popup.component.html
  src-ui/src/app/components/common/preview-popup/preview-popup.component.scss
Labels: frontend, small-change

#8120 Fix: use static object for activedisplayfields to prevent changes
  src-ui/src/app/services/document-list-view.service.spec.ts
  src-ui/src/app/services/document-list-view.service.ts
  src-ui/src/app/services/settings.service.ts
Labels: bug, non-trivial, frontend

#8121 Fix: dont use filters for inverted thumbnails
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.scss
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.scss
  src-ui/src/styles.scss
  src-ui/src/theme.scss
Labels: bug, non-trivial, frontend

#8123 Chore: update field in bug-report.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: small-change, skip-changelog

#8135 Documentation: re-add 2.13.0 changelog
  docs/changelog.md
Labels: documentation, small-change, skip-changelog
