Repository paperless-ngx/paperless-ngx, pull requests merged in 2025-04, with the labels that each got.

#9533 Fix: fix doc link input
  src-ui/messages.xlf
  src-ui/src/app/components/common/input/document-link/document-link.component.html
  src-ui/src/app/components/common/input/document-link/document-link.component.spec.ts
  src-ui/src/app/components/common/input/document-link/document-link.component.ts
Labels: bug, non-trivial, frontend

#9559 Fix: fix large doc thumb hidden at unexpected screen sizes
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
Labels: bug, frontend, small-change

#9580 Fix: ensure only matched scheduled workflows are applied
  src/documents/signals/handlers.py
  src/documents/tasks.py
Labels: bug, non-trivial, backend

#9594 Fix: dont exclude matching check for scheduled workflows
  src/documents/signals/handlers.py
Labels: bug, backend, small-change

#9595 Documentation: update crowdin links
  CONTRIBUTING.md
  README.md
  docs/index.md
Labels: bug, documentation, small-change

#9599 Fix: correct download filename in 2.15.0
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src/documents/views.py
  src/paperless/settings.py
Labels: bug, non-trivial, backend, frontend

#9601 Fix: Adds a warning to the user if their secret file includes a trailing newline
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-env-file/run
Labels: bug, small-change

#9604 Fix: Run migration lock as the correct user
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-migrations/migrate.sh
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-migrations/run
Labels: bug, non-trivial

#9605 Chore: move to whoosh-reloaded, for now
  pyproject.toml
  uv.lock
Labels: small-change, dependencies

#9629 Fix: prevent self-linking when bulk edit doc link
  src/documents/bulk_edit.py
  src/documents/tests/test_bulk_edit.py
Labels: bug, non-trivial, backend

#9615 Chore: Delete unused docker/docker-entrypoint.sh
  docker/docker-entrypoint.sh
Labels: small-change

#9643 Fix: Explicitly set the HOME environment to resolve issues running as root with database certificates
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-migrations/migrate.sh
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-migrations/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-start/run
Labels: bug, small-change

#9651 Tweak: consistently use created date when displaying doc in list
  src-ui/src/app/components/app-frame/global-search/global-search.component.html
Labels: frontend, small-change

#9616 Fix: Adds better handling during folder checking/creation/permissions for non-root
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-folders/run
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-start/run
Labels: bug, non-trivial

#9652 Chore: Upgrades granian to latest patch version
  uv.lock
Labels: small-change

#9674 Fix: correctly handle dict data with webhook
  src/documents/signals/handlers.py
  src/documents/tests/test_workflows.py
Labels: bug, non-trivial, backend

#9700 Fix: another doc link fix
  src-ui/src/app/components/common/input/document-link/document-link.component.ts
Labels: bug, frontend, small-change

#9714 Fix: fix breaking api change to document notes user field
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
  src/paperless/settings.py
Labels: bug, non-trivial, backend

#9702 Fix: preserve non-ASCII filenames in document downloads
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/utils/http.spec.ts
  src-ui/src/app/utils/http.ts
Labels: bug, non-trivial, frontend

#9684 Fix: do not try deleting original file that was moved to trash dir
  src/documents/signals/handlers.py
Labels: bug, backend, small-change

#9738 Fix: include subpath in drf-spectacular settings if set
  src/paperless/settings.py
Labels: bug, backend, small-change

#9723 Chore: replace secretary with GHA
  .github/labeler.yml
  .github/workflows/pr-bot.yml
Labels: enhancement, non-trivial, ci-cd

#9339 Chore: switch from os.path to pathlib.Path
  pyproject.toml
  src/documents/tests/test_management.py
  src/documents/tests/test_management_consumer.py
  src/documents/tests/test_management_exporter.py
  src/documents/tests/test_migration_document_pages_count.py
  src/documents/tests/test_migration_mime_type.py
  src/documents/tests/test_sanity_check.py
Labels: non-trivial, backend

#9744 Enhancement: use patch instead of put for frontend document changes
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/services/rest/document.service.spec.ts
  src-ui/src/app/services/rest/document.service.ts
Labels: enhancement, non-trivial, frontend

#9743 Enhancement: support allauth disable unknown account emails
  docs/configuration.md
  src/paperless/settings.py
Labels: non-trivial, backend

#9745 Chore: add ymlfmt
  .devcontainer/docker-compose.devcontainer.sqlite-tika.yml
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup-tags.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/crowdin.yml
  .github/workflows/pr-bot.yml
  .github/workflows/project-actions.yml
  .github/workflows/repo-maintenance.yml
  .pre-commit-config.yaml
  docker/compose/docker-compose.mariadb-tika.yml
  docker/compose/docker-compose.mariadb.yml
  docker/compose/docker-compose.portainer.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.postgres.yml
  docker/compose/docker-compose.sqlite-tika.yml
  docker/compose/docker-compose.sqlite.yml
  mkdocs.yml
Labels: non-trivial, ci-cd

#9771 Enhancement: support heic images
  src/paperless_tesseract/parsers.py
  src/paperless_tesseract/signals.py
  src/paperless_tesseract/tests/samples/simple.heic
  src/paperless_tesseract/tests/test_parser.py
Labels: enhancement, backend, small-change

#9804 Fixhancement: check more permissions for status consumer messages
  src-ui/src/app/data/websocket-progress-message.ts
  src-ui/src/app/services/websocket-status.service.spec.ts
  src-ui/src/app/services/websocket-status.service.ts
  src/documents/consumer.py
  src/paperless/consumers.py
  src/paperless/tests/test_websockets.py
Labels: non-trivial, backend, frontend

#9817 Fix: always update classifier task result
  src/documents/tasks.py
Labels: backend, small-change

#9834 Fix: fix single select in filterable dropdowns when editing
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
Labels: frontend, small-change
