Repository paperless-ngx/paperless-ngx, pull requests merged in 2025-08, with the labels that each got.

#10487 Enhancement: disable auto spellcheck on filtering dropdowns
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.html
Labels: enhancement, frontend, small-change

#10483 Fixhancement: improve text thumbnail generation for large files
  pyproject.toml
  src/paperless_text/parsers.py
  src/paperless_text/tests/test_parser.py
Labels: enhancement, non-trivial, backend

#10560 Chore: Removes duplication and spread out config for codespell
  .codespellrc
  .pre-commit-config.yaml
  pyproject.toml
Labels: enhancement, backend, small-change

#10559 Feature: Add filter to localize dates for filepath templating
  docs/advanced_usage.md
  pyproject.toml
  src/documents/templating/filepath.py
  src/documents/tests/test_file_handling.py
  uv.lock
Labels: enhancement, non-trivial, backend

#10588 Fixhancement: mobile layout improvements for pdf editor
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.html
Labels: bug, non-trivial, frontend

#10592 Development: restore version tag display
  src-ui/src/app/components/app-frame/app-frame.component.ts
Labels: frontend, small-change, development

#10599 Fix: fix app logo validation with no file
  src/paperless/serialisers.py
Labels: bug, backend, small-change

#10643 Documentation: fix typo in troubleshooting docs
  docs/troubleshooting.md
Labels: documentation, skip-changelog

#10641 Fix: ignore incomplete tasks for system status 'last run'
  src/documents/views.py
Labels: bug, non-trivial, backend

#10659 Fix: prevent loss of changes when switching between open docs
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: bug, non-trivial, frontend

#10676 Fix: prevent scroll for view name in sidebar
  src-ui/src/app/components/app-frame/app-frame.component.html
Labels: bug, frontend, small-change

#10694 Fixhancement: more saved view count refreshes
  src-ui/src/app/components/dashboard/dashboard.component.spec.ts
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.ts
  src-ui/src/app/components/document-list/document-list.component.spec.ts
  src-ui/src/app/components/document-list/document-list.component.ts
  src-ui/src/app/services/rest/saved-view.service.ts
Labels: bug, non-trivial, frontend

#10662 Chore: refactor document details component
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: bug, enhancement, non-trivial, frontend

#10708 Performance: Enable virtual scrolling for large custom field selects
  src-ui/src/app/components/common/custom-fields-query-dropdown/custom-fields-query-dropdown.component.html
  src-ui/src/app/components/common/input/select/select.component.html
Labels: enhancement, frontend, small-change

#10722 Fix: include application config language settings for dateparser auto-detection
  src/documents/parsers.py
  src/documents/tests/test_date_parsing.py
  src/paperless/settings.py
  src/paperless/tests/test_settings.py
  src/paperless/tests/test_utils.py
  src/paperless/utils.py
Labels: bug, non-trivial, backend
