Repository paperless-ngx/paperless-ngx, pull requests merged in 2025-09, with the labels that each got.

#10770 Chore(deps-dev): Bump the frontend-jest-dependencies group in /src-ui with 2 updates
  src-ui/package.json
  src-ui/pnpm-lock.yaml
Labels: frontend, dependencies

#10783 Fix: Make mypy work with uv
  pyproject.toml
  uv.lock
Labels: enhancement, non-trivial, backend

#10793 Fixhancement: update sidebar view counts on save & next also
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: bug, frontend, small-change

#10804 Documentation: v2.18.14 changelog
  docs/changelog.md
Labels: documentation, enhancement, non-trivial, skip-changelog

#10656 Enhancement: Limit excessively long content length when computing suggestions
  src/documents/matching.py
  src/documents/models.py
  src/documents/tests/test_document_model.py
Labels: enhancement, non-trivial, backend

#10848 Fix: fix pdf editor hover rotate counterclockwise button
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.html
  src-ui/src/app/components/common/pdf-editor/pdf-editor.component.ts
Labels: bug, frontend, small-change

#10833 Feature: Nested Tags
  docs/usage.md
  pyproject.toml
  src-ui/src/app/components/common/edit-dialog/tag-edit-dialog/tag-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/tag-edit-dialog/tag-edit-dialog.component.ts
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
  src-ui/src/app/components/common/filterable-dropdown/toggleable-dropdown-button/toggleable-dropdown-button.component.html
  src-ui/src/app/components/common/filterable-dropdown/toggleable-dropdown-button/toggleable-dropdown-button.component.scss
  src-ui/src/app/components/common/filterable-dropdown/toggleable-dropdown-button/toggleable-dropdown-button.component.ts
  src-ui/src/app/components/common/input/tags/tags.component.html
  src-ui/src/app/components/common/input/tags/tags.component.scss
  src-ui/src/app/components/common/input/tags/tags.component.spec.ts
  src-ui/src/app/components/common/input/tags/tags.component.ts
  src-ui/src/app/components/common/tag/tag.component.html
  src-ui/src/app/components/common/tag/tag.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
  src-ui/src/app/components/manage/correspondent-list/correspondent-list.component.ts
  src-ui/src/app/components/manage/document-type-list/document-type-list.component.ts
  src-ui/src/app/components/manage/management-list/management-list.component.html
  src-ui/src/app/components/manage/management-list/management-list.component.scss
  src-ui/src/app/components/manage/management-list/management-list.component.ts
  src-ui/src/app/components/manage/storage-path-list/storage-path-list.component.ts
  src-ui/src/app/components/manage/tag-list/tag-list.component.ts
  src-ui/src/app/data/tag.ts
  src-ui/src/app/utils/flatten-tags.spec.ts
  src-ui/src/app/utils/flatten-tags.ts
  src-ui/src/main.ts
  src/documents/admin.py
  src/documents/bulk_edit.py
  src/documents/consumer.py
  src/documents/migrations/1071_tag_tn_ancestors_count_tag_tn_ancestors_pks_and_more.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/signals/handlers.py
  src/documents/tasks.py
  src/documents/tests/test_admin.py
  src/documents/tests/test_migration_archive_files.py
  src/documents/tests/test_tag_hierarchy.py
  src/documents/tests/utils.py
  src/documents/views.py
  src/paperless/settings.py
  uv.lock
Labels: enhancement, non-trivial, backend, frontend, notable

#10893 Fix: restore str celery beat schedule filename
  src/paperless/settings.py
Labels: bug, backend, small-change

#10899 Fix: show children in tag list when filtering
  src-ui/src/app/components/manage/tag-list/tag-list.component.spec.ts
  src-ui/src/app/components/manage/tag-list/tag-list.component.ts
Labels: bug, non-trivial, frontend, skip-changelog

#10866 Feature: processed mail UI
  docs/usage.md
  src-ui/src/app/components/manage/mail/mail.component.html
  src-ui/src/app/components/manage/mail/mail.component.spec.ts
  src-ui/src/app/components/manage/mail/mail.component.ts
  src-ui/src/app/components/manage/mail/processed-mail-dialog/processed-mail-dialog.component.html
  src-ui/src/app/components/manage/mail/processed-mail-dialog/processed-mail-dialog.component.scss
  src-ui/src/app/components/manage/mail/processed-mail-dialog/processed-mail-dialog.component.spec.ts
  src-ui/src/app/components/manage/mail/processed-mail-dialog/processed-mail-dialog.component.ts
  src-ui/src/app/data/processed-mail.ts
  src-ui/src/app/services/permissions.service.ts
  src-ui/src/app/services/rest/processed-mail.service.spec.ts
  src-ui/src/app/services/rest/processed-mail.service.ts
  src-ui/src/main.ts
  src/paperless/urls.py
  src/paperless_mail/filters.py
  src/paperless_mail/serialisers.py
  src/paperless_mail/tests/test_api.py
  src/paperless_mail/views.py
Labels: enhancement, non-trivial, backend, frontend

#10916 Chore: remove conditional from pre-commit job in CI
  .github/workflows/ci.yml
Labels: ci-cd, skip-changelog

#10723 Enhancement: support workflow path matching of barcode-split documents
  src/documents/barcodes.py
  src/documents/data_models.py
  src/documents/matching.py
  src/documents/tests/test_barcodes.py
Labels: enhancement, non-trivial, backend

#10933 Fix: fix select option removal and pagination update
  src-ui/src/app/components/common/edit-dialog/custom-field-edit-dialog/custom-field-edit-dialog.component.ts
Labels: bug, non-trivial, frontend

#10941 Chore: remove Codecov token from CI workflow
  .github/workflows/ci.yml
Labels: bug, small-change, ci-cd

#10944 Tweakhancement: reorganize some list & bulk editing buttons
  src-ui/e2e/document-list/document-list.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.html
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.scss
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/document-list.component.ts
Labels: enhancement, non-trivial, frontend

#10947 Documentation: correct workflow description
  docs/usage.md
Labels: documentation, skip-changelog

#10971 Chore(deps): Bulk upgrade backend dependencies
  .pre-commit-config.yaml
  uv.lock
Labels: bug, non-trivial, backend
