Repository paperless-ngx/paperless-ngx, pull requests merged in 2025-06, with the labels that each got.

#10103 Development: fix dependabot by specifying pnpm version
  .github/workflows/ci.yml
  src-ui/package.json
Labels: non-trivial, frontend, ci-cd, skip-changelog

#10113 Documentation: clarify db settings
  docs/configuration.md
Labels: documentation, enhancement, non-trivial, skip-changelog

#10121 Fix: handle whoosh query correction errors
  src/documents/index.py
  src/documents/tests/test_api_search.py
  src/documents/views.py
Labels: bug, non-trivial, backend

#10157 Fix: correct api schema for mail_account process
  src/paperless_mail/views.py
Labels: bug, backend

#10164 Fix: fix mail account test api schema
  src/paperless_mail/views.py
Labels: bug, backend, small-change

#10183 Feature: add Persian translation
  src-ui/angular.json
  src-ui/messages.xlf
  src-ui/setup-jest.ts
  src-ui/src/app/services/settings.service.ts
  src-ui/src/main.ts
  src/locale/en_US/LC_MESSAGES/django.po
  src/paperless/settings.py
Labels: enhancement, non-trivial, backend, frontend

#10186 Documentation: correct Gotenberg API timeout value
  docs/troubleshooting.md
Labels: documentation, small-change, skip-changelog

#10191 Fix: use hard delete for custom fields with workflow removal
  src/documents/signals/handlers.py
Labels: bug, backend, small-change

#10196 Fix: high-priority API fixes
  src/documents/serialisers.py
  src/documents/tests/test_api_app_config.py
  src/documents/tests/test_api_uisettings.py
  src/paperless/views.py
  src/paperless_mail/serialisers.py
  src/paperless_mail/tests/test_mail.py
Labels: bug, non-trivial, backend

#10218 Fix: restore expected pre-2.16 scheduled workflow offset behavior
  docs/usage.md
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.html
  src/documents/tasks.py
  src/documents/tests/test_workflows.py
Labels: bug, non-trivial, backend, breaking-change

#10214 QoL: log version at startup, show backend vs frontend mismatch in system status
  Dockerfile
  src-ui/src/app/components/app-frame/app-frame.component.ts
  src-ui/src/app/components/common/system-status-dialog/system-status-dialog.component.html
  src-ui/src/app/components/common/system-status-dialog/system-status-dialog.component.spec.ts
  src-ui/src/app/components/common/system-status-dialog/system-status-dialog.component.ts
  src-ui/src/app/data/ui-settings.ts
  src-ui/src/environments/environment.prod.ts
  src-ui/src/environments/environment.ts
  src/documents/tests/test_api_uisettings.py
  src/documents/views.py
  src/paperless/asgi.py
  src/paperless/wsgi.py
Labels: enhancement, non-trivial, backend, frontend

#10227 Fix: correct PAPERLESS_EMPTY_TRASH_DIR to Path
  src/documents/signals/handlers.py
  src/documents/tests/test_file_handling.py
  src/paperless/settings.py
Labels: bug, non-trivial, backend

#10243 Chore: reject absurd max age values
  src/paperless_mail/serialisers.py
  src/paperless_mail/tests/test_api.py
Labels: enhancement, non-trivial, backend

#10279 Fix: reset search query for preview on reset filter
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
Labels: bug, frontend, small-change

#10287 Fix: correct api created coercion with timezone
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
Labels: bug, non-trivial, backend
