Repository paperless-ngx/paperless-ngx, pull requests merged in 2025-01, with the labels that each got.

#8580 Chore: remove outdated admin logentry handler
  src/documents/apps.py
  src/documents/signals/handlers.py
  src/documents/tests/test_matchables.py
Labels: backend, small-change

#8583 Fix: fix hotkey arrows
  src-ui/messages.xlf
  src-ui/src/app/components/common/hotkey-dialog/hotkey-dialog.component.spec.ts
  src-ui/src/app/components/common/hotkey-dialog/hotkey-dialog.component.ts
Labels: frontend, small-change

#8596 Fix: do not accept empty string for doc link value via API
  src/documents/serialisers.py
  src/documents/tests/test_api_custom_fields.py
Labels: non-trivial, backend

#8600 Documentation: remove dollar sign in code snippets
  docs/administration.md
  docs/configuration.md
  docs/development.md
  docs/setup.md
  docs/troubleshooting.md
  docs/usage.md
Labels: documentation, skip-changelog

#8611 Chore: disable max-age for some document endpoints
  src/documents/views.py
Labels: backend, small-change

#8325 Chore: Switch from os.path to pathlib.Path
  .ruff.toml
  src/documents/barcodes.py
  src/documents/classifier.py
  src/documents/index.py
  src/documents/management/commands/decrypt_documents.py
  src/documents/management/commands/document_importer.py
  src/documents/migrations/1037_webp_encrypted_thumbnail_conversion.py
  src/documents/tests/test_api_status.py
  src/documents/tests/test_classifier.py
  src/documents/tests/test_management.py
  src/documents/views.py
Labels: non-trivial, backend

#8631 Fix: check permissions for all documents via bulk download
  src/documents/tests/test_api_bulk_download.py
  src/documents/views.py
Labels: non-trivial, backend

#8636 Fix: use state param with oauth
  src/documents/views.py
  src/paperless_mail/oauth.py
  src/paperless_mail/tests/test_mail_oauth.py
  src/paperless_mail/views.py
Labels: non-trivial, backend

#8639 Documentation: Add hint to set Content-Length header
  docs/api.md
Labels: documentation, small-change, skip-changelog

#8683 Documentation: minor formatting fix in config
  docs/configuration.md
Labels: documentation, small-change, skip-changelog

#8693 Fix: use unmodified original for checksum if exists
  src/documents/consumer.py
Labels: backend, small-change

#8706 Fix: include tag component in list view
  src-ui/messages.xlf
  src-ui/src/app/components/document-list/document-list.component.ts
Labels: non-trivial, frontend

#8710 Fix: prevent error if bulk edit method not in MODIFIED_FIELD_BY_METHOD
  src/documents/views.py
Labels: backend, small-change

#8727 Fix: import dnd module for merge confirm dialog
  src-ui/src/app/components/common/confirm-dialog/merge-confirm-dialog/merge-confirm-dialog.component.ts
Labels: non-trivial, frontend

#8729 Fix: remove id of webhook/email actions on copy
  src-ui/messages.xlf
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.html
  src-ui/src/app/components/manage/workflows/workflows.component.spec.ts
  src-ui/src/app/components/manage/workflows/workflows.component.ts
Labels: non-trivial, frontend

#8739 Fix: include tooltip module for custom fields display
  src-ui/src/app/components/common/custom-field-display/custom-field-display.component.ts
Labels: frontend, small-change

#8737 Fix: Ensure email attachments use the latest document path for attachments
  src/documents/signals/handlers.py
Labels: backend, small-change

#8740 Fix: use hard delete when bulk editing custom fields
  src/documents/bulk_edit.py
Labels: backend, small-change

#8741 Fix: pass working file to workflows, pickle file bytes
  src/documents/consumer.py
  src/documents/signals/handlers.py
Labels: non-trivial, backend

#8742 Fix: dont try to parse empty webhook params
  src/documents/signals/handlers.py
Labels: non-trivial, backend

#8749 Fix: import date picker module in cf query dropdown
  src-ui/src/app/components/common/custom-fields-query-dropdown/custom-fields-query-dropdown.component.ts
Labels: bug, frontend, small-change

#8750 Fix: fix email/wh actions on consume started
  src/documents/consumer.py
  src/documents/signals/handlers.py
  src/documents/tests/test_workflows.py
Labels: bug, non-trivial, backend

#8752 Fix: import forms modules for entries component
  src-ui/src/app/components/common/input/entries/entries.component.ts
Labels: frontend, small-change

#8756 Enhancement: set autofocus on MFA code field
  src/documents/templates/mfa/authenticate.html
Labels: backend, small-change

#8757 Fix: Adds a default 30s timeout for emails, instead of no timeout
  src/paperless/settings.py
Labels: bug, backend, small-change

#8771 Fix: handle page out of range in mgmt lists after delete
  src-ui/messages.xlf
  src-ui/src/app/components/manage/management-list/management-list.component.spec.ts
  src-ui/src/app/components/manage/management-list/management-list.component.ts
Labels: bug, non-trivial, frontend

#8762 Fix: use MIMEBase for email attachments
  src/documents/mail.py
  src/documents/signals/handlers.py
Labels: bug, non-trivial, backend

#8790 Fix: Include email and webhook objects in the export
  src/documents/management/commands/document_exporter.py
Labels: bug, backend, small-change

#8793 Documentation: note wget requirement for install script on macOS
  docs/setup.md
Labels: documentation, skip-changelog

#8792 Change: disable API basic auth if MFA enabled
  src/documents/tests/test_api_permissions.py
  src/paperless/auth.py
  src/paperless/settings.py
Labels: enhancement, non-trivial, backend

#8799 Enhancement: allow specifying JSON encoding for webhooks
  docs/usage.md
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.ts
  src-ui/src/app/data/workflow-action.ts
  src/documents/migrations/1061_workflowactionwebhook_as_json.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/signals/handlers.py
  src/documents/tests/test_workflows.py
Labels: enhancement, non-trivial, backend, frontend

#8809 Documentation: Add ISO number example
  docs/advanced_usage.md
Labels: documentation, small-change, skip-changelog

#8812 Fix: better reflect some mail account / rule permissions in UI
  src-ui/src/app/components/manage/mail/mail.component.html
Labels: bug, frontend, small-change

#8817 Documentation: Error in storage paths example in advanced_usage.md
  docs/advanced_usage.md
Labels: documentation, small-change, skip-changelog

#8821 Fix: import router module to not found component
  src-ui/src/app/components/not-found/not-found.component.ts
Labels: bug, frontend, small-change

#8822 Fix: Enforce classifier training ordering to prevent extra training
  src/documents/classifier.py
Labels: bug, non-trivial, backend

#8824 Change: allow generate auth token without a usable password
  src-ui/src/app/components/common/profile-edit-dialog/profile-edit-dialog.component.html
Labels: frontend, small-change

#8833 Fix: fix long tag visual wrapping
  src-ui/src/app/components/common/input/tags/tags.component.html
  src-ui/src/app/components/common/tag/tag.component.scss
Labels: frontend, small-change

#8837 Change: restrict altering and creation of superusers to superusers only
  docs/usage.md
  src-ui/src/app/components/common/edit-dialog/user-edit-dialog/user-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/user-edit-dialog/user-edit-dialog.component.ts
  src/documents/tests/test_admin.py
  src/documents/tests/test_api_permissions.py
  src/paperless/admin.py
  src/paperless/views.py
Labels: enhancement, non-trivial, backend, frontend

#8845 Chore: use simpler method for attaching files to emails
  src/documents/mail.py
  src/documents/tests/samples/eml_with_umlaut.eml
  src/documents/tests/test_workflows.py
Labels: non-trivial, backend

#8884 Fix: resolve cpu usage due to incorrect interval use
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.ts
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.ts
Labels: bug, non-trivial, frontend

#8885 Fixhancement: restore search highlighting and add for built-in viewer
  src-ui/messages.xlf
  src-ui/src/app/components/common/preview-popup/preview-popup.component.html
  src-ui/src/app/components/common/preview-popup/preview-popup.component.spec.ts
  src-ui/src/app/components/common/preview-popup/preview-popup.component.ts
  src-ui/src/app/services/rest/document.service.spec.ts
  src-ui/src/app/services/rest/document.service.ts
Labels: bug, enhancement, non-trivial, frontend

#8887 Change: Revert dropdown sorting
  src-ui/messages.xlf
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.spec.ts
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
Labels: frontend, small-change

#8888 Fix: force set document not dirty before close after save
  src-ui/messages.xlf
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: bug, enhancement, non-trivial, frontend

#8895 Chore: Upgrades dependencies and hook versions
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Dockerfile
  Pipfile.lock
  src/paperless_mail/tests/test_mail.py
Labels: enhancement, small-change

#8905 Fix: include missing fields for saved view widgets
  src-ui/messages.xlf
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.html
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.spec.ts
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.ts
  src-ui/src/app/components/document-list/document-list.component.html
Labels: bug, non-trivial, frontend

#8908 Fix/refactor: remove doc observables, fix username async
  src-ui/messages.xlf
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.spec.ts
  src-ui/src/app/components/common/filterable-dropdown/toggleable-dropdown-button/toggleable-dropdown-button.component.spec.ts
  src-ui/src/app/components/common/tag/tag.component.html
  src-ui/src/app/components/common/tag/tag.component.spec.ts
  src-ui/src/app/components/common/tag/tag.component.ts
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.html
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.ts
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.html
  src-ui/src/app/components/document-list/document-card-large/document-card-large.component.ts
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.html
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.spec.ts
  src-ui/src/app/components/document-list/document-card-small/document-card-small.component.ts
  src-ui/src/app/components/document-list/document-list.component.html
  src-ui/src/app/components/document-list/document-list.component.spec.ts
  src-ui/src/app/components/document-list/document-list.component.ts
  src-ui/src/app/data/document.ts
  src-ui/src/app/pipes/correspondent-name.pipe.spec.ts
  src-ui/src/app/pipes/correspondent-name.pipe.ts
  src-ui/src/app/pipes/document-type-name.pipe.spec.ts
  src-ui/src/app/pipes/document-type-name.pipe.ts
  src-ui/src/app/pipes/object-name.pipe.spec.ts
  src-ui/src/app/pipes/object-name.pipe.ts
  src-ui/src/app/pipes/storage-path-name.pipe.spec.ts
  src-ui/src/app/pipes/storage-path-name.pipe.ts
  src-ui/src/app/pipes/username.pipe.spec.ts
  src-ui/src/app/pipes/username.pipe.ts
  src-ui/src/app/services/rest/document.service.spec.ts
  src-ui/src/app/services/rest/document.service.ts
  src-ui/src/main.ts
Labels: bug, non-trivial, frontend

#8920 Fix: set larger page size for abstract service getFew
  src-ui/src/app/services/rest/abstract-paperless-service.spec.ts
  src-ui/src/app/services/rest/abstract-paperless-service.ts
Labels: frontend, small-change

#8924 Tweak: place items with 0 documents at bottom of filterable list, retain alphabetical
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.spec.ts
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
Labels: non-trivial, frontend

#8912 Fix: backwards-compatible versioned API response for custom field select fields, update default API version
  docs/api.md
  src-ui/src/environments/environment.prod.ts
  src-ui/src/environments/environment.ts
  src/documents/serialisers.py
  src/documents/tests/test_api_custom_fields.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_api_filter_by_custom_fields.py
  src/paperless/settings.py
Labels: bug, non-trivial, backend, frontend

#8937 Enhancement: more expected doc details close behavior
  src-ui/src/app/app.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/services/component-router.service.spec.ts
  src-ui/src/app/services/component-router.service.ts
Labels: enhancement, non-trivial, frontend

#8644 Chore: Switch from os.path to pathlib.Path
  .ruff.toml
  src/documents/consumer.py
  src/documents/signals/handlers.py
  src/documents/tests/test_api_bulk_download.py
  src/documents/tests/test_api_documents.py
Labels: non-trivial, backend

#8945 Feature: Decrease Docker build time with parallel curl
  Dockerfile
Labels: enhancement, small-change

#8947 Feature: Enable zxing for all platforms
  Dockerfile
  Pipfile
  Pipfile.lock
  docs/configuration.md
Labels: enhancement, small-change

#8949 Enhancement: use 'share sheet' for download buttons on mobile
  src-ui/messages.xlf
  src-ui/package-lock.json
  src-ui/package.json
  src-ui/setup-jest.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: enhancement, non-trivial, frontend

#8962 Fix: reflect doc links in bulk modify custom fields
  src/documents/bulk_edit.py
  src/documents/serialisers.py
  src/documents/tests/test_bulk_edit.py
Labels: bug, non-trivial, backend
