Repository paperless-ngx/paperless-ngx, pull requests merged in 2025-07, with the labels that each got.

#9784 Enhancement: Add a database caching for improved performance
  docs/administration.md
  docs/configuration.md
  pyproject.toml
  src/paperless/db_cache.py
  src/paperless/settings.py
  src/paperless/tests/test_db_cache.py
  uv.lock
Labels: enhancement, non-trivial, backend

#10181 Performance: Add support for configuring date parser languages
  docs/configuration.md
  src/documents/parsers.py
  src/documents/tests/test_date_parsing.py
  src/paperless/settings.py
  src/paperless/tests/test_settings.py
  src/paperless/utils.py
Labels: enhancement, non-trivial, backend

#10315 Fix: Fallback to Redis URL if no DB read cache Redis URL provided
  src/paperless/settings.py
Labels: bug, backend, small-change, skip-changelog

#10337 Fix: default to empty permissions for group creation
  src-ui/src/app/components/common/edit-dialog/group-edit-dialog/group-edit-dialog.component.ts
Labels: bug, frontend, small-change

#10352 Feature: add Vietnamese translation
  src-ui/angular.json
  src-ui/messages.xlf
  src-ui/setup-jest.ts
  src-ui/src/app/services/settings.service.ts
  src-ui/src/main.ts
  src/locale/en_US/LC_MESSAGES/django.po
  src/paperless/settings.py
Labels: enhancement, non-trivial, backend, frontend

#10369 Fix: fix date format for 'today' in DateComponent
  src-ui/src/app/components/common/input/date/date.component.ts
Labels: bug, frontend, small-change

#10408 Documentation: Fix URL for PAPERLESS_OCR_LANGUAGE example in docker-compose.env
  docker/compose/docker-compose.env
Labels: documentation, small-change, skip-changelog

#10417 Documentation: copy-edits
  CONTRIBUTING.md
  docker/compose/docker-compose.ci-test.yml
  docker/compose/docker-compose.mariadb-tika.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.sqlite-tika.yml
  docs/administration.md
  docs/development.md
  docs/index.md
  docs/setup.md
  docs/troubleshooting.md
  install-paperless-ngx.sh
Labels: documentation, non-trivial, skip-changelog

#10469 Chore: add tasks task_id param to openapi spec
  src/documents/views.py
Labels: backend

#10473 Fix: include ignore for config logos in sanity checker
  src/documents/sanity_checker.py
Labels: bug, backend, small-change
