Repository paperless-ngx/paperless-ngx, pull requests merged in 2025-05, with the labels that each got.

#9839 Fix: Trim off the path portion to skip poorly named environment variable correctly
  docker/rootfs/etc/s6-overlay/s6-rc.d/init-env-file/run
Labels: small-change

#9846 Fix: correctly handle empty user for old notes api format, fix frontend API version
  src-ui/src/environments/environment.prod.ts
  src/documents/serialisers.py
  src/paperless/settings.py
Labels: backend, frontend, small-change

#9851 Chore: split ci frontend e2e vs unit tests
  .github/workflows/ci.yml
Labels: non-trivial, ci-cd

#9862 Documentation: clarify PAPERLESS_CONSUMER_DISABLE
  docs/configuration.md
Labels: documentation, small-change

#9893 Chore: update s6-overlay to v3.2.1.0
  Dockerfile
Labels: small-change

#9742 Enhancement: add barcode frontend config
  src-ui/src/app/components/admin/config/config.component.spec.ts
  src-ui/src/app/data/paperless-config.ts
  src/documents/barcodes.py
  src/documents/tests/test_api_app_config.py
  src/documents/tests/test_barcodes.py
  src/paperless/config.py
  src/paperless/migrations/0004_applicationconfiguration_barcode_asn_prefix_and_more.py
  src/paperless/models.py
  src/paperless/serialisers.py
Labels: non-trivial, backend, frontend

#9876 Fixhancement: better handle removed social apps in profile
  src/documents/tests/test_api_profile.py
  src/paperless/serialisers.py
Labels: non-trivial, backend

#9746 Enhancement: support negative offset in scheduled workflows
  docs/usage.md
  src-ui/messages.xlf
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.html
  src/documents/migrations/1066_alter_workflowtrigger_schedule_offset_days.py
  src/documents/models.py
  src/documents/tasks.py
  src/documents/tests/test_workflows.py
Labels: enhancement, non-trivial, backend, frontend

#9926 Fix/Chore: replace file drop package
  src-ui/package.json
  src-ui/patches/ngx-file-drop+16.0.0.patch
  src-ui/pnpm-lock.yaml
  src-ui/src/app/app.component.spec.ts
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.spec.ts
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.ts
  src-ui/src/app/components/file-drop/file-drop.component.html
  src-ui/src/app/components/file-drop/file-drop.component.scss
  src-ui/src/app/components/file-drop/file-drop.component.spec.ts
  src-ui/src/app/components/file-drop/file-drop.component.ts
  src-ui/src/app/services/upload-documents.service.spec.ts
  src-ui/src/app/services/upload-documents.service.ts
  src-ui/src/main.ts
Labels: non-trivial, frontend

#9946 Fix: ignore logo file from sanity checker
  src/documents/sanity_checker.py
  src/documents/tests/test_sanity_check.py
Labels: non-trivial, backend

#9949 Fixhancement: automatically disable email verification if no smtp setup
  docs/configuration.md
  src/paperless/settings.py
Labels: backend, small-change

#9970 Chore: improve PR labeling move all labelling to pr-bot workflow
  .github/labeler.yml
  .github/release-drafter.yml
  .github/workflows/pr-bot.yml
Labels: non-trivial, ci-cd, skip-changelog

#9976 Fix: fix created date filtering broken in 2.16.0
  src/documents/filters.py
Labels: bug, non-trivial, backend

#9980 Chore: warn users about removal of postgres v13 support
  src/paperless/checks.py
  src/paperless/tests/test_checks.py
Labels: non-trivial, backend, deployment, dependencies

#10022 Fix: mark fields for created objects as dirty
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: bug, frontend, small-change

#10026 Fix: created date fixes in v2.16
  src/documents/migrations/1067_alter_document_created.py
  src/documents/migrations/1068_alter_document_created.py
  src/documents/models.py
Labels: bug, non-trivial, backend

#10021 Fix: accept datetime for created
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
Labels: bug, non-trivial, backend

#10038 Documentation: add workflow permissions note
  docs/usage.md
Labels: documentation, enhancement, non-trivial, skip-changelog

#10070 Add exception to `utime` in `copy_basic_file_stats`
  src/documents/utils.py
Labels: enhancement, non-trivial, backend

#9977 Enhancement: include DOCUMENT_TYPE to post consume scripts
  docs/advanced_usage.md
  scripts/post-consumption-example.sh
  src/documents/consumer.py
  src/documents/tests/test_consumer.py
Labels: enhancement, non-trivial, backend

#10076 Chore: Removes soon to be removed field "reviewers"
  .github/dependabot.yml
Labels: non-trivial, skip-changelog, development
