Repository paperless-ngx/paperless-ngx, pull requests merged in 2025-02, with the labels that each got.

#8998 Documentation: fix URL to django-rest-framework
  docs/api.md
Labels: bug, documentation, small-change

#9012 Fix: allow empty email in profile
  src/paperless/serialisers.py
Labels: bug, backend, small-change

#9017 Enhancement: allow setting default pdf zoom
  src-ui/messages.xlf
  src-ui/src/app/components/admin/settings/settings.component.html
  src-ui/src/app/components/admin/settings/settings.component.spec.ts
  src-ui/src/app/components/admin/settings/settings.component.ts
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.scss
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/data/ui-settings.ts
Labels: non-trivial, frontend

#9004 Tweak: more accurate classifier last trained time
  src/documents/classifier.py
  src/documents/views.py
Labels: enhancement, non-trivial, backend

#8964 Tweak: improve date matching regex for dates after numbers
  src/documents/parsers.py
Labels: backend, small-change

#8996 Fix: deselect and trigger refresh for deleted documents from bulk operations with "delete originals"
  src-ui/messages.xlf
  src-ui/src/app/app.component.spec.ts
  src-ui/src/app/app.component.ts
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.spec.ts
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.ts
  src-ui/src/app/components/dashboard/widgets/statistics-widget/statistics-widget.component.spec.ts
  src-ui/src/app/components/dashboard/widgets/statistics-widget/statistics-widget.component.ts
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.spec.ts
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/components/document-list/document-list.component.spec.ts
  src-ui/src/app/components/document-list/document-list.component.ts
  src-ui/src/app/data/websocket-documents-deleted-message.ts
  src-ui/src/app/data/websocket-progress-message.ts
  src-ui/src/app/services/consumer-status.service.spec.ts
  src-ui/src/app/services/upload-documents.service.spec.ts
  src-ui/src/app/services/upload-documents.service.ts
  src-ui/src/app/services/websocket-status.service.spec.ts
  src-ui/src/app/services/websocket-status.service.ts
  src/documents/bulk_edit.py
  src/documents/plugins/helpers.py
  src/paperless/consumers.py
  src/paperless/tests/test_websockets.py
Labels: bug, non-trivial, backend, frontend

#9033 Enhancement: date picker and date filter dropdown improvements
  src-ui/e2e/document-list/document-list.spec.ts
  src-ui/e2e/document-list/requests/api-document-list3.har
  src-ui/messages.xlf
  src-ui/src/app/components/common/custom-fields-query-dropdown/custom-fields-query-dropdown.component.html
  src-ui/src/app/components/common/custom-fields-query-dropdown/custom-fields-query-dropdown.component.scss
  src-ui/src/app/components/common/custom-fields-query-dropdown/custom-fields-query-dropdown.component.ts
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.html
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.scss
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.spec.ts
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.ts
  src-ui/src/app/components/common/input/date/date.component.html
  src-ui/src/app/components/common/input/date/date.component.scss
  src-ui/src/app/components/common/input/date/date.component.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
  src-ui/src/app/data/filter-rule-type.ts
  src/documents/filters.py
  src/documents/migrations/1062_alter_savedviewfilterrule_rule_type.py
  src/documents/models.py
Labels: enhancement, non-trivial, backend, frontend

#9006 Chore: use variables for zxing and psycopg version number
  Dockerfile
Labels: small-change

#8946 Enhancement: filter by file type
  src-ui/messages.xlf
  src-ui/src/app/components/dashboard/widgets/statistics-widget/statistics-widget.component.html
  src-ui/src/app/components/dashboard/widgets/statistics-widget/statistics-widget.component.spec.ts
  src-ui/src/app/components/dashboard/widgets/statistics-widget/statistics-widget.component.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
  src-ui/src/app/data/filter-rule-type.ts
  src/documents/filters.py
  src/documents/migrations/1062_alter_savedviewfilterrule_rule_type.py
  src/documents/models.py
  src/documents/tests/test_api_documents.py
Labels: enhancement, non-trivial, backend, frontend

#8948 Feature: openapi spec, full api browser
  Pipfile
  Pipfile.lock
  docs/api.md
  src-ui/src/app/components/common/custom-fields-query-dropdown/custom-fields-query-dropdown.component.spec.ts
  src-ui/src/app/data/custom-field-query.ts
  src/documents/apps.py
  src/documents/filters.py
  src/documents/schema.py
  src/documents/serialisers.py
  src/documents/tests/test_api_permissions.py
  src/documents/tests/test_api_schema.py
  src/documents/views.py
  src/paperless/serialisers.py
  src/paperless/settings.py
  src/paperless/urls.py
  src/paperless/views.py
  src/paperless_mail/serialisers.py
  src/paperless_mail/tests/test_api.py
  src/paperless_mail/views.py
Labels: documentation, enhancement, non-trivial, backend

#9074 Enhancement: Use cached sessions for a minor performance improvement
  src/paperless/settings.py
Labels: enhancement, backend, small-change

#9076 Feature: Chinese Traditional translation
  src-ui/angular.json
  src-ui/messages.xlf
  src-ui/setup-jest.ts
  src-ui/src/app/services/settings.service.ts
  src-ui/src/main.ts
  src/locale/en_US/LC_MESSAGES/django.po
  src/paperless/settings.py
Labels: enhancement, non-trivial, backend, frontend

#9085 Fix: limit document title length in workflows
  src/documents/signals/handlers.py
Labels: bug, backend, small-change

#9099 Chore: more efficient select cf update handler
  src/documents/signals/handlers.py
Labels: enhancement, backend, small-change

#9127 Fix: reset documents sort field if user deletes the custom field
  src-ui/src/app/components/manage/custom-fields/custom-fields.component.ts
  src-ui/src/app/services/document-list-view.service.spec.ts
  src-ui/src/app/services/document-list-view.service.ts
  src-ui/src/app/services/rest/document.service.ts
Labels: bug, non-trivial, frontend

#9128 Enhancement: use charfield for webhook url, custom validation
  src/documents/migrations/1063_alter_workflowactionwebhook_url.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tests/test_api_workflows.py
  src/documents/validators.py
Labels: enhancement, non-trivial, backend

#9139 Fix: wrap selected display fields
  src-ui/src/app/components/common/input/drag-drop-select/drag-drop-select.component.html
Labels: frontend, small-change

#9140 Fix: remove additional scrollbar from popup preview
  src-ui/src/app/components/common/preview-popup/preview-popup.component.scss
Labels: frontend, small-change

#9147 Fix: include account confirm email
  src/paperless/urls.py
Labels: backend, small-change

#9148 Fix: correct logged number of deleted documents on trash
  src/documents/tasks.py
Labels: bug, backend, small-change

#9168 Fix: saved views do not return to default display fields after setting and then removing
  src-ui/messages.xlf
  src-ui/src/app/components/dashboard/widgets/saved-view-widget/saved-view-widget.component.ts
  src-ui/src/app/services/rest/saved-view.service.spec.ts
  src-ui/src/app/services/rest/saved-view.service.ts
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
Labels: bug, non-trivial, backend, frontend

#9170 Enhancement: webui workflowtrigger source option
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.ts
  src-ui/src/app/data/workflow-trigger.ts
  src-ui/src/app/services/upload-documents.service.ts
  src/documents/data_models.py
  src/documents/migrations/1063_alter_workflowactionwebhook_url.py
  src/documents/migrations/1063_alter_workflowactionwebhook_url_and_more.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Labels: enhancement, non-trivial, backend, frontend

#8950 Feature: email document
  src-ui/messages.xlf
  src-ui/src/app/components/common/email-document-dialog/email-document-dialog.component.html
  src-ui/src/app/components/common/email-document-dialog/email-document-dialog.component.scss
  src-ui/src/app/components/common/email-document-dialog/email-document-dialog.component.spec.ts
  src-ui/src/app/components/common/email-document-dialog/email-document-dialog.component.ts
  src-ui/src/app/components/common/share-links-dialog/share-links-dialog.component.html
  src-ui/src/app/components/common/share-links-dialog/share-links-dialog.component.scss
  src-ui/src/app/components/common/share-links-dialog/share-links-dialog.component.spec.ts
  src-ui/src/app/components/common/share-links-dialog/share-links-dialog.component.ts
  src-ui/src/app/components/common/share-links-dropdown/share-links-dropdown.component.html
  src-ui/src/app/components/common/share-links-dropdown/share-links-dropdown.component.scss
  src-ui/src/app/components/document-detail/document-detail.component.html
  src-ui/src/app/components/document-detail/document-detail.component.spec.ts
  src-ui/src/app/components/document-detail/document-detail.component.ts
  src-ui/src/app/services/rest/document.service.spec.ts
  src-ui/src/app/services/rest/document.service.ts
  src-ui/src/main.ts
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Labels: enhancement, non-trivial, backend, frontend

#9188 Development: Fix ImageMagick policy.xml path in devcontainer setup
  .devcontainer/Dockerfile
Labels: small-change, development

#9189 Chore: bump gotenberg docker images
  .devcontainer/docker-compose.devcontainer.sqlite-tika.yml
  docker/compose/docker-compose.ci-test.yml
  docker/compose/docker-compose.mariadb-tika.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.sqlite-tika.yml
Labels: small-change

#9195 Fix: correct split confirm removal
  src-ui/src/app/components/common/confirm-dialog/split-confirm-dialog/split-confirm-dialog.component.ts
Labels: frontend, small-change

#9199 Enhancement: allow disabling the filesystem consumer
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-consumer/run
  docs/configuration.md
  docs/setup.md
Labels: enhancement, backend, small-change

#9039 Enhancement: support default groups for regular and social account signup, syncing on login
  docs/configuration.md
  src/paperless/adapter.py
  src/paperless/apps.py
  src/paperless/settings.py
  src/paperless/signals.py
  src/paperless/tests/test_adapter.py
  src/paperless/tests/test_signals.py
Labels: enhancement, non-trivial, backend

#9217 Chore: Reduce imports for a slight memory improvement
  .ruff.toml
  src/documents/barcodes.py
  src/documents/bulk_download.py
  src/documents/bulk_edit.py
  src/documents/caching.py
  src/documents/classifier.py
  src/documents/filters.py
  src/documents/index.py
  src/documents/matching.py
  src/documents/parsers.py
  src/documents/serialisers.py
  src/documents/signals/handlers.py
Labels: non-trivial, backend

#9224 Fix: prune invalid custom fields from saved view display fields
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
Labels: backend, small-change

#9225 Fix: cleanup saved view references on custom field deletion, auto-refresh views, show error on saved view save
  src-ui/messages.xlf
  src-ui/src/app/components/document-list/document-list.component.spec.ts
  src-ui/src/app/components/document-list/document-list.component.ts
  src-ui/src/app/components/manage/custom-fields/custom-fields.component.ts
  src/documents/serialisers.py
  src/documents/signals/handlers.py
  src/documents/tests/test_api_documents.py
Labels: bug, non-trivial, backend, frontend

#9232 Chore: Switch remote version check to HTTPx
  src/documents/tests/conftest.py
  src/documents/tests/test_api_remote_version.py
  src/documents/views.py
Labels: non-trivial, backend

#9244 Enhancement: relocate and smaller upload widget, dont limit upload list
  src-ui/messages.xlf
  src-ui/src/app/components/dashboard/dashboard.component.html
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.html
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.scss
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.spec.ts
  src-ui/src/app/components/dashboard/widgets/upload-file-widget/upload-file-widget.component.ts
  src-ui/src/app/components/dashboard/widgets/widget-frame/widget-frame.component.html
  src-ui/src/app/components/dashboard/widgets/widget-frame/widget-frame.component.ts
Labels: enhancement, non-trivial, frontend

#9218 Feature: Switch webserver to granian
  .github/dependabot.yml
  .github/workflows/ci.yml
  Dockerfile
  Pipfile
  Pipfile.lock
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-webserver/run
  docs/configuration.md
  docs/faq.md
  docs/setup.md
  docs/troubleshooting.md
  docs/usage.md
  gunicorn.conf.py
  scripts/paperless-webserver.service
  src/paperless/workers.py
  webserver.py
Labels: enhancement, non-trivial, backend
