Repository paperless-ngx/paperless-ngx, pull requests merged in 2025-03, with the labels that each got.

#9271 Fix: handle null workflow body and email subject
  src/documents/signals/handlers.py
Labels: bug, non-trivial, backend

#9269 Enhancement: Add slugify filter in templating
  docs/advanced_usage.md
  src/documents/templating/filepath.py
  src/documents/tests/test_file_handling.py
Labels: enhancement, non-trivial, backend

#9292 Chore: Combine Python settings files
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .python-version
  .ruff.toml
  pyproject.toml
  src/setup.cfg
Labels: non-trivial, backend, ci-cd

#9295 Chore: Enables Codecov test reporting for the backend
  .github/workflows/ci.yml
  pyproject.toml
Labels: non-trivial, ci-cd

#9293 Fix: Switches data to content to upload raw bytes/text content
  src/documents/signals/handlers.py
  src/documents/tests/test_workflows.py
Labels: bug, backend, small-change

#9298 Chore: Removes undocumented FileInfo
  src/documents/consumer.py
  src/documents/models.py
  src/documents/tests/test_consumer.py
  src/paperless/settings.py
Labels: backend, small-change

#9297 Chore: Split out some items into extras
  .github/workflows/ci.yml
  Dockerfile
  docs/setup.md
  pyproject.toml
  uv.lock
Labels: documentation, non-trivial, ci-cd

#9296 Chore: add codecov frontend test results
  .github/workflows/ci.yml
  .gitignore
  src-ui/jest.config.js
  src-ui/package-lock.json
  src-ui/package.json
Labels: non-trivial, frontend

#9272 Enhancement: support assigning custom field values in workflows
  src-ui/messages.xlf
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.html
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.spec.ts
  src-ui/src/app/components/common/edit-dialog/workflow-edit-dialog/workflow-edit-dialog.component.ts
  src-ui/src/app/components/common/input/custom-fields-values/custom-fields-values.component.html
  src-ui/src/app/components/common/input/custom-fields-values/custom-fields-values.component.scss
  src-ui/src/app/components/common/input/custom-fields-values/custom-fields-values.component.spec.ts
  src-ui/src/app/components/common/input/custom-fields-values/custom-fields-values.component.ts
  src-ui/src/app/data/workflow-action.ts
  src/documents/consumer.py
  src/documents/data_models.py
  src/documents/migrations/1065_workflowaction_assign_custom_fields_values.py
  src/documents/models.py
  src/documents/serialisers.py
  src/documents/signals/handlers.py
  src/documents/tests/test_api_documents.py
  src/documents/tests/test_consumer.py
  src/documents/tests/test_workflows.py
  src/documents/views.py
  src/locale/en_US/LC_MESSAGES/django.po
Labels: enhancement, non-trivial, backend, frontend

#9305 Enhancement: add switch to allow merging non-PDFs with archive version
  src-ui/messages.xlf
  src-ui/src/app/components/common/confirm-dialog/merge-confirm-dialog/merge-confirm-dialog.component.html
  src-ui/src/app/components/common/confirm-dialog/merge-confirm-dialog/merge-confirm-dialog.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src/documents/bulk_edit.py
  src/documents/serialisers.py
  src/documents/tests/test_bulk_edit.py
Labels: enhancement, non-trivial, backend, frontend

#9306 Chore: remove popper preventOverflow fix
  src-ui/src/app/components/common/custom-fields-query-dropdown/custom-fields-query-dropdown.component.ts
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.ts
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
  src-ui/src/app/utils/popper-options.spec.ts
  src-ui/src/app/utils/popper-options.ts
Labels: non-trivial, frontend

#9307 Enhancement: reorganize dates dropdown, add more relative options
  src-ui/e2e/document-list/document-list.spec.ts
  src-ui/messages.xlf
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.html
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.scss
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.spec.ts
  src-ui/src/app/components/common/dates-dropdown/dates-dropdown.component.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
Labels: non-trivial, frontend

#9060 Chore: Switch from os.path to pathlib.Path
  pyproject.toml
  src/documents/migrations/0012_auto_20160305_0040.py
  src/documents/migrations/0014_document_checksum.py
  src/documents/migrations/1003_mime_types.py
  src/documents/models.py
  src/documents/tasks.py
  src/documents/tests/test_api_app_config.py
  src/documents/tests/test_classifier.py
  src/documents/tests/test_management_thumbnails.py
  src/documents/tests/test_tasks.py
  src/documents/tests/test_views.py
  src/paperless/tests/test_checks.py
  src/paperless/urls.py
  src/paperless_mail/preprocessor.py
  src/paperless_tesseract/parsers.py
  src/paperless_tika/tests/test_live_tika.py
  src/paperless_tika/tests/test_tika_parser.py
Labels: non-trivial, backend

#9322 Fix: add account_inactive template / url
  src/documents/templates/account/account_inactive.html
  src/locale/en_US/LC_MESSAGES/django.po
  src/paperless/urls.py
Labels: bug, non-trivial, backend

#9321 Fix: fix typo in altered migration
  src/documents/migrations/0012_auto_20160305_0040.py
Labels: bug, backend, small-change

#9308 Chore: ensure codecov upload gets attempted
  .codecov.yml
  .github/workflows/ci.yml
Labels: enhancement, small-change, ci-cd

#9328 Chore: Adds an option for funding through GitHub sponsors
  .github/FUNDING.yml
Labels: small-change, ci-cd, skip-changelog

#9331 Fix: correct all results with whoosh queries
  src/paperless/views.py
Labels: bug, backend, small-change

#9336 Fix: fix notes serializing in API document response
  src/documents/serialisers.py
  src/documents/tests/test_api_documents.py
  src/documents/views.py
Labels: bug, non-trivial, backend

#9342 Chore: Enables dependabot for Dockerfile and our Compose files
  .github/dependabot.yml
Labels: non-trivial, ci-cd

#9356 Fix typo in inactive account template
  src/documents/templates/account/account_inactive.html
  src/locale/en_US/LC_MESSAGES/django.po
Labels: bug, backend, small-change

#9354 Ensure the directories have been overridden and created for this test
  src/documents/tests/test_migration_document_pages_count.py
Labels: backend, small-change

#9362 Tweak: add saved views hint to dashboard
  src-ui/messages.xlf
  src-ui/src/app/components/dashboard/dashboard.component.html
  src-ui/src/app/components/dashboard/dashboard.component.spec.ts
  src-ui/src/app/components/dashboard/dashboard.component.ts
Labels: non-trivial, frontend

#9359 Fix: Always clean up INotify
  src/documents/management/commands/document_consumer.py
Labels: bug, non-trivial, backend

#9363 Development: change frontend package manager to pnpm
  .devcontainer/Dockerfile
  .devcontainer/vscode/tasks.json
  .github/dependabot.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Dockerfile
  docs/development.md
  src-ui/.npmrc
  src-ui/angular.json
  src-ui/jest.config.js
  src-ui/package-lock.json
  src-ui/package.json
  src-ui/playwright.config.ts
  src-ui/pnpm-lock.yaml
Labels: non-trivial, frontend

#9382 Fix: clear custom field query dropdown on close if invalid
  src-ui/src/app/components/common/custom-fields-query-dropdown/custom-fields-query-dropdown.component.spec.ts
  src-ui/src/app/components/common/custom-fields-query-dropdown/custom-fields-query-dropdown.component.ts
Labels: bug, frontend, small-change

#9384 Fix: only parse custom field queries when valid
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
Labels: bug, frontend, small-change

#9387 Change: sync OIDC groups on first login too
  src/paperless/adapter.py
Labels: bug, backend, small-change

#9392 Fix: use correct filename with webhook
  src/documents/signals/handlers.py
Labels: bug, backend, small-change

#9393 Change: better handle permissions in patch requests
  src/documents/permissions.py
  src/documents/serialisers.py
  src/documents/tests/test_api_permissions.py
Labels: bug, non-trivial, backend

#9429 Enhancement: support more 'not assigned' filtering, refactor
  src-ui/messages.xlf
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.spec.ts
  src-ui/src/app/components/common/filterable-dropdown/filterable-dropdown.component.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.html
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.spec.ts
  src-ui/src/app/components/document-list/bulk-editor/bulk-editor.component.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.html
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.spec.ts
  src-ui/src/app/components/document-list/filter-editor/filter-editor.component.ts
  src-ui/src/app/data/filter-rule-type.ts
  src-ui/src/app/utils/query-params.spec.ts
  src-ui/src/app/utils/query-params.ts
Labels: enhancement, non-trivial, frontend

#9453 Fix: fix auto-close when doc update no longer has permissions
  src-ui/messages.xlf
  src-ui/src/app/components/document-detail/document-detail.component.ts
Labels: bug, documentation, non-trivial, backend, frontend

#9459 Fix: only overwrite existing cf values in workflow if set
  src/documents/signals/handlers.py
Labels: bug, backend, small-change

#9494 Fix: Switch to using uvloop and upgrade for some ASGI fixes
  docker/rootfs/etc/s6-overlay/s6-rc.d/svc-webserver/run
  pyproject.toml
  uv.lock
Labels: small-change

#9499 Fix: Make management commands aware of the container environment
  Dockerfile
  docker/compose/docker-compose.mariadb-tika.yml
  docker/compose/docker-compose.mariadb.yml
  docker/compose/docker-compose.portainer.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.postgres.yml
  docker/compose/docker-compose.sqlite-tika.yml
  docker/compose/docker-compose.sqlite.yml
  docker/install_management_commands.sh
  docker/rootfs/usr/local/bin/createsuperuser
  docs/setup.md
Labels: small-change

#9506 Documentation: correct static url description
  docs/configuration.md
Labels: documentation, small-change, skip-changelog

#9508 Fix: fix cf dropdown placement on mobile
  src-ui/messages.xlf
  src-ui/src/app/components/common/custom-fields-dropdown/custom-fields-dropdown.component.html
  src-ui/src/app/components/common/custom-fields-dropdown/custom-fields-dropdown.component.ts
Labels: non-trivial, frontend

#9500 Enhancement: allow webUI first account signup
  docker/compose/docker-compose.mariadb-tika.yml
  docker/compose/docker-compose.mariadb.yml
  docker/compose/docker-compose.portainer.yml
  docker/compose/docker-compose.postgres-tika.yml
  docker/compose/docker-compose.postgres.yml
  docker/compose/docker-compose.sqlite-tika.yml
  docker/compose/docker-compose.sqlite.yml
  docs/administration.md
  docs/development.md
  docs/setup.md
  src/documents/context_processors.py
  src/documents/templates/account/login.html
  src/documents/templates/account/signup.html
  src/locale/en_US/LC_MESSAGES/django.po
  src/paperless/adapter.py
  src/paperless/tests/test_adapter.py
Labels: enhancement, non-trivial, backend
